In [51]:
import pandas as pd
import numpy as np

In [71]:
data_raw = pd.read_excel("BSR markery  z 5R.xlsx")

In [72]:
data_raw.head()

,CloneID,BSR2,BSR3,BSR4,BSR5,BSR6,BSR8,BSR9,BSR10,BSR11,...,BSR107,BSR109,BSR110,BSR111,BSR113,BSR115,BSR116,BSR117,BSR119,BSR120
0,dw8,c,b,h,h,h,b,b,h,-,...,d,a,h,h,h,b,d,b,h,d
1,cD7,D,B,D,D,D,B,B,D,D,...,D,D,D,D,D,B,D,D,B,D
2,Xpr122_1050,d,d,b,b,d,d,d,b,d,...,d,d,d,d,d,b,-,d,b,b
3,Xpr181_920,d,d,d,b,d,d,b,d,d,...,d,b,d,d,d,-,-,d,b,d
4,F25439,h,b,d,d,d,b,b,d,d,...,d,d,d,d,d,b,d,b,d,d

In [73]:
columns = list(data_raw.columns)
columns.remove("CloneID")
for c in columns:
    print(c)
    print(data_raw[c].value_counts())

BSR2
d    2018
c     895
a     535
h     396
b     185
-     138
D       1
Name: BSR2, dtype: int64
BSR3
d    1346
c    1197
b    1058
h     420
-     100
a      46
B       1
Name: BSR3, dtype: int64
BSR4
d    2155
c    1222
h     622
-      73
b      52
a      43
D       1
Name: BSR4, dtype: int64
BSR5
b    1814
c     917
d     817
a     518
h      58
-      43
D       1
Name: BSR5, dtype: int64
BSR6
d    1981
c     918
h     469
a     466
b     215
-     118
D       1
Name: BSR6, dtype: int64
BSR8
d    1723
c    1205
b     567
h     514
-     114
a      44
B       1
Name: BSR8, dtype: int64
BSR9
d    1247
b    1203
c    1131
h     343
a     184
-      59
B       1
Name: BSR9, dtype: int64
BSR10
d    1816
c     996
b     464
h     424
a     374
-      93
D       1
Name: BSR10, dtype: int64
BSR11
d    2052
c     872
a     652
h     337
b     190
-      64
D       1
Name: BSR11, dtype: int64
BSR12
d    2209
a    1681
c     175
h      51
-      35
b      16
D       1
Name: BSR12, dtype: int64
BSR14
d    1953
c    1151
h     609
-     212
b     192
a      50
D       1
Name: BSR14, dtype: int64
BSR15
d    1906
c    1204
h     544
b     372
a      79
-      62
D       1
Name: BSR15, dtype: int64
BSR16
d    2116
c    1105
h     583
a     184
-     118
b      61
D       1
Name: BSR16, dtype: int64
BSR18
d    2065
c    1140
h     606
-     211
a      92
b      53
D       1
Name: BSR18, dtype: int64
BSR19
c    1225
b    1225
d    1216
h     390
-      77
a      34
B       1
Name: BSR19, dtype: int64
BSR20
b    1305
c    1226
d    1222
h     296
-      78
a      40
B       1
Name: BSR20, dtype: int64
BSR21
d    1972
c     842
a     623
h     381
b     249
-     100
D       1
Name: BSR21, dtype: int64
BSR23
d    1419
c    1228
b     910
h     460
-     116
a      34
B       1
Name: BSR23, dtype: int64
BSR24
b    1381
c    1215
d    1058
h     370
-     106
a      37
B       1
Name: BSR24, dtype: int64
BSR25
d    1471
c    1180
b     903
h     422
-     121
a      70
B       1
Name: BSR25, dtype: int64
BSR26
b    1392
d    1149
c    1039
a     285
h     205
-      97
D       1
Name: BSR26, dtype: int64
BSR29
d    1976
c    1024
h     494
a     309
b     253
-     111
D       1
Name: BSR29, dtype: int64
BSR30
d    2177
a    1743
-     104
c     101
h      23
b      19
D       1
Name: BSR30, dtype: int64
BSR32
d    1322
b    1094
c     778
a     622
-     207
h     144
D       1
Name: BSR32, dtype: int64
BSR33
d    1227
c     990
b     849
-     658
h     375
a      68
D       1
Name: BSR33, dtype: int64
BSR34
d    1285
b    1066
c     866
a     554
-     209
h     187
B       1
Name: BSR34, dtype: int64
BSR36
d    1693
c     983
-     570
h     566
b     230
a     125
D       1
Name: BSR36, dtype: int64
BSR38
d    1167
b    1155
c    1101
-     384
h     305
a      55
D       1
Name: BSR38, dtype: int64
BSR39
d    1419
c    1018
b     747
h     437
-     391
a     155
D       1
Name: BSR39, dtype: int64
BSR40
b    1810
c    1181
d     713
-     212
h     196
a      55
B       1
Name: BSR40, dtype: int64
BSR41
d    1672
a    1028
b     641
c     526
-     169
h     131
D       1
Name: BSR41, dtype: int64
BSR42
d    1883
c     904
h     570
-     545
a     234
b      31
D       1
Name: BSR42, dtype: int64
BSR44
b    1902
c    1161
d     642
-     245
h     178
a      39
B       1
Name: BSR44, dtype: int64
BSR45
b    1887
c    1162
d     611
-     282
h     185
a      40
D       1
Name: BSR45, dtype: int64
BSR46
d    1140
c    1055
b    1032
-     478
h     412
a      50
D       1
Name: BSR46, dtype: int64
BSR47
d    1862
c     946
h     572
-     538
a     166
b      83
D       1
Name: BSR47, dtype: int64
BSR48
d    1807
a     936
c     567
-     321
b     301
h     235
D       1
Name: BSR48, dtype: int64
BSR49
d    1765
c    1035
-     601
h     598
b     135
a      33
D       1
Name: BSR49, dtype: int64
BSR50
d    2102
a    1347
c     344
-     213
h     140
b      21
D       1
Name: BSR50, dtype: int64
BSR51
d    1807
c     851
a     477
h     420
b     317
-     295
D       1
Name: BSR51, dtype: int64
BSR52
d    1991
a    1116
c     416
h     274
-     220
b     150
D       1
Name: BSR52, dtype: int64
BSR53
d    1271
c    1139
b     993
-     375
h     373
a      16
D       1
Name: BSR53, dtype: int64
BSR54
d    1644
c     831
-     483
h     452
b     395
a     362
D       1
Name: BSR54, dtype: int64
BSR55
d    2007
a    1013
c     483
h     316
-     279
b      69
D       1
Name: BSR55, dtype: int64
BSR56
b    1760
c    1030
d     790
a     269
-     198
h     120
B       1
Name: BSR56, dtype: int64
BSR58
d    1957
c     764
a     521
h     473
-     389
b      63
D       1
Name: BSR58, dtype: int64
BSR60
b    1953
c    1139
d     650
-     196
h     125
a     104
B       1
Name: BSR60, dtype: int64
BSR62
b    1220
c    1123
d    1112
h     369
-     267
a      76
B       1
Name: BSR62, dtype: int64
BSR63
d    1911
c     754
a     573
-     465
h     394
b      70
D       1
Name: BSR63, dtype: int64
BSR65
d    1831
c     862
h     494
-     477
a     349
b     154
D       1
Name: BSR65, dtype: int64
BSR66
d    1565
c    1019
-     590
h     544
b     385
a      64
D       1
Name: BSR66, dtype: int64
BSR67
b    1814
c    1179
d     565
-     409
h     168
a      32
B       1
Name: BSR67, dtype: int64
BSR68
b    1670
c    1189
d     751
h     303
-     222
a      32
B       1
Name: BSR68, dtype: int64
BSR69
d    1842
c     729
a     612
h     386
-     339
b     259
D       1
Name: BSR69, dtype: int64
BSR71
d    1639
c     969
h     501
-     430
b     418
a     210
D       1
Name: BSR71, dtype: int64
BSR72
d    1838
c     954
h     578
-     575
a     162
b      60
D       1
Name: BSR72, dtype: int64
BSR73
d    2064
a    1264
c     377
-     272
h     175
b      15
D       1
Name: BSR73, dtype: int64
BSR74
d    1423
c    1040
b     611
h     505
-     504
a      84
D       1
Name: BSR74, dtype: int64
BSR75
b    1859
c     864
d     775
a     577
-      67
h      25
B       1
Name: BSR75, dtype: int64
BSR77
d    1497
a     939
b     785
c     640
-     197
h     109
B       1
Name: BSR77, dtype: int64
BSR78
d    1205
b    1061
c    1057
-     430
h     313
a     101
D       1
Name: BSR78, dtype: int64
BSR80
d    1363
c    1056
b     722
-     513
h     470
a      43
B       1
Name: BSR80, dtype: int64
BSR81
d    1319
c    1142
b     960
h     408
-     313
a      25
B       1
Name: BSR81, dtype: int64
BSR83
d    1803
c     900
-     596
h     585
a     192
b      91
D       1
Name: BSR83, dtype: int64
BSR84
d    1642
c    1009
-     596
h     556
b     287
a      77
D       1
Name: BSR84, dtype: int64
BSR85
b    1487
c    1155
d     906
h     317
-     242
a      60
B       1
Name: BSR85, dtype: int64
BSR86
d    1512
c    1066
h     526
-     525
b     496
a      42
D       1
Name: BSR86, dtype: int64
BSR87
b    1698
c    1114
d     744
-     332
h     211
a      68
D       1
Name: BSR87, dtype: int64
BSR88
d    1551
c     833
b     603
h     409
a     403
-     368
D       1
Name: BSR88, dtype: int64
BSR89
d    2053
a    1021
c     516
-     310
h     249
b      18
D       1
Name: BSR89, dtype: int64
BSR90
d    1708
c    1049
h     551
-     497
b     288
a      74
B       1
Name: BSR90, dtype: int64
BSR92
d    1470
c    1061
b     747
-     403
h     378
a     108
D       1
Name: BSR92, dtype: int64
BSR93
b    1751
c    1010
d     805
a     323
-     160
h     118
B       1
Name: BSR93, dtype: int64
BSR94
b    2460
c    1209
d     274
-     128
h      50
a      46
B       1
Name: BSR94, dtype: int64
BSR95
b    1200
d    1087
c     905
a     347
-     343
h     285
B       1
Name: BSR95, dtype: int64
BSR96
b    1201
d    1104
c     888
-     345
a     341
h     288
D       1
Name: BSR96, dtype: int64
BSR97
d    1479
a    1051
b     862
c     550
-     152
h      73
D       1
Name: BSR97, dtype: int64
BSR98
d    1328
b     891
c     798
a     609
-     319
h     222
B       1
Name: BSR98, dtype: int64
BSR99
b    1750
c    1056
d     791
-     205
a     205
h     160
B       1
Name: BSR99, dtype: int64
BSR103
b    1609
c     999
d     883
a     276
-     227
h     173
B       1
Name: BSR103, dtype: int64
BSR104
d    1936
c     719
a     592
h     437
-     376
b     107
D       1
Name: BSR104, dtype: int64
BSR106
d    1731
c    1025
h     585
-     525
b     239
a      62
D       1
Name: BSR106, dtype: int64
BSR107
d    2126
a    1307
c     323
-     208
h     194
b       9
D       1
Name: BSR107, dtype: int64
BSR109
d    1981
a     711
c     632
h     411
-     407
b      25
D       1
Name: BSR109, dtype: int64
BSR110
d    1952
c     679
a     631
h     448
-     395
b      62
D       1
Name: BSR110, dtype: int64
BSR111
d    1966
a     796
c     623
-     388
h     337
b      57
D       1
Name: BSR111, dtype: int64
BSR113
d    2172
a    1570
c     220
-     122
h      74
b       9
D       1
Name: BSR113, dtype: int64
BSR115
b    1385
c    1049
d    1039
h     260
-     221
a     213
B       1
Name: BSR115, dtype: int64
BSR116
d    1954
c     716
a     585
h     458
-     416
b      38
D       1
Name: BSR116, dtype: int64
BSR117
d    1685
a    1289
b     602
c     417
-     127
h      47
D       1
Name: BSR117, dtype: int64
BSR119
b    1609
c    1170
d     849
-     290
h     220
a      29
B       1
Name: BSR119, dtype: int64
BSR120
d    1993
a     732
c     657
h     394
-     346
b      45
D       1
Name: BSR120, dtype: int64

In [75]:
data_raw = data_raw.set_index("CloneID")
data_raw = data_raw.transpose()

In [76]:
columns = list(data_raw.columns)
for c in columns:
    print(c)
    print(data_raw[c].value_counts())

dw8
h    41
b    24
-     9
d     8
a     7
c     3
Name: dw8, dtype: int64
cD7
D    62
B    30
Name: cD7, dtype: int64
Xpr122_1050
d    64
b    27
-     1
Name: Xpr122_1050, dtype: int64
Xpr181_920
d    58
b    25
-     9
Name: Xpr181_920, dtype: int64
F25439
d    64
b    21
-     4
h     2
a     1
Name: F25439, dtype: int64
3341747
d    80
-    11
b     1
Name: 3341747, dtype: int64
3341801
d    69
b    21
-     2
Name: 3341801, dtype: int64
3341818
d    64
b    27
-     1
Name: 3341818, dtype: int64
3341885
c    70
a    22
Name: 3341885, dtype: int64
3341890
d    65
b    25
-     2
Name: 3341890, dtype: int64
3341894
d    59
b    29
-     4
Name: 3341894, dtype: int64
3341912
d    62
b    24
-     6
Name: 3341912, dtype: int64
3341914
c    67
a    19
-     6
Name: 3341914, dtype: int64
3341921
d    71
b    20
-     1
Name: 3341921, dtype: int64
3341945
d    62
b    21
-     9
Name: 3341945, dtype: int64
3341971
d    69
-    13
b    10
Name: 3341971, dtype: int64
3341987
d    68
b    20
-     4
Name: 3341987, dtype: int64
3342033
d    67
b    20
-     5
Name: 3342033, dtype: int64
3342068
c    69
a    23
Name: 3342068, dtype: int64
3342084
d    60
b    30
-     2
Name: 3342084, dtype: int64
3342095
d    69
b    20
-     3
Name: 3342095, dtype: int64
3342113
d    65
b    26
-     1
Name: 3342113, dtype: int64
3342120
d    61
b    25
-     6
Name: 3342120, dtype: int64
3342137
c    72
a    17
-     3
Name: 3342137, dtype: int64
3342159
c    71
a    17
-     4
Name: 3342159, dtype: int64
3342193
d    66
b    19
-     7
Name: 3342193, dtype: int64
3342251
d    66
b    19
-     7
Name: 3342251, dtype: int64
3342277
d    63
b    16
-    13
Name: 3342277, dtype: int64
3342303
d    71
b    19
-     2
Name: 3342303, dtype: int64
3342339
c    70
a    19
-     3
Name: 3342339, dtype: int64
3342377
c    64
a    20
-     8
Name: 3342377, dtype: int64
3342397
d    60
b    26
-     6
Name: 3342397, dtype: int64
3342408
d    64
b    22
-     6
Name: 3342408, dtype: int64
3342426
d    66
b    23
-     3
Name: 3342426, dtype: int64
3342434
d    63
b    26
-     3
Name: 3342434, dtype: int64
3342524
d    65
b    22
-     5
Name: 3342524, dtype: int64
3342546
d    65
b    20
-     7
Name: 3342546, dtype: int64
3342581
d    59
b    26
-     7
Name: 3342581, dtype: int64
3342584
c    64
a    22
-     6
Name: 3342584, dtype: int64
3342611
c    77
-    12
a     3
Name: 3342611, dtype: int64
3342624
d    66
b    21
-     5
Name: 3342624, dtype: int64
3342643
d    57
b    26
-     9
Name: 3342643, dtype: int64
3342670
d    67
b    23
-     2
Name: 3342670, dtype: int64
3342687
d    62
b    26
-     4
Name: 3342687, dtype: int64
3342699
c    65
a    21
-     6
Name: 3342699, dtype: int64
3342735
d    63
b    24
-     5
Name: 3342735, dtype: int64
3342737
d    62
b    23
-     7
Name: 3342737, dtype: int64
3342743
d    67
b    20
-     5
Name: 3342743, dtype: int64
3342784
d    53
b    30
-     9
Name: 3342784, dtype: int64
3342836
d    60
b    28
-     4
Name: 3342836, dtype: int64
3342847
d    68
b    21
-     3
Name: 3342847, dtype: int64
3342893
d    64
b    22
-     6
Name: 3342893, dtype: int64
3342900
d    65
b    19
-     8
Name: 3342900, dtype: int64
3342908
d    59
b    26
-     7
Name: 3342908, dtype: int64
3342927
c    63
a    23
-     6
Name: 3342927, dtype: int64
3342936
d    65
b    23
-     4
Name: 3342936, dtype: int64
3342977
c    60
a    22
-    10
Name: 3342977, dtype: int64
3343010
d    54
b    27
-    11
Name: 3343010, dtype: int64
3343016
c    62
a    24
-     6
Name: 3343016, dtype: int64
3343032
d    65
b    19
-     8
Name: 3343032, dtype: int64
3343033
d    66
b    20
-     6
Name: 3343033, dtype: int64
3343062
d    67
b    17
-     8
Name: 3343062, dtype: int64
3343074
d    66
b    21
-     5
Name: 3343074, dtype: int64
3343076
d    63
b    22
-     7
Name: 3343076, dtype: int64
3343091
d    66
b    26
Name: 3343091, dtype: int64
3343130
c    74
a    15
-     3
Name: 3343130, dtype: int64
3343135
d    54
b    25
-    13
Name: 3343135, dtype: int64
3343158
c    60
a    22
-    10
Name: 3343158, dtype: int64
3343248
d    57
b    29
-     6
Name: 3343248, dtype: int64
3343277
d    65
b    24
-     3
Name: 3343277, dtype: int64
3343339
c    55
a    28
-     9
Name: 3343339, dtype: int64
3343364
d    69
b    21
-     2
Name: 3343364, dtype: int64
3343365
d    58
b    30
-     4
Name: 3343365, dtype: int64
3343421
d    59
b    30
-     3
Name: 3343421, dtype: int64
3343427
d    61
b    20
-    11
Name: 3343427, dtype: int64
3343430
d    61
b    25
-     6
Name: 3343430, dtype: int64
3343439
d    59
b    21
-    12
Name: 3343439, dtype: int64
3343448
c    72
a    19
-     1
Name: 3343448, dtype: int64
3343483
d    61
b    24
-     7
Name: 3343483, dtype: int64
3343488
d    59
b    27
-     6
Name: 3343488, dtype: int64
3343517
c    68
a    19
-     5
Name: 3343517, dtype: int64
3343550
d    57
b    29
-     6
Name: 3343550, dtype: int64
3343553
c    66
a    18
-     8
Name: 3343553, dtype: int64
3343570
c    63
a    21
-     8
Name: 3343570, dtype: int64
3343603
c    66
a    19
-     7
Name: 3343603, dtype: int64
3343631
c    57
a    30
-     5
Name: 3343631, dtype: int64
3343641
d    68
b    15
-     9
Name: 3343641, dtype: int64
3343648
c    61
a    23
-     8
Name: 3343648, dtype: int64
3343656
d    61
b    26
-     5
Name: 3343656, dtype: int64
3343658
c    69
a    17
-     6
Name: 3343658, dtype: int64
3343687
d    66
b    19
-     7
Name: 3343687, dtype: int64
3343710
d    65
b    22
-     5
Name: 3343710, dtype: int64
3343714
c    76
a    13
-     3
Name: 3343714, dtype: int64
3343742
c    74
a    16
-     2
Name: 3343742, dtype: int64
3343766
d    66
b    20
-     6
Name: 3343766, dtype: int64
3343785
d    64
b    24
-     4
Name: 3343785, dtype: int64
3343835
c    62
a    23
-     7
Name: 3343835, dtype: int64
3343840
c    64
a    18
-    10
Name: 3343840, dtype: int64
3343841
d    62
b    24
-     6
Name: 3343841, dtype: int64
3343842
c    67
a    22
-     3
Name: 3343842, dtype: int64
3343850
d    63
b    22
-     7
Name: 3343850, dtype: int64
3343852
c    64
a    21
-     7
Name: 3343852, dtype: int64
3343854
d    57
b    24
-    11
Name: 3343854, dtype: int64
3343865
c    71
a    16
-     5
Name: 3343865, dtype: int64
3343866
d    64
b    24
-     4
Name: 3343866, dtype: int64
3343868
d    59
b    28
-     5
Name: 3343868, dtype: int64
3343952
d    62
b    24
-     6
Name: 3343952, dtype: int64
3343970
c    66
a    17
-     9
Name: 3343970, dtype: int64
3343978
d    66
b    23
-     3
Name: 3343978, dtype: int64
3344013
c    71
a    13
-     8
Name: 3344013, dtype: int64
3344046
c    61
a    22
-     9
Name: 3344046, dtype: int64
3344048
d    65
b    20
-     7
Name: 3344048, dtype: int64
3344063
d    61
b    22
-     9
Name: 3344063, dtype: int64
3344068
d    57
b    26
-     9
Name: 3344068, dtype: int64
3344081
c    71
a    20
-     1
Name: 3344081, dtype: int64
3344092
c    67
a    21
-     4
Name: 3344092, dtype: int64
3344134
c    70
a    17
-     5
Name: 3344134, dtype: int64
3344157
d    71
b    19
-     2
Name: 3344157, dtype: int64
3344229
c    70
a    16
-     6
Name: 3344229, dtype: int64
3344237
c    70
a    14
-     8
Name: 3344237, dtype: int64
3344256
c    69
a    16
-     7
Name: 3344256, dtype: int64
3344288
d    62
b    24
-     6
Name: 3344288, dtype: int64
3344304
c    63
a    23
-     6
Name: 3344304, dtype: int64
3344332
c    64
a    21
-     7
Name: 3344332, dtype: int64
3344341
c    70
a    16
-     6
Name: 3344341, dtype: int64
3344379
d    60
b    27
-     5
Name: 3344379, dtype: int64
3344382
d    61
b    25
-     6
Name: 3344382, dtype: int64
3344396
c    54
a    21
-    17
Name: 3344396, dtype: int64
3344404
c    65
a    22
-     5
Name: 3344404, dtype: int64
3344416
c    64
a    22
-     6
Name: 3344416, dtype: int64
3344461
d    57
b    24
-    11
Name: 3344461, dtype: int64
3344499
c    56
a    23
-    13
Name: 3344499, dtype: int64
3344521
c    62
a    25
-     5
Name: 3344521, dtype: int64
3344567
c    72
a    17
-     3
Name: 3344567, dtype: int64
3344580
d    65
b    20
-     7
Name: 3344580, dtype: int64
3344601
c    62
a    22
-     8
Name: 3344601, dtype: int64
3344613
d    55
b    27
-    10
Name: 3344613, dtype: int64
3344616
c    58
a    28
-     6
Name: 3344616, dtype: int64
3344618
d    63
b    25
-     4
Name: 3344618, dtype: int64
3344631
d    69
b    19
-     4
Name: 3344631, dtype: int64
3344632
d    55
b    28
-     9
Name: 3344632, dtype: int64
3344648
c    68
a    17
-     7
Name: 3344648, dtype: int64
3344650
c    64
a    20
-     8
Name: 3344650, dtype: int64
3344688
c    67
a    22
-     3
Name: 3344688, dtype: int64
3344696
c    70
a    18
-     4
Name: 3344696, dtype: int64
3344710
c    60
a    21
-    11
Name: 3344710, dtype: int64
3344713
c    64
a    23
-     5
Name: 3344713, dtype: int64
3344727
c    67
a    21
-     4
Name: 3344727, dtype: int64
3344731
d    61
b    22
-     9
Name: 3344731, dtype: int64
3344736
d    58
b    26
-     8
Name: 3344736, dtype: int64
3344748
d    61
b    25
-     6
Name: 3344748, dtype: int64
3344755
c    64
a    22
-     6
Name: 3344755, dtype: int64
3344775
d    58
b    25
-     9
Name: 3344775, dtype: int64
3344813
c    54
a    22
-    16
Name: 3344813, dtype: int64
3344865
d    58
b    28
-     6
Name: 3344865, dtype: int64
3344899
d    64
b    22
-     6
Name: 3344899, dtype: int64
3344905
d    61
b    24
-     7
Name: 3344905, dtype: int64
3344917
d    57
b    26
-     9
Name: 3344917, dtype: int64
3344935
d    59
b    27
-     6
Name: 3344935, dtype: int64
3345004
d    62
b    23
-     7
Name: 3345004, dtype: int64
3345039
d    71
b    20
-     1
Name: 3345039, dtype: int64
3345041
c    69
a    14
-     9
Name: 3345041, dtype: int64
3345048
c    64
a    21
-     7
Name: 3345048, dtype: int64
3345093
d    61
b    25
-     6
Name: 3345093, dtype: int64
3345097
d    61
b    25
-     6
Name: 3345097, dtype: int64
3345110
d    68
b    20
-     4
Name: 3345110, dtype: int64
3345166
d    66
b    20
-     6
Name: 3345166, dtype: int64
3345183
d    67
b    20
-     5
Name: 3345183, dtype: int64
3345194
c    67
a    16
-     9
Name: 3345194, dtype: int64
3345196
c    77
a    14
-     1
Name: 3345196, dtype: int64
3345251
d    60
b    24
-     8
Name: 3345251, dtype: int64
3345313
c    66
a    17
-     9
Name: 3345313, dtype: int64
3345356
d    60
b    21
-    11
Name: 3345356, dtype: int64
3345370
c    64
a    23
-     5
Name: 3345370, dtype: int64
3345375
c    64
a    20
-     8
Name: 3345375, dtype: int64
3345438
d    60
b    25
-     7
Name: 3345438, dtype: int64
3345473
c    74
a    13
-     5
Name: 3345473, dtype: int64
3345566
c    74
a    13
-     5
Name: 3345566, dtype: int64
3345655
d    59
b    23
-    10
Name: 3345655, dtype: int64
3345663
c    63
a    22
-     7
Name: 3345663, dtype: int64
3345726
d    69
b    21
-     2
Name: 3345726, dtype: int64
3345810
c    68
a    22
-     2
Name: 3345810, dtype: int64
3345844
c    58
a    22
-    12
Name: 3345844, dtype: int64
3345853
c    66
a    22
-     4
Name: 3345853, dtype: int64
3345878
d    56
b    22
-    14
Name: 3345878, dtype: int64
3345951
c    66
a    22
-     4
Name: 3345951, dtype: int64
3345979
c    63
a    22
-     7
Name: 3345979, dtype: int64
3346045
d    63
b    21
-     8
Name: 3346045, dtype: int64
3346049
c    74
a    14
-     4
Name: 3346049, dtype: int64
3346079
c    73
a    16
-     3
Name: 3346079, dtype: int64
3346175
c    64
a    17
-    11
Name: 3346175, dtype: int64
3346194
d    66
b    22
-     4
Name: 3346194, dtype: int64
3346248
c    67
a    16
-     9
Name: 3346248, dtype: int64
3346252
c    67
a    20
-     5
Name: 3346252, dtype: int64
3346262
d    65
b    23
-     4
Name: 3346262, dtype: int64
3346269
c    64
a    22
-     6
Name: 3346269, dtype: int64
3346275
d    63
b    20
-     9
Name: 3346275, dtype: int64
3346301
c    72
a    12
-     8
Name: 3346301, dtype: int64
3346318
d    62
b    25
-     5
Name: 3346318, dtype: int64
3346359
c    68
a    19
-     5
Name: 3346359, dtype: int64
3346385
d    59
b    24
-     9
Name: 3346385, dtype: int64
3346479
d    62
b    25
-     5
Name: 3346479, dtype: int64
3346505
c    62
a    19
-    11
Name: 3346505, dtype: int64
3346540
d    62
b    22
-     8
Name: 3346540, dtype: int64
3346563
c    65
a    20
-     7
Name: 3346563, dtype: int64
3346588
d    65
b    19
-     8
Name: 3346588, dtype: int64
3346619
d    67
b    19
-     6
Name: 3346619, dtype: int64
3346626
d    66
b    21
-     5
Name: 3346626, dtype: int64
3346630
c    63
a    23
-     6
Name: 3346630, dtype: int64
3346631
c    74
a    14
-     4
Name: 3346631, dtype: int64
3346671
c    62
a    22
-     8
Name: 3346671, dtype: int64
3346701
c    67
a    19
-     6
Name: 3346701, dtype: int64
3346706
d    61
b    22
-     9
Name: 3346706, dtype: int64
3346742
c    70
a    13
-     9
Name: 3346742, dtype: int64
3346753
d    57
b    28
-     7
Name: 3346753, dtype: int64
3346763
c    60
a    24
-     8
Name: 3346763, dtype: int64
3346789
c    72
a    16
-     4
Name: 3346789, dtype: int64
3346790
d    56
b    26
-    10
Name: 3346790, dtype: int64
3346925
d    66
b    22
-     4
Name: 3346925, dtype: int64
3346935
c    72
a    16
-     4
Name: 3346935, dtype: int64
3346958
c    72
a    13
-     7
Name: 3346958, dtype: int64
3346970
d    59
b    20
-    13
Name: 3346970, dtype: int64
3346988
c    60
a    21
-    11
Name: 3346988, dtype: int64
3346998
c    74
a    17
-     1
Name: 3346998, dtype: int64
3347020
c    60
a    20
-    12
Name: 3347020, dtype: int64
3347028
c    64
a    23
-     5
Name: 3347028, dtype: int64
3347051
c    71
a    14
-     7
Name: 3347051, dtype: int64
3347071
d    67
b    21
-     4
Name: 3347071, dtype: int64
3347072
c    61
a    21
-    10
Name: 3347072, dtype: int64
3347075
d    63
b    23
-     6
Name: 3347075, dtype: int64
3347125
c    58
a    26
-     8
Name: 3347125, dtype: int64
3347145
d    68
b    20
-     4
Name: 3347145, dtype: int64
3347147
d    58
b    21
-    13
Name: 3347147, dtype: int64
3347223
d    66
b    21
-     5
Name: 3347223, dtype: int64
3347274
c    61
a    25
-     6
Name: 3347274, dtype: int64
3347275
c    57
a    27
-     8
Name: 3347275, dtype: int64
3347319
d    65
b    22
-     5
Name: 3347319, dtype: int64
3347396
c    71
a    14
-     7
Name: 3347396, dtype: int64
3347410
c    66
-    13
a    13
Name: 3347410, dtype: int64
3347452
d    60
b    26
-     6
Name: 3347452, dtype: int64
3347474
c    61
a    24
-     7
Name: 3347474, dtype: int64
3347492
c    68
a    19
-     5
Name: 3347492, dtype: int64
3347498
c    62
a    22
-     8
Name: 3347498, dtype: int64
3347539
d    55
b    25
-    12
Name: 3347539, dtype: int64
3347570
c    59
a    20
-    13
Name: 3347570, dtype: int64
3347625
d    62
b    25
-     5
Name: 3347625, dtype: int64
3347632
d    57
b    26
-     9
Name: 3347632, dtype: int64
3347639
d    57
b    23
-    12
Name: 3347639, dtype: int64
3347711
d    54
b    23
-    15
Name: 3347711, dtype: int64
3347738
d    64
b    21
-     7

Name: 3347738, dtype: int64
3347751
d    61
b    21
-    10
Name: 3347751, dtype: int64
3347753
d    56
b    22
-    14
Name: 3347753, dtype: int64
3347770
c    73
a    15
-     4
Name: 3347770, dtype: int64
3347782
d    59
b    22
-    11
Name: 3347782, dtype: int64
3347819
d    64
b    24
-     4
Name: 3347819, dtype: int64
3347843
d    62
b    21
-     9
Name: 3347843, dtype: int64
3347870
c    67
a    19
-     6
Name: 3347870, dtype: int64
3347878
c    61
a    21
-    10
Name: 3347878, dtype: int64
3347880
c    62
a    20
-    10
Name: 3347880, dtype: int64
3347897
c    65
a    21
-     6
Name: 3347897, dtype: int64
3347903
c    60
a    23
-     9
Name: 3347903, dtype: int64
3347921
c    70
a    17
-     5
Name: 3347921, dtype: int64
3347929
d    61
b    24
-     7
Name: 3347929, dtype: int64
3347971
c    73
a    13
-     6
Name: 3347971, dtype: int64
3347985
c    66
a    22
-     4
Name: 3347985, dtype: int64
3347993
d    61
b    23
-     8
Name: 3347993, dtype: int64
3348030
d    70
b    20
-     2
Name: 3348030, dtype: int64
3348105
d    62
b    25
-     5
Name: 3348105, dtype: int64
3348119
d    62
b    21
-     9
Name: 3348119, dtype: int64
3348146
c    66
a    18
-     8
Name: 3348146, dtype: int64
3348181
d    59
b    21
-    12
Name: 3348181, dtype: int64
3348255
c    62
a    16
-    14
Name: 3348255, dtype: int64
3348289
d    57
b    26
-     9
Name: 3348289, dtype: int64
3348297
d    58
b    21
-    13
Name: 3348297, dtype: int64
3348321
c    66
a    21
-     5
Name: 3348321, dtype: int64
3348335
c    61
a    22
-     9
Name: 3348335, dtype: int64
3348338
c    63
a    19
-    10
Name: 3348338, dtype: int64
3348353
c    72
a    15
-     5
Name: 3348353, dtype: int64
3348383
c    67
a    17
-     8
Name: 3348383, dtype: int64
3348406
c    73
a    14
-     5
Name: 3348406, dtype: int64
3348408
d    58
b    30
-     4
Name: 3348408, dtype: int64
3348505
d    55
b    27
-    10
Name: 3348505, dtype: int64
3348506
c    59
a    22
-    11
Name: 3348506, dtype: int64
3348565
c    68
a    16
-     8
Name: 3348565, dtype: int64
3348569
d    63
b    23
-     6
Name: 3348569, dtype: int64
3348576
d    58
b    27
-     7
Name: 3348576, dtype: int64
3348592
c    70
a    13
-     9
Name: 3348592, dtype: int64
3348605
d    64
b    22
-     6
Name: 3348605, dtype: int64
3348608
c    64
a    23
-     5
Name: 3348608, dtype: int64
3348611
d    63
b    26
-     3
Name: 3348611, dtype: int64
3348619
c    72
a    18
-     2
Name: 3348619, dtype: int64
3348623
d    59
b    22
-    11
Name: 3348623, dtype: int64
3348626
d    60
b    23
-     9
Name: 3348626, dtype: int64
3348634
c    69
a    17
-     6
Name: 3348634, dtype: int64
3348637
d    55
b    27
-    10
Name: 3348637, dtype: int64
3348667
d    63
b    21
-     8
Name: 3348667, dtype: int64
3348707
c    72
a    16
-     4
Name: 3348707, dtype: int64
3348841
c    73
a    12
-     7
Name: 3348841, dtype: int64
3348847
d    67
b    24
-     1
Name: 3348847, dtype: int64
3348890
c    57
a    22
-    13
Name: 3348890, dtype: int64
3348927
c    66
a    20
-     6
Name: 3348927, dtype: int64
3348964
d    59
b    28
-     5
Name: 3348964, dtype: int64
3348978
c    70
a    14
-     8
Name: 3348978, dtype: int64
3348991
d    69
b    16
-     7
Name: 3348991, dtype: int64
3349041
c    64
a    23
-     5
Name: 3349041, dtype: int64
3349043
c    65
a    18
-     9
Name: 3349043, dtype: int64
3349044
c    65
a    19
-     8
Name: 3349044, dtype: int64
3349048
c    70
a    17
-     5
Name: 3349048, dtype: int64
3349054
d    65
b    22
-     5
Name: 3349054, dtype: int64
3349077
c    60
a    28
-     4
Name: 3349077, dtype: int64
3349164
d    61
b    21
-    10
Name: 3349164, dtype: int64
3349177
c    64
a    22
-     6
Name: 3349177, dtype: int64
3349189
c    65
a    24
-     3
Name: 3349189, dtype: int64
3349202
c    67
a    14
-    11
Name: 3349202, dtype: int64
3349205
d    61
b    23
-     8
Name: 3349205, dtype: int64
3349246
c    69
a    16
-     7
Name: 3349246, dtype: int64
3349273
d    69
b    19
-     4
Name: 3349273, dtype: int64
3349283
c    62
a    22
-     8
Name: 3349283, dtype: int64
3349324
c    62
a    21
-     9
Name: 3349324, dtype: int64
3349363
d    65
b    24
-     3
Name: 3349363, dtype: int64
3349388
c    61
a    22
-     9
Name: 3349388, dtype: int64
3349408
d    60
b    27
-     5
Name: 3349408, dtype: int64
3349551
d    54
b    26
-    12
Name: 3349551, dtype: int64
3349558
c    71
a    17
-     4
Name: 3349558, dtype: int64
3349586
d    52
b    28
-    12
Name: 3349586, dtype: int64
3349598
d    51
b    30
-    11
Name: 3349598, dtype: int64
3349602
c    64
a    21
-     7
Name: 3349602, dtype: int64
3349615
c    69
a    14
-     9
Name: 3349615, dtype: int64
3349675
c    68
a    18
-     6
Name: 3349675, dtype: int64
3349702
d    57
b    21
-    14
Name: 3349702, dtype: int64
3349716
d    63
b    21
-     8
Name: 3349716, dtype: int64
3349724
c    61
a    24
-     7
Name: 3349724, dtype: int64
3349728
d    50
b    28
-    14
Name: 3349728, dtype: int64
3349742
c    67
a    16
-     9
Name: 3349742, dtype: int64
3349750
c    64
a    18
-    10
Name: 3349750, dtype: int64
3349800
d    60
b    21
-    11
Name: 3349800, dtype: int64
3349805
c    68
a    16
-     8
Name: 3349805, dtype: int64
3349819
d    64
b    27
-     1
Name: 3349819, dtype: int64
3349832
c    69
a    17
-     6
Name: 3349832, dtype: int64
3349838
c    61
a    24
-     7
Name: 3349838, dtype: int64
3349843
c    65
a    19
-     8
Name: 3349843, dtype: int64
3349873
c    68
a    19
-     5
Name: 3349873, dtype: int64
3349889
c    65
a    15
-    12
Name: 3349889, dtype: int64
3349983
c    71
-    19
a     2
Name: 3349983, dtype: int64
3350014
d    58
b    27
-     7
Name: 3350014, dtype: int64
3350015
d    60
b    21
-    11
Name: 3350015, dtype: int64
3350063
d    53
b    29
-    10
Name: 3350063, dtype: int64
3350136
c    65
a    18
-     9
Name: 3350136, dtype: int64
3350171
c    58
a    22
-    12
Name: 3350171, dtype: int64
3350177
d    64
b    20
-     8
Name: 3350177, dtype: int64
3350215
c    58
a    22
-    12
Name: 3350215, dtype: int64
3350227
c    71
-    12
a     9
Name: 3350227, dtype: int64
3350260
c    72
a    16
-     4
Name: 3350260, dtype: int64
3350296
d    65
b    21
-     6
Name: 3350296, dtype: int64
3350299
d    64
b    26
-     2
Name: 3350299, dtype: int64
3350340
c    63
a    20
-     9
Name: 3350340, dtype: int64
3350357
d    62
b    24
-     6
Name: 3350357, dtype: int64
3350368
d    62
b    23
-     7
Name: 3350368, dtype: int64
3350390
c    69
a    16
-     7
Name: 3350390, dtype: int64
3350398
d    53
b    30
-     9
Name: 3350398, dtype: int64
3350411
c    62
a    28
-     2
Name: 3350411, dtype: int64
3350418
d    60
b    24
-     8
Name: 3350418, dtype: int64
3350439
c    66
a    17
-     9
Name: 3350439, dtype: int64
3350452
d    65
b    20
-     7
Name: 3350452, dtype: int64
3350477
d    60
b    22
-    10
Name: 3350477, dtype: int64
3350499
d    56
b    28
-     8
Name: 3350499, dtype: int64
3350538
d    49
b    30
-    13
Name: 3350538, dtype: int64
3350555
c    69
a    17
-     6
Name: 3350555, dtype: int64
3350563
c    63
a    24
-     5
Name: 3350563, dtype: int64
3350577
d    58
b    22
-    12
Name: 3350577, dtype: int64
3350610
c    62
a    21
-     9
Name: 3350610, dtype: int64
3350635
d    57
b    21
-    14
Name: 3350635, dtype: int64
3350676
d    60
b    27
-     5
Name: 3350676, dtype: int64
3350697
c    60
a    19
-    13
Name: 3350697, dtype: int64
3350812
c    61
a    20
-    11
Name: 3350812, dtype: int64
3350855
d    61
b    23
-     8
Name: 3350855, dtype: int64
3350864
d    65
b    21
-     6
Name: 3350864, dtype: int64
3350872
d    66
b    21
-     5
Name: 3350872, dtype: int64
3350877
c    72
a    14
-     6
Name: 3350877, dtype: int64
3350917
c    61
a    24
-     7
Name: 3350917, dtype: int64
3350963
d    67
b    18
-     7
Name: 3350963, dtype: int64
3350969
c    65
a    16
-    11
Name: 3350969, dtype: int64
3350979
c    67
a    19
-     6
Name: 3350979, dtype: int64
3351058
d    63
b    22
-     7
Name: 3351058, dtype: int64
3351062
c    68
a    16
-     8
Name: 3351062, dtype: int64
3351074
c    69
a    16
-     7
Name: 3351074, dtype: int64
3351086
d    62
b    20
-    10
Name: 3351086, dtype: int64
3351162
d    67
b    22
-     3
Name: 3351162, dtype: int64
3351254
c    70
a    17
-     5
Name: 3351254, dtype: int64
3351364
d    59
b    25
-     8
Name: 3351364, dtype: int64
3351380
c    73
a    16
-     3
Name: 3351380, dtype: int64
3351454
c    69
a    18
-     5
Name: 3351454, dtype: int64
3351573
c    62
a    22
-     8
Name: 3351573, dtype: int64
3351615
c    67
a    17
-     8
Name: 3351615, dtype: int64
3351621
c    65
a    20
-     7
Name: 3351621, dtype: int64
3351630
c    60
a    22
-    10
Name: 3351630, dtype: int64
3351639
c    72
a    16
-     4
Name: 3351639, dtype: int64
3351654
c    66
a    17
-     9
Name: 3351654, dtype: int64
3351686
c    68
-    12
a    12
Name: 3351686, dtype: int64
3351693
d    59
b    20
-    13
Name: 3351693, dtype: int64
3351696
c    71
a    16
-     5
Name: 3351696, dtype: int64
3351703
d    60
b    23
-     9
Name: 3351703, dtype: int64
3351726
c    59
a    23
-    10
Name: 3351726, dtype: int64
3351740
d    60
b    28
-     4
Name: 3351740, dtype: int64
3351776
c    65
a    24
-     3
Name: 3351776, dtype: int64
3351919
c    61
a    22
-     9
Name: 3351919, dtype: int64
3351949
c    68
a    18
-     6
Name: 3351949, dtype: int64
3351957
c    65
a    21
-     6
Name: 3351957, dtype: int64
3351958
c    57
a    23
-    12
Name: 3351958, dtype: int64
3352010
d    60
b    25
-     7
Name: 3352010, dtype: int64
3352020
d    62
b    19
-    11
Name: 3352020, dtype: int64
3352035
d    63
b    23
-     6
Name: 3352035, dtype: int64
3352102
d    60
b    22
-    10
Name: 3352102, dtype: int64
3352139
d    66
b    22
-     4
Name: 3352139, dtype: int64
3352149
d    61
b    21
-    10
Name: 3352149, dtype: int64
3352161
d    65
b    22
-     5
Name: 3352161, dtype: int64
3352203
c    61
a    24
-     7
Name: 3352203, dtype: int64
3352208
d    53
b    29
-    10
Name: 3352208, dtype: int64
3352249
d    62
b    26
-     4
Name: 3352249, dtype: int64
3352331
c    70
a    17
-     5
Name: 3352331, dtype: int64
3352387
c    69
a    21
-     2
Name: 3352387, dtype: int64
3352399
d    62
b    23
-     7
Name: 3352399, dtype: int64
3352403
d    63
b    25
-     4
Name: 3352403, dtype: int64
3352411
c    54
a    26
-    12
Name: 3352411, dtype: int64
3352434
c    65
a    23
-     4
Name: 3352434, dtype: int64
3352458
d    57
b    26
-     9
Name: 3352458, dtype: int64
3352461
d    58
b    26
-     8
Name: 3352461, dtype: int64
3352487
c    68
a    17
-     7
Name: 3352487, dtype: int64
3352503
c    62
a    24
-     6
Name: 3352503, dtype: int64
3352516
c    63
a    21
-     8
Name: 3352516, dtype: int64
3352550
d    58
b    32
-     2
Name: 3352550, dtype: int64
3352558
d    56
b    29
-     7
Name: 3352558, dtype: int64
3352563
c    61
a    25
-     6
Name: 3352563, dtype: int64
3352696
c    56
a    23
-    13
Name: 3352696, dtype: int64
3352714
c    66
a    17
-     9
Name: 3352714, dtype: int64
3352716
c    58
a    22
-    12
Name: 3352716, dtype: int64
3352735
d    68
b    15
-     9
Name: 3352735, dtype: int64
3352757
d    62
b    22
-     8
Name: 3352757, dtype: int64
3352789
c    60
a    23
-     9
Name: 3352789, dtype: int64
3352815
d    63
b    22
-     7
Name: 3352815, dtype: int64
3352854
d    62
b    23
-     7
Name: 3352854, dtype: int64
3352875
c    69
a    17
-     6
Name: 3352875, dtype: int64
3352887
c    77
a    15
Name: 3352887, dtype: int64
3352909
d    61
b    24
-     7
Name: 3352909, dtype: int64
3352927
c    69
a    16
-     7
Name: 3352927, dtype: int64
3352936
c    65
a    16
-    11
Name: 3352936, dtype: int64
3352959
c    64
a    18
-    10
Name: 3352959, dtype: int64
3352960
c    67
a    18
-     7
Name: 3352960, dtype: int64
3352962
c    66
a    17
-     9
Name: 3352962, dtype: int64
3352974
d    57
b    28
-     7
Name: 3352974, dtype: int64
3353009
c    53
a    21
-    18
Name: 3353009, dtype: int64
3353029
d    54
b    28
-    10
Name: 3353029, dtype: int64
3353068
c    68
a    16
-     8
Name: 3353068, dtype: int64
3353071
c    68
a    18
-     6
Name: 3353071, dtype: int64
3353093
d    63
b    20
-     9
Name: 3353093, dtype: int64
3353102
c    58
a    20
-    14
Name: 3353102, dtype: int64
3353136
c    67
a    22
-     3
Name: 3353136, dtype: int64
3353201
d    59
b    24
-     9
Name: 3353201, dtype: int64
3353219
d    67
b    16
-     9
Name: 3353219, dtype: int64
3353260
c    58
a    25
-     9
Name: 3353260, dtype: int64
3353271
c    68
a    16
-     8
Name: 3353271, dtype: int64
3353284
c    72
a    14
-     6
Name: 3353284, dtype: int64
3353354
c    70
a    20
-     2
Name: 3353354, dtype: int64
3353357
d    63
b    21
-     8
Name: 3353357, dtype: int64
3353364
c    61
a    23
-     8
Name: 3353364, dtype: int64
3353387
d    59
b    22
-    11
Name: 3353387, dtype: int64
3353425
c    62
a    21
-     9
Name: 3353425, dtype: int64
3353438
c    64
a    17
-    11
Name: 3353438, dtype: int64
3353439
c    57
a    26
-     9
Name: 3353439, dtype: int64
3353464
c    65
a    17
-    10
Name: 3353464, dtype: int64
3353474
a    92
Name: 3353474, dtype: int64
3353499
c    68
a    16
-     8
Name: 3353499, dtype: int64
3353531
c    63
a    21
-     8
Name: 3353531, dtype: int64
3353555
c    67
a    19
-     6
Name: 3353555, dtype: int64
3353573
c    62
a    21
-     9
Name: 3353573, dtype: int64
3353598
d    67
b    24
-     1
Name: 3353598, dtype: int64
3353607
d    63
b    24
-     5
Name: 3353607, dtype: int64
3353614
c    64
a    20
-     8
Name: 3353614, dtype: int64
3353619
c    66
a    19
-     7
Name: 3353619, dtype: int64
3353629
c    76
a    16
Name: 3353629, dtype: int64
3353640
d    63
b    25
-     4
Name: 3353640, dtype: int64
3353649
d    64
b    23
-     5
Name: 3353649, dtype: int64
3353665
c    66
a    19
-     7
Name: 3353665, dtype: int64
3353692
d    57
b    26
-     9
Name: 3353692, dtype: int64
3353726
c    60
a    22
-    10
Name: 3353726, dtype: int64
3353777
c    64
a    17
-    11
Name: 3353777, dtype: int64
3353784
c    63
a    20
-     9
Name: 3353784, dtype: int64
3353798
c    53
a    28
-    11
Name: 3353798, dtype: int64
3353816
d    62
b    23
-     7
Name: 3353816, dtype: int64
3353852
c    69
a    18
-     5
Name: 3353852, dtype: int64
3353892
c    64
a    19
-     9
Name: 3353892, dtype: int64
3353931
d    62
b    21
-     9
Name: 3353931, dtype: int64
3353973
d    65
b    21
-     6

Name: 3353973, dtype: int64
3354000
d    58
b    20
-    14
Name: 3354000, dtype: int64
3354018
d    63
b    23
-     6
Name: 3354018, dtype: int64
3354112
d    59
b    24
-     9
Name: 3354112, dtype: int64
3354162
c    66
a    17
-     9
Name: 3354162, dtype: int64
3354178
c    81
-    11
Name: 3354178, dtype: int64
3354183
c    62
a    20
-    10
Name: 3354183, dtype: int64
3354217
c    63
a    20
-     9
Name: 3354217, dtype: int64
3354218
d    62
b    25
-     5
Name: 3354218, dtype: int64
3354265
d    63
b    22
-     7
Name: 3354265, dtype: int64
3354282
c    66
a    21
-     5
Name: 3354282, dtype: int64
3354420
d    65
b    22
-     5
Name: 3354420, dtype: int64
3354454
c    64
a    19
-     9
Name: 3354454, dtype: int64
3354515
d    61
b    23
-     8
Name: 3354515, dtype: int64
3354521
d    60
b    21
-    11
Name: 3354521, dtype: int64
3354606
c    67
a    16
-     9
Name: 3354606, dtype: int64
3354614
c    70
a    15
-     7
Name: 3354614, dtype: int64
3354667
c    62
a    21
-     9
Name: 3354667, dtype: int64
3354672
c    59
a    19
-    14
Name: 3354672, dtype: int64
3354691
c    66
a    19
-     7
Name: 3354691, dtype: int64
3354697
c    61
a    26
-     5
Name: 3354697, dtype: int64
3354699
d    63
b    22
-     7
Name: 3354699, dtype: int64
3354893
d    67
b    20
-     5
Name: 3354893, dtype: int64
3354918
d    66
b    16
-    10
Name: 3354918, dtype: int64
3354950
c    70
a    18
-     4
Name: 3354950, dtype: int64
3355024
c    64
a    19
-     9
Name: 3355024, dtype: int64
3355081
d    58
b    22
-    12
Name: 3355081, dtype: int64
3355108
c    64
a    17
-    11
Name: 3355108, dtype: int64
3355109
d    59
b    24
-     9
Name: 3355109, dtype: int64
3355144
c    72
a    13
-     7
Name: 3355144, dtype: int64
3355185
c    70
a    15
-     7
Name: 3355185, dtype: int64
3355188
d    61
b    21
-    10
Name: 3355188, dtype: int64
3355237
c    61
a    22
-     9
Name: 3355237, dtype: int64
3355259
d    61
b    23
-     8
Name: 3355259, dtype: int64
3355272
c    58
a    18
-    16
Name: 3355272, dtype: int64
3355275
d    62
b    25
-     5
Name: 3355275, dtype: int64
3355279
c    55
a    26
-    11
Name: 3355279, dtype: int64
3355303
d    61
b    26
-     5
Name: 3355303, dtype: int64
3355324
c    66
a    19
-     7
Name: 3355324, dtype: int64
3355373
c    56
a    22
-    14
Name: 3355373, dtype: int64
3355426
d    59
b    23
-    10
Name: 3355426, dtype: int64
3355454
c    67
a    19
-     6
Name: 3355454, dtype: int64
3355462
c    67
a    20
-     5
Name: 3355462, dtype: int64
3355466
c    66
a    18
-     8
Name: 3355466, dtype: int64
3355478
c    62
a    23
-     7
Name: 3355478, dtype: int64
3355485
d    63
b    20
-     9
Name: 3355485, dtype: int64
3355529
d    70
b    18
-     4
Name: 3355529, dtype: int64
3355571
c    55
a    22
-    15
Name: 3355571, dtype: int64
3355581
d    68
b    19
-     5
Name: 3355581, dtype: int64
3355583
c    78
-    10
a     4
Name: 3355583, dtype: int64
3355588
c    67
a    16
-     9
Name: 3355588, dtype: int64
3355629
c    67
a    21
-     4
Name: 3355629, dtype: int64
3355723
d    63
b    24
-     5
Name: 3355723, dtype: int64
3355750
d    59
b    26
-     7
Name: 3355750, dtype: int64
3355755
c    70
a    16
-     6
Name: 3355755, dtype: int64
3355771
c    73
a    14
-     5
Name: 3355771, dtype: int64
3355791
c    64
a    16
-    12
Name: 3355791, dtype: int64
3355797
c    65
a    14
-    13
Name: 3355797, dtype: int64
3355845
d    65
b    21
-     6
Name: 3355845, dtype: int64
3355855
d    60
b    28
-     4
Name: 3355855, dtype: int64
3355871
d    60
b    24
-     8
Name: 3355871, dtype: int64
3355872
c    69
a    18
-     5
Name: 3355872, dtype: int64
3355880
c    64
a    23
-     5
Name: 3355880, dtype: int64
3355964
d    60
b    26
-     6
Name: 3355964, dtype: int64
3355977
c    72
a    14
-     6
Name: 3355977, dtype: int64
3355993
d    60
b    25
-     7
Name: 3355993, dtype: int64
3356000
c    74
a    16
-     2
Name: 3356000, dtype: int64
3356016
c    64
a    23
-     5
Name: 3356016, dtype: int64
3356049
c    59
a    24
-     9
Name: 3356049, dtype: int64
3356054
c    60
a    21
-    11
Name: 3356054, dtype: int64
3356072
d    64
b    21
-     7
Name: 3356072, dtype: int64
3356101
d    63
b    25
-     4
Name: 3356101, dtype: int64
3356136
d    60
b    28
-     4
Name: 3356136, dtype: int64
3356141
c    62
a    22
-     8
Name: 3356141, dtype: int64
3356189
c    63
a    20
-     9
Name: 3356189, dtype: int64
3356195
c    72
a    15
-     5
Name: 3356195, dtype: int64
3356196
c    56
a    19
-    17
Name: 3356196, dtype: int64
3356209
c    65
a    22
-     5
Name: 3356209, dtype: int64
3356251
d    55
b    31
-     6
Name: 3356251, dtype: int64
3356269
c    65
a    23
-     4
Name: 3356269, dtype: int64
3356305
d    63
b    18
-    11
Name: 3356305, dtype: int64
3356325
d    64
b    21
-     7
Name: 3356325, dtype: int64
3356361
d    56
b    30
-     6
Name: 3356361, dtype: int64
3356378
c    67
a    21
-     4
Name: 3356378, dtype: int64
3356388
d    62
b    19
-    11
Name: 3356388, dtype: int64
3356412
c    68
a    15
-     9
Name: 3356412, dtype: int64
3356419
c    62
a    18
-    12
Name: 3356419, dtype: int64
3356492
d    63
b    21
-     8
Name: 3356492, dtype: int64
3356500
c    63
a    22
-     7
Name: 3356500, dtype: int64
3356515
c    71
a    17
-     4
Name: 3356515, dtype: int64
3356559
d    56
b    31
-     5
Name: 3356559, dtype: int64
3356562
d    52
b    28
-    12
Name: 3356562, dtype: int64
3356644
d    60
b    24
-     8
Name: 3356644, dtype: int64
3356670
c    62
a    22
-     8
Name: 3356670, dtype: int64
3356682
c    68
a    13
-    11
Name: 3356682, dtype: int64
3356699
d    64
b    26
-     2
Name: 3356699, dtype: int64
3356732
c    67
a    17
-     8
Name: 3356732, dtype: int64
3356762
d    58
b    21
-    13
Name: 3356762, dtype: int64
3356786
d    62
b    20
-    10
Name: 3356786, dtype: int64
3356805
d    56
b    20
-    16
Name: 3356805, dtype: int64
3356821
d    54
b    25
-    13
Name: 3356821, dtype: int64
3356863
c    66
a    20
-     6
Name: 3356863, dtype: int64
3356865
d    66
b    24
-     2
Name: 3356865, dtype: int64
3356885
d    59
b    22
-    11
Name: 3356885, dtype: int64
3356886
c    67
a    20
-     5
Name: 3356886, dtype: int64
3356940
c    66
a    17
-     9
Name: 3356940, dtype: int64
3356944
c    63
a    24
-     5
Name: 3356944, dtype: int64
3357023
d    57
b    28
-     7
Name: 3357023, dtype: int64
3357032
c    69
a    18
-     5
Name: 3357032, dtype: int64
3357065
c    63
a    25
-     4
Name: 3357065, dtype: int64
3357071
d    66
b    22
-     4
Name: 3357071, dtype: int64
3357077
c    73
-    17
a     2
Name: 3357077, dtype: int64
3357107
c    66
a    16
-    10
Name: 3357107, dtype: int64
3357126
d    53
b    30
-     9
Name: 3357126, dtype: int64
3357154
d    64
b    21
-     7
Name: 3357154, dtype: int64
3357156
d    56
b    26
-    10
Name: 3357156, dtype: int64
3357181
c    74
a    17
-     1
Name: 3357181, dtype: int64
3357186
d    63
b    22
-     7
Name: 3357186, dtype: int64
3357224
d    62
b    20
-    10
Name: 3357224, dtype: int64
3357255
d    55
b    29
-     8
Name: 3357255, dtype: int64
3357321
c    60
a    22
-    10
Name: 3357321, dtype: int64
3357348
c    73
a    16
-     3
Name: 3357348, dtype: int64
3357372
c    75
a    14
-     3
Name: 3357372, dtype: int64
3357394
d    62
b    21
-     9
Name: 3357394, dtype: int64
3357497
d    63
b    21
-     8
Name: 3357497, dtype: int64
3357591
d    64
b    25
-     3
Name: 3357591, dtype: int64
3357638
c    61
a    23
-     8
Name: 3357638, dtype: int64
3357685
d    60
b    21
-    11
Name: 3357685, dtype: int64
3357700
c    63
a    22
-     7
Name: 3357700, dtype: int64
3357841
c    63
a    19
-    10
Name: 3357841, dtype: int64
3357896
d    56
b    25
-    11
Name: 3357896, dtype: int64
3357902
c    66
a    21
-     5
Name: 3357902, dtype: int64
3357930
c    64
a    21
-     7
Name: 3357930, dtype: int64
3358099
d    60
b    25
-     7
Name: 3358099, dtype: int64
3358115
d    66
b    21
-     5
Name: 3358115, dtype: int64
3358219
d    61
b    20
-    11
Name: 3358219, dtype: int64
3358271
c    61
a    21
-    10
Name: 3358271, dtype: int64
3358298
d    57
b    21
-    14
Name: 3358298, dtype: int64
3358305
d    59
b    22
-    11
Name: 3358305, dtype: int64
3358491
d    64
b    21
-     7
Name: 3358491, dtype: int64
3358531
c    66
a    22
-     4
Name: 3358531, dtype: int64
3358545
c    67
a    17
-     8
Name: 3358545, dtype: int64
3358577
d    59
b    26
-     7
Name: 3358577, dtype: int64
3358663
c    63
a    25
-     4
Name: 3358663, dtype: int64
3358733
d    63
b    21
-     8
Name: 3358733, dtype: int64
3358849
d    60
b    26
-     6
Name: 3358849, dtype: int64
3358906
c    63
a    24
-     5
Name: 3358906, dtype: int64
3359073
d    56
b    30
-     6
Name: 3359073, dtype: int64
3359137
d    59
b    27
-     6
Name: 3359137, dtype: int64
3359171
c    64
a    21
-     7
Name: 3359171, dtype: int64
3359177
c    60
a    20
-    12
Name: 3359177, dtype: int64
3359178
d    61
b    22
-     9
Name: 3359178, dtype: int64
3359286
c    64
a    23
-     5
Name: 3359286, dtype: int64
3359292
d    67
b    23
-     2
Name: 3359292, dtype: int64
3359346
d    66
b    16
-    10
Name: 3359346, dtype: int64
3359368
d    66
b    25
-     1
Name: 3359368, dtype: int64
3359381
c    72
a    18
-     2
Name: 3359381, dtype: int64
3359504
d    55
b    22
-    15
Name: 3359504, dtype: int64
3359593
c    70
a    19
-     3
Name: 3359593, dtype: int64
3359656
c    66
a    20
-     6
Name: 3359656, dtype: int64
3359712
c    69
a    16
-     7
Name: 3359712, dtype: int64
3359750
d    62
b    22
-     8
Name: 3359750, dtype: int64
3359791
d    55
b    29
-     8
Name: 3359791, dtype: int64
3359824
c    65
a    18
-     9
Name: 3359824, dtype: int64
3359830
c    59
a    23
-    10
Name: 3359830, dtype: int64
3359854
c    67
a    17
-     8
Name: 3359854, dtype: int64
3359871
c    59
a    22
-    11
Name: 3359871, dtype: int64
3359967
c    56
a    21
-    15
Name: 3359967, dtype: int64
3359986
c    65
a    19
-     8
Name: 3359986, dtype: int64
3359990
d    59
b    21
-    12
Name: 3359990, dtype: int64
3360000
c    67
a    15
-    10
Name: 3360000, dtype: int64
3360050
c    55
a    22
-    15
Name: 3360050, dtype: int64
3360054
c    70
a    15
-     7
Name: 3360054, dtype: int64
3360071
d    58
b    21
-    13
Name: 3360071, dtype: int64
3360077
d    58
b    28
-     6
Name: 3360077, dtype: int64
3360156
c    62
a    22
-     8
Name: 3360156, dtype: int64
3360160
d    61
b    22
-     9
Name: 3360160, dtype: int64
3360175
c    64
a    22
-     6
Name: 3360175, dtype: int64
3360201
d    58
b    22
-    12
Name: 3360201, dtype: int64
3360239
c    70
a    16
-     6
Name: 3360239, dtype: int64
3360242
d    67
b    19
-     6
Name: 3360242, dtype: int64
3360258
c    68
a    14
-    10
Name: 3360258, dtype: int64
3360310
d    55
b    27
-    10
Name: 3360310, dtype: int64
3360391
c    66
a    15
-    11
Name: 3360391, dtype: int64
3360436
c    71
a    16
-     5
Name: 3360436, dtype: int64
3360439
c    48
a    33
-    11
Name: 3360439, dtype: int64
3360459
c    67
a    13
-    12
Name: 3360459, dtype: int64
3360461
c    59
a    22
-    11
Name: 3360461, dtype: int64
3360468
c    72
a    12
-     8
Name: 3360468, dtype: int64
3360507
c    64
a    16
-    12
Name: 3360507, dtype: int64
3360535
d    50
b    32
-    10
Name: 3360535, dtype: int64
3360536
c    55
a    21
-    16
Name: 3360536, dtype: int64
3360538
c    61
a    24
-     7
Name: 3360538, dtype: int64
3360577
c    60
a    22
-    10
Name: 3360577, dtype: int64
3360638
c    56
a    22
-    14
Name: 3360638, dtype: int64
3360700
d    55
b    29
-     8
Name: 3360700, dtype: int64
3360725
c    70
a    16
-     6
Name: 3360725, dtype: int64
3360773
c    79
-    13
Name: 3360773, dtype: int64
3360777
c    65
a    16
-    11
Name: 3360777, dtype: int64
3360783
d    54
b    29
-     9
Name: 3360783, dtype: int64
3360800
d    59
b    29
-     4
Name: 3360800, dtype: int64
3360833
c    65
a    18
-     9
Name: 3360833, dtype: int64
3360888
c    60
a    18
-    14
Name: 3360888, dtype: int64
3360945
c    56
a    23
-    13
Name: 3360945, dtype: int64
3360956
c    66
a    17
-     9
Name: 3360956, dtype: int64
3360961
c    63
a    23
-     6
Name: 3360961, dtype: int64
3361000
c    56
a    22
-    14
Name: 3361000, dtype: int64
3361113
c    59
a    25
-     8
Name: 3361113, dtype: int64
3361127
c    59
a    25
-     8
Name: 3361127, dtype: int64
3361180
c    63
a    21
-     8
Name: 3361180, dtype: int64
3361184
c    67
a    14
-    11
Name: 3361184, dtype: int64
3361195
c    67
a    14
-    11
Name: 3361195, dtype: int64
3361213
d    52
b    30
-    10
Name: 3361213, dtype: int64
3361242
c    61
a    20
-    11
Name: 3361242, dtype: int64
3361256
c    72
a    13
-     7
Name: 3361256, dtype: int64
3361293
c    65
a    17
-    10
Name: 3361293, dtype: int64
3361305
c    67
a    16
-     9
Name: 3361305, dtype: int64
3361306
c    61
a    22
-     9
Name: 3361306, dtype: int64
3361390
c    65
a    19
-     8
Name: 3361390, dtype: int64
3361397
c    58
a    22
-    12
Name: 3361397, dtype: int64
3361413
c    60
a    23
-     9
Name: 3361413, dtype: int64
3361421
c    66
a    16
-    10
Name: 3361421, dtype: int64
3361466
c    58
a    22
-    12
Name: 3361466, dtype: int64
3361512
c    62
a    22
-     8
Name: 3361512, dtype: int64
3361557
c    61
a    23
-     8
Name: 3361557, dtype: int64
3361574
d    60
b    25
-     7
Name: 3361574, dtype: int64
3361583
c    61
a    21
-    10
Name: 3361583, dtype: int64
3361631
c    60
a    19
-    13
Name: 3361631, dtype: int64
3361664
c    62
a    17
-    13
Name: 3361664, dtype: int64
3361671
d    56
b    28
-     8
Name: 3361671, dtype: int64
3361681
c    68
a    17
-     7
Name: 3361681, dtype: int64
3361749
c    68
a    16
-     8
Name: 3361749, dtype: int64
3361757
d    59
b    22
-    11
Name: 3361757, dtype: int64
3361776
c    61
a    18
-    13
Name: 3361776, dtype: int64
3361780
d    54
b    25
-    13
Name: 3361780, dtype: int64
3361787
d    57
b    22
-    13
Name: 3361787, dtype: int64
3361798
c    69
a    13
-    10
Name: 3361798, dtype: int64
3361851
d    52
b    28
-    12
Name: 3361851, dtype: int64
3361870
d    60
b    25
-     7
Name: 3361870, dtype: int64
3361897
c    66
a    16
-    10
Name: 3361897, dtype: int64
3361952
c    74
a    17
-     1
Name: 3361952, dtype: int64
3361962
c    70
a    16
-     6
Name: 3361962, dtype: int64
3362093
c    57
a    21
-    14
Name: 3362093, dtype: int64
3362115
c    70
a    16
-     6
Name: 3362115, dtype: int64
3362304
d    80
-    10
b     2
Name: 3362304, dtype: int64
3362341
c    67
a    19
-     6
Name: 3362341, dtype: int64
3362420
c    64
a    21
-     7
Name: 3362420, dtype: int64
3362459
c    71
a    14
-     7
Name: 3362459, dtype: int64
3362483
d    70
b    15
-     7
Name: 3362483, dtype: int64
3362492
c    64
a    19
-     9
Name: 3362492, dtype: int64
3362555
c    71
a    16
-     5
Name: 3362555, dtype: int64
3362618
c    67
a    19
-     6
Name: 3362618, dtype: int64
3362731

c    74
-    15
a     3
Name: 3362731, dtype: int64
3362805
c    58
a    23
-    11
Name: 3362805, dtype: int64
3362925
d    69
-    18
b     5
Name: 3362925, dtype: int64
3362944
c    57
a    22
-    13
Name: 3362944, dtype: int64
3363040
c    62
a    23
-     7
Name: 3363040, dtype: int64
3363041
c    67
a    19
-     6
Name: 3363041, dtype: int64
3363089
c    65
a    23
-     4
Name: 3363089, dtype: int64
3363154
c    63
a    22
-     7
Name: 3363154, dtype: int64
3363212
d    77
-    15
Name: 3363212, dtype: int64
3363370
c    72
-    11
a     9
Name: 3363370, dtype: int64
3363410
c    67
a    15
-    10
Name: 3363410, dtype: int64
3363427
c    72
a    15
-     5
Name: 3363427, dtype: int64
3363536
c    72
a    14
-     6
Name: 3363536, dtype: int64
3363555
c    60
a    20
-    12
Name: 3363555, dtype: int64
3363672
c    57
a    29
-     6
Name: 3363672, dtype: int64
3363690
d    65
b    21
-     6
Name: 3363690, dtype: int64
3363738
d    57
b    23
-    12
Name: 3363738, dtype: int64
3363855
c    67
a    17
-     8
Name: 3363855, dtype: int64
3363942
c    63
a    22
-     7
Name: 3363942, dtype: int64
3363976
c    63
a    22
-     7
Name: 3363976, dtype: int64
3364004
c    67
a    15
-    10
Name: 3364004, dtype: int64
3364143
c    60
a    21
-    11
Name: 3364143, dtype: int64
3364167
c    68
a    16
-     8
Name: 3364167, dtype: int64
3364212
c    70
a    17
-     5
Name: 3364212, dtype: int64
3364287
c    64
a    22
-     6
Name: 3364287, dtype: int64
3364351
c    53
a    23
-    16
Name: 3364351, dtype: int64
3364514
c    69
a    17
-     6
Name: 3364514, dtype: int64
3364637
c    70
a    19
-     3
Name: 3364637, dtype: int64
3364684
c    60
a    20
-    12
Name: 3364684, dtype: int64
3365093
c    71
a    14
-     7
Name: 3365093, dtype: int64
3365130
c    54
a    24
-    14
Name: 3365130, dtype: int64
3365358
c    60
a    22
-    10
Name: 3365358, dtype: int64
3365360
c    70
a    18
-     4
Name: 3365360, dtype: int64
3575864
c    72
a    16
-     4
Name: 3575864, dtype: int64
3575906
d    64
b    19
-     9
Name: 3575906, dtype: int64
3575951
d    62
b    21
-     9
Name: 3575951, dtype: int64
3576018
d    65
b    22
-     5
Name: 3576018, dtype: int64
3576034
c    72
a    12
-     8
Name: 3576034, dtype: int64
3576039
d    65
b    21
-     6
Name: 3576039, dtype: int64
3576131
d    71
b    19
-     2
Name: 3576131, dtype: int64
3576139
d    63
b    20
-     9
Name: 3576139, dtype: int64
3576150
d    62
b    23
-     7
Name: 3576150, dtype: int64
3576356
c    70
a    14
-     8
Name: 3576356, dtype: int64
3576386
c    60
a    22
-    10
Name: 3576386, dtype: int64
3576434
c    66
a    20
-     6
Name: 3576434, dtype: int64
3576555
c    71
a    16
-     5
Name: 3576555, dtype: int64
3576615
d    60
b    24
-     8
Name: 3576615, dtype: int64
3576661
d    65
b    21
-     6
Name: 3576661, dtype: int64
3576705
d    64
b    21
-     7
Name: 3576705, dtype: int64
3576714
d    61
b    19
-    12
Name: 3576714, dtype: int64
3576734
d    64
b    23
-     5
Name: 3576734, dtype: int64
3576792
c    58
a    24
-    10
Name: 3576792, dtype: int64
3576897
c    69
a    14
-     9
Name: 3576897, dtype: int64
3576926
c    67
a    22
-     3
Name: 3576926, dtype: int64
3576930
c    64
a    18
-    10
Name: 3576930, dtype: int64
3576939
d    58
b    27
-     7
Name: 3576939, dtype: int64
3576990
c    67
a    20
-     5
Name: 3576990, dtype: int64
3577003
d    54
b    29
-     9
Name: 3577003, dtype: int64
3577034
d    64
b    20
-     8
Name: 3577034, dtype: int64
3577049
c    71
a    11
-    10
Name: 3577049, dtype: int64
3577078
d    66
b    22
-     4
Name: 3577078, dtype: int64
3577083
d    59
b    24
-     9
Name: 3577083, dtype: int64
3577166
d    55
b    26
-    11
Name: 3577166, dtype: int64
3577202
d    58
b    21
-    13
Name: 3577202, dtype: int64
3577337
d    61
b    28
-     3
Name: 3577337, dtype: int64
3577407
c    67
a    19
-     6
Name: 3577407, dtype: int64
3577417
c    55
a    27
-    10
Name: 3577417, dtype: int64
3577445
d    66
b    23
-     3
Name: 3577445, dtype: int64
3577490
d    65
b    21
-     6
Name: 3577490, dtype: int64
3577502
c    73
a    11
-     8
Name: 3577502, dtype: int64
3577520
c    73
a    17
-     2
Name: 3577520, dtype: int64
3577570
c    66
a    16
-    10
Name: 3577570, dtype: int64
3577699
d    59
b    25
-     8
Name: 3577699, dtype: int64
3577715
d    62
b    26
-     4
Name: 3577715, dtype: int64
3577780
c    63
a    22
-     7
Name: 3577780, dtype: int64
3577816
d    56
b    23
-    13
Name: 3577816, dtype: int64
3577827
d    62
b    22
-     8
Name: 3577827, dtype: int64
3577829
d    61
b    25
-     6
Name: 3577829, dtype: int64
3577892
d    61
b    23
-     8
Name: 3577892, dtype: int64
3577904
d    56
b    28
-     8
Name: 3577904, dtype: int64
3577934
d    59
b    25
-     8
Name: 3577934, dtype: int64
3577948
c    68
a    16
-     8
Name: 3577948, dtype: int64
3577968
c    72
a    14
-     6
Name: 3577968, dtype: int64
3578016
d    68
b    22
-     2
Name: 3578016, dtype: int64
3578112
d    59
b    23
-    10
Name: 3578112, dtype: int64
3578126
c    62
a    22
-     8
Name: 3578126, dtype: int64
3578221
c    74
-    18
Name: 3578221, dtype: int64
3578295
d    62
b    23
-     7
Name: 3578295, dtype: int64
3578382
d    64
b    19
-     9
Name: 3578382, dtype: int64
3578399
d    61
b    22
-     9
Name: 3578399, dtype: int64
3578490
d    64
b    26
-     2
Name: 3578490, dtype: int64
3578547
d    65
b    20
-     7
Name: 3578547, dtype: int64
3578562
d    68
b    21
-     3
Name: 3578562, dtype: int64
3578633
d    64
b    24
-     4
Name: 3578633, dtype: int64
3578652
c    61
a    21
-    10
Name: 3578652, dtype: int64
3578660
c    58
a    23
-    11
Name: 3578660, dtype: int64
3578684
d    62
b    23
-     7
Name: 3578684, dtype: int64
3578735
c    67
a    19
-     6
Name: 3578735, dtype: int64
3578747
c    69
a    19
-     4
Name: 3578747, dtype: int64
3578779
d    68
b    21
-     3
Name: 3578779, dtype: int64
3578883
d    53
b    27
-    12
Name: 3578883, dtype: int64
3578894
c    75
a    15
-     2
Name: 3578894, dtype: int64
3579070
d    61
b    26
-     5
Name: 3579070, dtype: int64
3579089
d    62
b    17
-    13
Name: 3579089, dtype: int64
3579208
c    62
a    22
-     8
Name: 3579208, dtype: int64
3579308
c    68
a    23
-     1
Name: 3579308, dtype: int64
3579324
c    64
a    22
-     6
Name: 3579324, dtype: int64
3579479
d    64
b    23
-     5
Name: 3579479, dtype: int64
3579507
d    59
b    24
-     9
Name: 3579507, dtype: int64
3579548
c    70
a    14
-     8
Name: 3579548, dtype: int64
3579557
d    57
b    23
-    12
Name: 3579557, dtype: int64
3579587
c    65
a    21
-     6
Name: 3579587, dtype: int64
3579636
d    62
b    21
-     9
Name: 3579636, dtype: int64
3579686
d    63
b    18
-    11
Name: 3579686, dtype: int64
3579722
d    67
b    22
-     3
Name: 3579722, dtype: int64
3579841
c    72
a    16
-     4
Name: 3579841, dtype: int64
3579888
c    71
a    16
-     5
Name: 3579888, dtype: int64
3579893
c    73
a    14
-     5
Name: 3579893, dtype: int64
3579934
d    57
b    29
-     6
Name: 3579934, dtype: int64
3579988
d    72
b    14
-     6
Name: 3579988, dtype: int64
3580039
d    62
b    26
-     4
Name: 3580039, dtype: int64
3580168
d    70
-    22
Name: 3580168, dtype: int64
3580283
d    62
b    22
-     8
Name: 3580283, dtype: int64
3580421
d    64
b    23
-     5
Name: 3580421, dtype: int64
3580450
c    59
a    23
-    10
Name: 3580450, dtype: int64
3580477
d    65
b    21
-     6
Name: 3580477, dtype: int64
3580478
d    67
b    19
-     6
Name: 3580478, dtype: int64
3580490
d    62
b    26
-     4
Name: 3580490, dtype: int64
3580595
d    63
b    23
-     6
Name: 3580595, dtype: int64
3580630
c    61
a    24
-     7
Name: 3580630, dtype: int64
3580641
d    62
b    24
-     6
Name: 3580641, dtype: int64
3580870
c    69
a    16
-     7
Name: 3580870, dtype: int64
3580924
d    57
b    22
-    13
Name: 3580924, dtype: int64
3580960
d    62
b    24
-     6
Name: 3580960, dtype: int64
3581048
d    64
b    23
-     5
Name: 3581048, dtype: int64
3581090
d    58
b    22
-    12
Name: 3581090, dtype: int64
3581119
d    56
b    27
-     9
Name: 3581119, dtype: int64
3581121
d    55
b    28
-     9
Name: 3581121, dtype: int64
3581147
c    70
a    17
-     5
Name: 3581147, dtype: int64
3581152
d    60
b    21
-    11
Name: 3581152, dtype: int64
3581192
d    64
b    21
-     7
Name: 3581192, dtype: int64
3581197
d    66
b    22
-     4
Name: 3581197, dtype: int64
3581222
d    64
b    23
-     5
Name: 3581222, dtype: int64
3581243
c    66
a    16
-    10
Name: 3581243, dtype: int64
3581273
d    62
b    21
-     9
Name: 3581273, dtype: int64
3581359
c    61
a    26
-     5
Name: 3581359, dtype: int64
3581407
d    65
b    23
-     4
Name: 3581407, dtype: int64
3581564
d    65
b    19
-     8
Name: 3581564, dtype: int64
3581680
d    56
b    23
-    13
Name: 3581680, dtype: int64
3581718
d    66
b    21
-     5
Name: 3581718, dtype: int64
3581722
d    61
b    24
-     7
Name: 3581722, dtype: int64
3581818
c    70
a    17
-     5
Name: 3581818, dtype: int64
3581821
d    60
b    22
-    10
Name: 3581821, dtype: int64
3581894
d    63
b    21
-     8
Name: 3581894, dtype: int64
3581939
c    71
a    16
-     5
Name: 3581939, dtype: int64
3581961
d    64
b    22
-     6
Name: 3581961, dtype: int64
3581975
d    59
b    23
-    10
Name: 3581975, dtype: int64
3581990
d    65
b    24
-     3
Name: 3581990, dtype: int64
3582132
c    71
a    18
-     3
Name: 3582132, dtype: int64
3582133
d    65
b    21
-     6
Name: 3582133, dtype: int64
3582178
d    63
b    20
-     9
Name: 3582178, dtype: int64
3582200
d    62
b    25
-     5
Name: 3582200, dtype: int64
3582210
c    69
a    18
-     5
Name: 3582210, dtype: int64
3582229
d    64
b    23
-     5
Name: 3582229, dtype: int64
3582263
c    62
a    21
-     9
Name: 3582263, dtype: int64
3582350
d    62
b    23
-     7
Name: 3582350, dtype: int64
3582463
d    65
b    22
-     5
Name: 3582463, dtype: int64
3582475
a    92
Name: 3582475, dtype: int64
3582548
d    61
b    25
-     6
Name: 3582548, dtype: int64
3582577
c    65
a    24
-     3
Name: 3582577, dtype: int64
3582704
d    65
b    23
-     4
Name: 3582704, dtype: int64
3582769
c    66
a    18
-     8
Name: 3582769, dtype: int64
3582788
c    69
a    14
-     9
Name: 3582788, dtype: int64
3582851
d    60
b    26
-     6
Name: 3582851, dtype: int64
3582883
d    62
b    24
-     6
Name: 3582883, dtype: int64
3582952
c    70
a    17
-     5
Name: 3582952, dtype: int64
3582976
d    64
b    22
-     6
Name: 3582976, dtype: int64
3582989
d    62
b    22
-     8
Name: 3582989, dtype: int64
3583041
c    69
a    16
-     7
Name: 3583041, dtype: int64
3583056
d    64
b    22
-     6
Name: 3583056, dtype: int64
3583061
c    62
-    15
a    15
Name: 3583061, dtype: int64
3583065
c    66
a    17
-     9
Name: 3583065, dtype: int64
3583080
d    60
b    21
-    11
Name: 3583080, dtype: int64
3583093
d    69
b    20
-     3
Name: 3583093, dtype: int64
3583228
c    72
a    15
-     5
Name: 3583228, dtype: int64
3583248
c    65
a    18
-     9
Name: 3583248, dtype: int64
3583362
d    61
b    23
-     8
Name: 3583362, dtype: int64
3583381
c    73
a    17
-     2
Name: 3583381, dtype: int64
3583392
d    65
b    21
-     6
Name: 3583392, dtype: int64
3583403
d    61
b    20
-    11
Name: 3583403, dtype: int64
3583417
c    75
a    13
-     4
Name: 3583417, dtype: int64
3583430
c    68
a    19
-     5
Name: 3583430, dtype: int64
3583485
c    62
a    22
-     8
Name: 3583485, dtype: int64
3583577
d    65
b    24
-     3
Name: 3583577, dtype: int64
3583696
d    60
b    21
-    11
Name: 3583696, dtype: int64
3583712
c    68
a    19
-     5
Name: 3583712, dtype: int64
3583804
d    66
b    21
-     5
Name: 3583804, dtype: int64
3583846
c    71
a    16
-     5
Name: 3583846, dtype: int64
3583955
d    63
b    19
-    10
Name: 3583955, dtype: int64
3583998
c    61
a    18
-    13
Name: 3583998, dtype: int64
3584036
d    55
b    29
-     8
Name: 3584036, dtype: int64
3584083
d    68
b    18
-     6
Name: 3584083, dtype: int64
3584107
d    66
b    22
-     4
Name: 3584107, dtype: int64
3584119
d    69
b    23
Name: 3584119, dtype: int64
3584128
c    73
a    16
-     3
Name: 3584128, dtype: int64
3584222
d    60
b    25
-     7
Name: 3584222, dtype: int64
3584242
c    69
a    17
-     6
Name: 3584242, dtype: int64
3584455
d    65
b    26
-     1
Name: 3584455, dtype: int64
3584583
d    58
b    29
-     5
Name: 3584583, dtype: int64
3584587
d    75
-    13
b     4
Name: 3584587, dtype: int64
3584597
d    63
b    26
-     3
Name: 3584597, dtype: int64
3584600
d    71
b    18
-     3
Name: 3584600, dtype: int64
3584680
d    59
b    24
-     9
Name: 3584680, dtype: int64
3584758
d    61
b    24
-     7
Name: 3584758, dtype: int64
3584763
c    71
a    16
-     5
Name: 3584763, dtype: int64
3584845
c    72
a    15
-     5
Name: 3584845, dtype: int64
3584857
c    65
a    17
-    10
Name: 3584857, dtype: int64
3584867
d    63
b    22
-     7
Name: 3584867, dtype: int64
3584979
c    76
a    15
-     1
Name: 3584979, dtype: int64
3585051
d    61
b    23
-     8
Name: 3585051, dtype: int64
3585067
d    67
b    22
-     3
Name: 3585067, dtype: int64
3585091
d    57
b    21
-    14
Name: 3585091, dtype: int64
3585126
c    67
a    17
-     8
Name: 3585126, dtype: int64
3585159
d    63
b    22
-     7
Name: 3585159, dtype: int64
3585167
d    59
b    22
-    11
Name: 3585167, dtype: int64
3585267
c    57
a    24
-    11
Name: 3585267, dtype: int64
3585279
c    56
a    22
-    14
Name: 3585279, dtype: int64
3585330
d    64
b    26
-     2
Name: 3585330, dtype: int64
3585440
d    67
b    22
-     3
Name: 3585440, dtype: int64
3585456
c    69
a    14
-     9
Name: 3585456, dtype: int64
3585460
c    71
a    17
-     4
Name: 3585460, dtype: int64
3585491
d    63
b    22
-     7
Name: 3585491, dtype: int64
3585523
d    60
b    26
-     6
Name: 3585523, dtype: int64
3585606
c    63
a    20
-     9
Name: 3585606, dtype: int64
3585641
d    63
b    25
-     4
Name: 3585641, dtype: int64
3585660
d    62
b    24
-     6
Name: 3585660, dtype: int64
3585680
d    57
b    23
-    12
Name: 3585680, dtype: int64
3585729
d    61
b    23
-     8
Name: 3585729, dtype: int64
3585798
d    62
b    22
-     8
Name: 3585798, dtype: int64
3585931
c    69
a    17
-     6
Name: 3585931, dtype: int64
3586009
c    66
a    22
-     4
Name: 3586009, dtype: int64
3586039
c    64
a    21
-     7
Name: 3586039, dtype: int64
3586218
d    69
b    18
-     5
Name: 3586218, dtype: int64
3586287
d    80
-     9
b     3
Name: 3586287, dtype: int64
3586298
c    68
a    19
-     5
Name: 3586298, dtype: int64
3586343
c    69
a    19
-     4
Name: 3586343, dtype: int64
3586411
d    60
b    23
-     9

Name: 3586411, dtype: int64
3586473
d    59
b    23
-    10
Name: 3586473, dtype: int64
3586520
d    62
b    22
-     8
Name: 3586520, dtype: int64
3586574
d    61
b    23
-     8
Name: 3586574, dtype: int64
3586583
c    67
a    20
-     5
Name: 3586583, dtype: int64
3586741
d    69
b    21
-     2
Name: 3586741, dtype: int64
3586907
c    66
a    22
-     4
Name: 3586907, dtype: int64
3586983
d    60
b    23
-     9
Name: 3586983, dtype: int64
3587013
d    78
-    12
b     2
Name: 3587013, dtype: int64
3587087
d    66
b    19
-     7
Name: 3587087, dtype: int64
3587122
d    62
b    23
-     7
Name: 3587122, dtype: int64
3587152
d    59
b    20
-    13
Name: 3587152, dtype: int64
3587180
c    70
a    17
-     5
Name: 3587180, dtype: int64
3587192
d    57
b    26
-     9
Name: 3587192, dtype: int64
3587216
c    64
a    16
-    12
Name: 3587216, dtype: int64
3587225
d    66
b    23
-     3
Name: 3587225, dtype: int64
3587227
c    60
a    22
-    10
Name: 3587227, dtype: int64
3587242
d    61
b    23
-     8
Name: 3587242, dtype: int64
3587251
c    65
a    21
-     6
Name: 3587251, dtype: int64
3587282
d    66
b    22
-     4
Name: 3587282, dtype: int64
3587296
c    67
a    20
-     5
Name: 3587296, dtype: int64
3587306
c    61
a    21
-    10
Name: 3587306, dtype: int64
3587489
d    60
b    22
-    10
Name: 3587489, dtype: int64
3587587
c    71
a    15
-     6
Name: 3587587, dtype: int64
3587616
d    62
b    24
-     6
Name: 3587616, dtype: int64
3587723
c    64
a    21
-     7
Name: 3587723, dtype: int64
3587773
c    62
a    19
-    11
Name: 3587773, dtype: int64
3587781
c    64
a    16
-    12
Name: 3587781, dtype: int64
3587809
d    59
b    24
-     9
Name: 3587809, dtype: int64
3587830
c    71
a    16
-     5
Name: 3587830, dtype: int64
3587903
d    73
-    10
b     9
Name: 3587903, dtype: int64
3587949
d    72
-    16
b     4
Name: 3587949, dtype: int64
3587950
c    63
a    16
-    13
Name: 3587950, dtype: int64
3587974
d    67
b    22
-     3
Name: 3587974, dtype: int64
3587991
d    67
b    21
-     4
Name: 3587991, dtype: int64
3588080
d    66
b    18
-     8
Name: 3588080, dtype: int64
3588132
d    62
b    21
-     9
Name: 3588132, dtype: int64
3588218
c    73
a    11
-     8
Name: 3588218, dtype: int64
3588377
c    67
a    21
-     4
Name: 3588377, dtype: int64
3588397
d    67
b    19
-     6
Name: 3588397, dtype: int64
3588503
d    60
b    21
-    11
Name: 3588503, dtype: int64
3588646
c    69
a    19
-     4
Name: 3588646, dtype: int64
3588682
d    58
b    24
-    10
Name: 3588682, dtype: int64
3588733
d    58
b    24
-    10
Name: 3588733, dtype: int64
3588772
d    63
b    22
-     7
Name: 3588772, dtype: int64
3588789
c    73
a    16
-     3
Name: 3588789, dtype: int64
3588888
d    62
b    22
-     8
Name: 3588888, dtype: int64
3588914
c    65
a    16
-    11
Name: 3588914, dtype: int64
3588995
d    65
b    23
-     4
Name: 3588995, dtype: int64
3589009
d    67
b    21
-     4
Name: 3589009, dtype: int64
3589089
c    66
a    22
-     4
Name: 3589089, dtype: int64
3589231
d    66
b    23
-     3
Name: 3589231, dtype: int64
3589253
d    62
b    22
-     8
Name: 3589253, dtype: int64
3589272
d    72
-    15
b     5
Name: 3589272, dtype: int64
3589426
c    75
a    13
-     4
Name: 3589426, dtype: int64
3589450
d    88
-     4
Name: 3589450, dtype: int64
3589490
d    62
b    22
-     8
Name: 3589490, dtype: int64
3589589
d    62
b    25
-     5
Name: 3589589, dtype: int64
3589590
d    63
b    24
-     5
Name: 3589590, dtype: int64
3589628
c    70
a    17
-     5
Name: 3589628, dtype: int64
3589656
d    57
b    23
-    12
Name: 3589656, dtype: int64
3589893
d    67
b    19
-     6
Name: 3589893, dtype: int64
3589896
d    58
b    29
-     5
Name: 3589896, dtype: int64
3589999
d    65
b    20
-     7
Name: 3589999, dtype: int64
3590020
d    65
b    23
-     4
Name: 3590020, dtype: int64
3590072
c    66
a    19
-     7
Name: 3590072, dtype: int64
3590079
d    64
b    22
-     6
Name: 3590079, dtype: int64
3590083
c    66
a    22
-     4
Name: 3590083, dtype: int64
3590218
d    66
b    20
-     6
Name: 3590218, dtype: int64
3590363
d    60
b    23
-     9
Name: 3590363, dtype: int64
3590370
d    58
b    24
-    10
Name: 3590370, dtype: int64
3590498
d    67
b    21
-     4
Name: 3590498, dtype: int64
3590525
c    70
a    14
-     8
Name: 3590525, dtype: int64
3590725
d    61
b    23
-     8
Name: 3590725, dtype: int64
3590745
c    68
a    14
-    10
Name: 3590745, dtype: int64
3590787
d    63
b    26
-     3
Name: 3590787, dtype: int64
3590821
d    64
b    20
-     8
Name: 3590821, dtype: int64
3590825
d    63
b    22
-     7
Name: 3590825, dtype: int64
3590831
d    67
b    16
-     9
Name: 3590831, dtype: int64
3590844
d    56
b    24
-    12
Name: 3590844, dtype: int64
3590905
d    68
b    20
-     4
Name: 3590905, dtype: int64
3590945
d    53
b    28
-    11
Name: 3590945, dtype: int64
3591102
d    73
-    13
b     6
Name: 3591102, dtype: int64
3591126
c    64
a    19
-     9
Name: 3591126, dtype: int64
3591132
c    70
a    16
-     6
Name: 3591132, dtype: int64
3591238
c    69
a    18
-     5
Name: 3591238, dtype: int64
3591268
c    71
a    16
-     5
Name: 3591268, dtype: int64
3591271
d    64
b    23
-     5
Name: 3591271, dtype: int64
3591298
d    64
b    19
-     9
Name: 3591298, dtype: int64
3591302
d    64
b    22
-     6
Name: 3591302, dtype: int64
3591378
d    76
-    14
b     2
Name: 3591378, dtype: int64
3591436
c    65
a    21
-     6
Name: 3591436, dtype: int64
3591629
d    68
b    20
-     4
Name: 3591629, dtype: int64
3591648
c    63
a    21
-     8
Name: 3591648, dtype: int64
3591672
d    63
b    26
-     3
Name: 3591672, dtype: int64
3591704
d    62
b    26
-     4
Name: 3591704, dtype: int64
3591713
c    68
a    13
-    11
Name: 3591713, dtype: int64
3591714
d    59
b    26
-     7
Name: 3591714, dtype: int64
3591812
d    70
b    13
-     9
Name: 3591812, dtype: int64
3591822
c    71
a    16
-     5
Name: 3591822, dtype: int64
3591944
d    72
b    19
-     1
Name: 3591944, dtype: int64
3591955
d    60
b    27
-     5
Name: 3591955, dtype: int64
3592017
d    64
b    18
-    10
Name: 3592017, dtype: int64
3592036
c    71
a    13
-     8
Name: 3592036, dtype: int64
3592226
d    64
b    20
-     8
Name: 3592226, dtype: int64
3592237
d    66
b    22
-     4
Name: 3592237, dtype: int64
3592350
d    59
b    24
-     9
Name: 3592350, dtype: int64
3592364
d    57
b    24
-    11
Name: 3592364, dtype: int64
3592400
d    62
b    26
-     4
Name: 3592400, dtype: int64
3592415
d    61
b    24
-     7
Name: 3592415, dtype: int64
3592440
c    66
a    22
-     4
Name: 3592440, dtype: int64
3592579
d    58
b    22
-    12
Name: 3592579, dtype: int64
3592583
c    72
a    16
-     4
Name: 3592583, dtype: int64
3592729
c    65
a    17
-    10
Name: 3592729, dtype: int64
3592737
d    61
b    22
-     9
Name: 3592737, dtype: int64
3592756
d    61
b    30
-     1
Name: 3592756, dtype: int64
3592801
a    92
Name: 3592801, dtype: int64
3592831
d    68
b    21
-     3
Name: 3592831, dtype: int64
3592846
c    66
a    16
-    10
Name: 3592846, dtype: int64
3592878
d    68
b    20
-     4
Name: 3592878, dtype: int64
3592884
d    69
b    19
-     4
Name: 3592884, dtype: int64
3592931
d    60
b    25
-     7
Name: 3592931, dtype: int64
3592990
d    63
b    24
-     5
Name: 3592990, dtype: int64
3593050
c    64
-    20
a     8
Name: 3593050, dtype: int64
3593061
d    62
b    25
-     5
Name: 3593061, dtype: int64
3593063
d    60
b    22
-    10
Name: 3593063, dtype: int64
3593076
d    62
b    26
-     4
Name: 3593076, dtype: int64
3593188
d    70
-    12
b    10
Name: 3593188, dtype: int64
3593273
d    62
b    23
-     7
Name: 3593273, dtype: int64
3593278
c    71
a    16
-     5
Name: 3593278, dtype: int64
3593506
d    56
b    23
-    13
Name: 3593506, dtype: int64
3593751
d    65
b    19
-     8
Name: 3593751, dtype: int64
3593774
c    62
a    23
-     7
Name: 3593774, dtype: int64
3593852
c    69
a    17
-     6
Name: 3593852, dtype: int64
3593865
d    56
b    26
-    10
Name: 3593865, dtype: int64
3593869
c    62
a    19
-    11
Name: 3593869, dtype: int64
3593925
d    64
b    22
-     6
Name: 3593925, dtype: int64
3593977
c    64
a    22
-     6
Name: 3593977, dtype: int64
3594021
d    68
b    16
-     8
Name: 3594021, dtype: int64
3594029

c    71
-    12
a     9
Name: 3594029, dtype: int64
3594032
c    72
a    14
-     6
Name: 3594032, dtype: int64
3594036
c    69
a    17
-     6
Name: 3594036, dtype: int64
3594105
c    71
a    16
-     5
Name: 3594105, dtype: int64
3594211
d    62
b    26
-     4
Name: 3594211, dtype: int64
3594232
c    70
a    19
-     3
Name: 3594232, dtype: int64
3594288
d    61
b    21
-    10
Name: 3594288, dtype: int64
3594384
c    61
a    23
-     8
Name: 3594384, dtype: int64
3594544
d    67
b    21
-     4
Name: 3594544, dtype: int64
3594561
d    66
b    19
-     7
Name: 3594561, dtype: int64
3594570
d    60
b    22
-    10
Name: 3594570, dtype: int64
3594588
d    59
b    24
-     9
Name: 3594588, dtype: int64
3594592
c    64
a    17
-    11
Name: 3594592, dtype: int64
3594626
d    67
b    21
-     4
Name: 3594626, dtype: int64
3594668
d    65
b    18
-     9
Name: 3594668, dtype: int64
3594735
d    62
b    21
-     9
Name: 3594735, dtype: int64
3594761
d    64
b    17
-    11
Name: 3594761, dtype: int64
3594774
d    53
b    28
-    11
Name: 3594774, dtype: int64
3594785
d    54
b    26
-    12
Name: 3594785, dtype: int64
3594845
c    74
a    17
-     1
Name: 3594845, dtype: int64
3594851
d    58
b    22
-    12
Name: 3594851, dtype: int64
3594956
d    57
b    23
-    12
Name: 3594956, dtype: int64
3594961
c    60
a    19
-    13
Name: 3594961, dtype: int64
3595054
c    62
a    21
-     9
Name: 3595054, dtype: int64
3595161
d    59
b    22
-    11
Name: 3595161, dtype: int64
3595208
c    67
a    18
-     7
Name: 3595208, dtype: int64
3595299
d    55
b    29
-     8
Name: 3595299, dtype: int64
3595358
d    65
b    21
-     6
Name: 3595358, dtype: int64
3595417
d    60
b    24
-     8
Name: 3595417, dtype: int64
3595445
d    69
b    22
-     1
Name: 3595445, dtype: int64
3595538
d    61
b    21
-    10
Name: 3595538, dtype: int64
3595546
d    74
-    17
b     1
Name: 3595546, dtype: int64
3595654
d    61
b    22
-     9
Name: 3595654, dtype: int64
3595675
d    72
-    11
b     9
Name: 3595675, dtype: int64
3595714
d    70
-    11
b    11
Name: 3595714, dtype: int64
3595716
d    89
-     3
Name: 3595716, dtype: int64
3595777
d    57
b    24
-    11
Name: 3595777, dtype: int64
3595791
c    68
a    17
-     7
Name: 3595791, dtype: int64
3595917
c    64
a    17
-    11
Name: 3595917, dtype: int64
3595960
c    64
a    20
-     8
Name: 3595960, dtype: int64
3596023
d    54
b    28
-    10
Name: 3596023, dtype: int64
3596132
d    64
b    19
-     9
Name: 3596132, dtype: int64
3596428
d    60
b    26
-     6
Name: 3596428, dtype: int64
3596514
d    69
b    17
-     6
Name: 3596514, dtype: int64
3596520
d    59
b    24
-     9
Name: 3596520, dtype: int64
3596562
d    64
b    21
-     7
Name: 3596562, dtype: int64
3596564
c    63
a    17
-    12
Name: 3596564, dtype: int64
3596641
d    68
b    19
-     5
Name: 3596641, dtype: int64
3596708
d    69
-    14
b     9
Name: 3596708, dtype: int64
3596748
c    67
a    16
-     9
Name: 3596748, dtype: int64
3596782
d    62
b    21
-     9
Name: 3596782, dtype: int64
3596799
c    70
a    15
-     7
Name: 3596799, dtype: int64
3596831
c    60
a    27
-     5
Name: 3596831, dtype: int64
3596847
d    61
b    17
-    14
Name: 3596847, dtype: int64
3597058
d    57
b    26
-     9
Name: 3597058, dtype: int64
3597099
c    58
-    17
a    17
Name: 3597099, dtype: int64
3597160
d    59
b    21
-    12
Name: 3597160, dtype: int64
3597242
d    64
b    25
-     3
Name: 3597242, dtype: int64
3597388
d    60
b    22
-    10
Name: 3597388, dtype: int64
3597409
d    71
b    17
-     4
Name: 3597409, dtype: int64
3597544
d    64
b    24
-     4
Name: 3597544, dtype: int64
3597548
c    75
-     9
a     8
Name: 3597548, dtype: int64
3597776
d    61
b    23
-     8
Name: 3597776, dtype: int64
3597779
d    60
b    24
-     8
Name: 3597779, dtype: int64
3597784
c    61
a    21
-    10
Name: 3597784, dtype: int64
3597791
d    69
b    19
-     4
Name: 3597791, dtype: int64
3597793
d    63
b    26
-     3
Name: 3597793, dtype: int64
3597827
d    68
b    23
-     1
Name: 3597827, dtype: int64
3597839
c    69
a    16
-     7
Name: 3597839, dtype: int64
3597885
c    66
a    20
-     6
Name: 3597885, dtype: int64
3598068
c    72
a    16
-     4
Name: 3598068, dtype: int64
3598077
d    62
b    25
-     5
Name: 3598077, dtype: int64
3598121
c    63
a    22
-     7
Name: 3598121, dtype: int64
3598157
c    76
a    14
-     2
Name: 3598157, dtype: int64
3598163
c    64
a    24
-     4
Name: 3598163, dtype: int64
3598265
d    62
b    22
-     8
Name: 3598265, dtype: int64
3598274
d    64
b    21
-     7
Name: 3598274, dtype: int64
3598277
d    60
b    24
-     8
Name: 3598277, dtype: int64
3598424
d    54
b    30
-     8
Name: 3598424, dtype: int64
3598465
d    58
b    22
-    12
Name: 3598465, dtype: int64
3598580
d    57
b    27
-     8
Name: 3598580, dtype: int64
3598614
d    71
b    19
-     2
Name: 3598614, dtype: int64
3598640
d    57
b    28
-     7
Name: 3598640, dtype: int64
3598683
d    57
b    22
-    13
Name: 3598683, dtype: int64
3598717
c    71
a    16
-     5
Name: 3598717, dtype: int64
3598841
d    59
b    25
-     8
Name: 3598841, dtype: int64
3598929
d    64
b    23
-     5
Name: 3598929, dtype: int64
3599000
d    63
b    22
-     7
Name: 3599000, dtype: int64
3599199
c    60
a    22
-    10
Name: 3599199, dtype: int64
3599352
d    51
b    26
-    15
Name: 3599352, dtype: int64
3599358
d    63
b    26
-     3
Name: 3599358, dtype: int64
3599359
c    68
a    16
-     8
Name: 3599359, dtype: int64
3599362
d    62
b    26
-     4
Name: 3599362, dtype: int64
3599484
c    70
a    16
-     6
Name: 3599484, dtype: int64
3599648
d    62
b    23
-     7
Name: 3599648, dtype: int64
3599649
d    60
b    23
-     9
Name: 3599649, dtype: int64
3599732
c    69
a    14
-     9
Name: 3599732, dtype: int64
3599897
d    62
b    22
-     8
Name: 3599897, dtype: int64
3599899
c    63
a    24
-     5
Name: 3599899, dtype: int64
3600020
d    68
b    22
-     2
Name: 3600020, dtype: int64
3600119
d    62
b    22
-     8
Name: 3600119, dtype: int64
3600155
c    67
a    19
-     6
Name: 3600155, dtype: int64
3600156
d    61
b    22
-     9
Name: 3600156, dtype: int64
3600261
d    66
b    21
-     5
Name: 3600261, dtype: int64
3600292
d    61
b    26
-     5
Name: 3600292, dtype: int64
3600299
d    63
b    22
-     7
Name: 3600299, dtype: int64
3600343
d    62
b    21
-     9
Name: 3600343, dtype: int64
3600373
d    60
b    22
-    10
Name: 3600373, dtype: int64
3600466
d    55
b    29
-     8
Name: 3600466, dtype: int64
3600538
d    62
b    23
-     7
Name: 3600538, dtype: int64
3600552
d    71
b    15
-     6
Name: 3600552, dtype: int64
3600557
d    59
b    22
-    11
Name: 3600557, dtype: int64
3600605
d    55
b    28
-     9
Name: 3600605, dtype: int64
3600610
d    61
b    23
-     8
Name: 3600610, dtype: int64
3600654
d    58
b    19
-    15
Name: 3600654, dtype: int64
3600702
d    62
b    23
-     7
Name: 3600702, dtype: int64
3600819
d    63
b    24
-     5
Name: 3600819, dtype: int64
3600820
c    70
a    17
-     5
Name: 3600820, dtype: int64
3600876
c    68
a    16
-     8
Name: 3600876, dtype: int64
3600900
d    64
b    21
-     7
Name: 3600900, dtype: int64
3600933
d    64
b    23
-     5
Name: 3600933, dtype: int64
3600944
d    56
b    32
-     4
Name: 3600944, dtype: int64
3601033
d    69
b    19
-     4
Name: 3601033, dtype: int64
3601063
d    67
b    18
-     7
Name: 3601063, dtype: int64
3601104
c    64
a    17
-    11
Name: 3601104, dtype: int64
3601249
c    67
a    20
-     5
Name: 3601249, dtype: int64
3601348
d    63
b    24
-     5
Name: 3601348, dtype: int64
3601406
c    68
a    16
-     8
Name: 3601406, dtype: int64
3601531
d    63
b    20
-     9
Name: 3601531, dtype: int64
3601559
d    61
b    25
-     6
Name: 3601559, dtype: int64
3601627
c    71
a    16
-     5
Name: 3601627, dtype: int64
3601769
d    65
b    22
-     5
Name: 3601769, dtype: int64
3601770
d    59
b    21
-    12
Name: 3601770, dtype: int64
3602005
c    63
a    20
-     9
Name: 3602005, dtype: int64
3602054
c    61
a    19
-    12
Name: 3602054, dtype: int64
3602090
d    67
b    21
-     4
Name: 3602090, dtype: int64
3602266
d    72
b    15
-     5
Name: 3602266, dtype: int64
3602362
d    66
b    22
-     4
Name: 3602362, dtype: int64
3602386
c    68
a    16
-     8
Name: 3602386, dtype: int64
3602430
d    69
b    19
-     4
Name: 3602430, dtype: int64
3602545
d    57
b    26
-     9
Name: 3602545, dtype: int64
3602608
d    60
b    26
-     6
Name: 3602608, dtype: int64
3602726
c    76
a     9
-     7
Name: 3602726, dtype: int64
3602821
d    59
b    24
-     9
Name: 3602821, dtype: int64
3602850
c    63
a    22
-     7
Name: 3602850, dtype: int64
3602932
c    69
a    13
-    10
Name: 3602932, dtype: int64
3602934
c    66
a    17
-     9
Name: 3602934, dtype: int64
3603031
d    60
b    27
-     5
Name: 3603031, dtype: int64
3603035
c    62
a    19
-    11
Name: 3603035, dtype: int64
3603091
d    69
b    20
-     3
Name: 3603091, dtype: int64
3603105
c    73
a    17
-     2
Name: 3603105, dtype: int64
3603133
c    71
a    16
-     5
Name: 3603133, dtype: int64
3603194
c    72
a    17
-     3
Name: 3603194, dtype: int64
3729827
d    64
b    22
-     6
Name: 3729827, dtype: int64
3729893
c    67
a    16
-     9
Name: 3729893, dtype: int64
3729923
c    66
a    15
-    11
Name: 3729923, dtype: int64
3729972
c    70
a    19
-     3
Name: 3729972, dtype: int64
3730141
d    61
b    27
-     4
Name: 3730141, dtype: int64
3730183
c    79
-     8
a     5
Name: 3730183, dtype: int64
3730226
c    63
a    19
-    10
Name: 3730226, dtype: int64
3730227
d    60
b    25
-     7
Name: 3730227, dtype: int64
3730252
d    56
b    24
-    12
Name: 3730252, dtype: int64
3730320
c    63
a    16
-    13
Name: 3730320, dtype: int64
3730449
c    72
a    16
-     4
Name: 3730449, dtype: int64
3730450
d    63
b    22
-     7
Name: 3730450, dtype: int64
3730530
c    63
a    17
-    12
Name: 3730530, dtype: int64
3730543
c    71
a    19
-     2
Name: 3730543, dtype: int64
3730550
c    59
a    25
-     8
Name: 3730550, dtype: int64
3730585
d    61
b    23
-     8
Name: 3730585, dtype: int64
3730605
c    69
a    16
-     7
Name: 3730605, dtype: int64
3730700
c    63
a    21
-     8
Name: 3730700, dtype: int64
3730706
c    65
a    17
-    10
Name: 3730706, dtype: int64
3730736
c    64
a    21
-     7
Name: 3730736, dtype: int64
3731047
c    58
a    23
-    11
Name: 3731047, dtype: int64
3731167
d    62
b    25
-     5
Name: 3731167, dtype: int64
3731200
c    60
a    21
-    11
Name: 3731200, dtype: int64
3731295
c    65
a    22
-     5
Name: 3731295, dtype: int64
3731347
d    59
b    24
-     9
Name: 3731347, dtype: int64
3731623
d    62
b    25
-     5
Name: 3731623, dtype: int64
3731647
d    58
b    26
-     8
Name: 3731647, dtype: int64
3731961
c    68
a    18
-     6
Name: 3731961, dtype: int64
3732013
c    70
a    17
-     5
Name: 3732013, dtype: int64
3732038
c    61
a    23
-     8
Name: 3732038, dtype: int64
3732049
c    64
a    19
-     9
Name: 3732049, dtype: int64
3732125
d    56
b    24
-    12
Name: 3732125, dtype: int64
3732207
d    62
b    18
-    12
Name: 3732207, dtype: int64
3732226
c    63
a    22
-     7
Name: 3732226, dtype: int64
3732342
c    60
a    22
-    10
Name: 3732342, dtype: int64
3732372
c    67
a    20
-     5
Name: 3732372, dtype: int64
3732512
d    51
b    28
-    13
Name: 3732512, dtype: int64
3732549
d    63
b    25
-     4
Name: 3732549, dtype: int64
3732588
c    68
a    20
-     4
Name: 3732588, dtype: int64
3732647
d    61
b    21
-    10
Name: 3732647, dtype: int64
3732655
d    66
b    24
-     2
Name: 3732655, dtype: int64
3732924
c    67
a    17
-     8
Name: 3732924, dtype: int64
3733027
d    53
b    29
-    10
Name: 3733027, dtype: int64
3733109
d    55
b    28
-     9
Name: 3733109, dtype: int64
3733202
c    67
a    18
-     7
Name: 3733202, dtype: int64
3733217
d    67
b    19
-     6
Name: 3733217, dtype: int64
3733219
d    59
b    27
-     6
Name: 3733219, dtype: int64
3733272
d    63
b    22
-     7
Name: 3733272, dtype: int64
3733341
c    68
a    16
-     8
Name: 3733341, dtype: int64
3733431
d    67
b    20
-     5
Name: 3733431, dtype: int64
3733467
d    65
b    19
-     8
Name: 3733467, dtype: int64
3733591
c    63
a    22
-     7
Name: 3733591, dtype: int64
3733599
d    64
b    23
-     5
Name: 3733599, dtype: int64
3733604
d    61
b    28
-     3
Name: 3733604, dtype: int64
3733618
c    65
a    14
-    13
Name: 3733618, dtype: int64
3733719
c    74
a    18

Name: 3733719, dtype: int64
3733725
d    62
b    22
-     8
Name: 3733725, dtype: int64
3733987
c    75
a    14
-     3
Name: 3733987, dtype: int64
3733997
c    65
a    23
-     4
Name: 3733997, dtype: int64
3734030
d    62
b    22
-     8
Name: 3734030, dtype: int64
3734039
d    71
b    19
-     2
Name: 3734039, dtype: int64
3734265
d    66
b    21
-     5
Name: 3734265, dtype: int64
3734444
c    69
a    16
-     7
Name: 3734444, dtype: int64
3734492
d    65
b    25
-     2
Name: 3734492, dtype: int64
3734499
d    67
b    22
-     3
Name: 3734499, dtype: int64
3734541
c    60
a    21
-    11
Name: 3734541, dtype: int64
3734619
d    65
b    25
-     2
Name: 3734619, dtype: int64
3734630
c    56
a    28
-     8
Name: 3734630, dtype: int64
3734669
c    67
a    22
-     3
Name: 3734669, dtype: int64
3734686
c    63
a    18
-    11
Name: 3734686, dtype: int64
3734764
c    68
a    16
-     8
Name: 3734764, dtype: int64
3735009
d    65
b    22
-     5
Name: 3735009, dtype: int64
3735121
c    59
a    21
-    12
Name: 3735121, dtype: int64
3735235
c    69
a    16
-     7
Name: 3735235, dtype: int64
3735236
d    69
b    21
-     2
Name: 3735236, dtype: int64
3735363
d    61
b    21
-    10
Name: 3735363, dtype: int64
3735457
c    59
a    22
-    11
Name: 3735457, dtype: int64
3735574
d    64
-    14
b    14
Name: 3735574, dtype: int64
3735654
c    64
a    19
-     9
Name: 3735654, dtype: int64
3735824
c    59
a    23
-    10
Name: 3735824, dtype: int64
3735882
c    62
a    19
-    11
Name: 3735882, dtype: int64
3735947
d    64
b    22
-     6
Name: 3735947, dtype: int64
3736093
d    56
b    28
-     8
Name: 3736093, dtype: int64
3736140
c    59
a    24
-     9
Name: 3736140, dtype: int64
3736182
d    63
b    20
-     9
Name: 3736182, dtype: int64
3736289
d    60
b    19
-    13
Name: 3736289, dtype: int64
3736412
d    60
b    28
-     4
Name: 3736412, dtype: int64
3736452
c    72
a    17
-     3
Name: 3736452, dtype: int64
3736502
c    70
a    22
Name: 3736502, dtype: int64
3736545
c    67
a    17
-     8
Name: 3736545, dtype: int64
3736566
d    61
b    21
-    10
Name: 3736566, dtype: int64
3736625
d    63
b    23
-     6
Name: 3736625, dtype: int64
3736692
c    75
-     9
a     8
Name: 3736692, dtype: int64
3736708
c    65
a    17
-    10
Name: 3736708, dtype: int64
3736719
d    72
-    13
b     7
Name: 3736719, dtype: int64
3736731
c    68
a    14
-    10
Name: 3736731, dtype: int64
3736857
d    69
b    20
-     3
Name: 3736857, dtype: int64
3736876
d    58
b    23
-    11
Name: 3736876, dtype: int64
3736964
d    62
b    25
-     5
Name: 3736964, dtype: int64
3736988
c    72
a    14
-     6
Name: 3736988, dtype: int64
3737021
c    70
a    19
-     3
Name: 3737021, dtype: int64
3737136
d    62
b    25
-     5
Name: 3737136, dtype: int64
3737150
d    59
b    25
-     8
Name: 3737150, dtype: int64
3737166
d    58
b    25
-     9
Name: 3737166, dtype: int64
3737172
c    59
a    21
-    12
Name: 3737172, dtype: int64
3737255
c    64
a    23
-     5
Name: 3737255, dtype: int64
3737343
d    66
b    22
-     4
Name: 3737343, dtype: int64
3737398
c    67
a    16
-     9
Name: 3737398, dtype: int64
3737423
d    58
b    26
-     8
Name: 3737423, dtype: int64
3737430
c    74
a    14
-     4
Name: 3737430, dtype: int64
3737584
c    69
a    13
-    10
Name: 3737584, dtype: int64
3737713
d    58
b    24
-    10
Name: 3737713, dtype: int64
3737737
c    61
a    19
-    12
Name: 3737737, dtype: int64
3737817
c    64
-    15
a    13
Name: 3737817, dtype: int64
3737970
c    68
a    17
-     7
Name: 3737970, dtype: int64
3738054
c    69
a    17
-     6
Name: 3738054, dtype: int64
3738122
c    59
a    24
-     9
Name: 3738122, dtype: int64
3738221
c    64
a    16
-    12
Name: 3738221, dtype: int64
3738222
d    65
b    23
-     4
Name: 3738222, dtype: int64
3738300
c    70
a    15
-     7
Name: 3738300, dtype: int64
3738302
d    57
b    26
-     9
Name: 3738302, dtype: int64
3738319
c    68
a    17
-     7
Name: 3738319, dtype: int64
3738329
d    67
b    19
-     6
Name: 3738329, dtype: int64
3738379
c    68
a    21
-     3
Name: 3738379, dtype: int64
3738398
c    71
a    14
-     7
Name: 3738398, dtype: int64
3738475
d    57
b    30
-     5
Name: 3738475, dtype: int64
3738525
d    68
b    21
-     3
Name: 3738525, dtype: int64
3738551
c    71
a    16
-     5
Name: 3738551, dtype: int64
3738622
c    65
a    17
-    10
Name: 3738622, dtype: int64
3738681
d    64
b    21
-     7
Name: 3738681, dtype: int64
3738897
c    62
a    21
-     9
Name: 3738897, dtype: int64
3738925
c    63
a    22
-     7
Name: 3738925, dtype: int64
3738926
c    71
a    12
-     9
Name: 3738926, dtype: int64
3739123
c    58
a    22
-    12
Name: 3739123, dtype: int64
3739226
d    68
b    19
-     5
Name: 3739226, dtype: int64
3739405
c    57
a    27
-     8
Name: 3739405, dtype: int64
3739512
d    60
b    22
-    10
Name: 3739512, dtype: int64
3739562
c    77
a    11
-     4
Name: 3739562, dtype: int64
3739573
d    55
b    29
-     8
Name: 3739573, dtype: int64
3739681
c    62
a    22
-     8
Name: 3739681, dtype: int64
3739734
c    71
a    16
-     5
Name: 3739734, dtype: int64
3739891
c    72
a    14
-     6
Name: 3739891, dtype: int64
3739927
c    51
a    29
-    12
Name: 3739927, dtype: int64
3739982
d    55
b    26
-    11
Name: 3739982, dtype: int64
3740024
c    69
a    19
-     4
Name: 3740024, dtype: int64
3740075
d    60
b    22
-    10
Name: 3740075, dtype: int64
3740118
d    56
b    27
-     9
Name: 3740118, dtype: int64
3740242
c    63
a    23
-     6
Name: 3740242, dtype: int64
3740321
c    69
a    22
-     1
Name: 3740321, dtype: int64
3740322
c    63
a    17
-    12
Name: 3740322, dtype: int64
3740460
d    53
b    20
-    19
Name: 3740460, dtype: int64
3740478
d    62
b    24
-     6
Name: 3740478, dtype: int64
3740489
c    67
a    20
-     5
Name: 3740489, dtype: int64
3740509
d    55
b    26
-    11
Name: 3740509, dtype: int64
3740529
d    57
b    29
-     6
Name: 3740529, dtype: int64
3740564
d    64
b    22
-     6
Name: 3740564, dtype: int64
3740565
c    66
a    22
-     4
Name: 3740565, dtype: int64
3740570
d    64
b    20
-     8
Name: 3740570, dtype: int64
3740599
c    63
a    21
-     8
Name: 3740599, dtype: int64
3740640
d    62
b    25
-     5
Name: 3740640, dtype: int64
3740762
c    69
a    16
-     7
Name: 3740762, dtype: int64
3740799
c    66
a    14
-    12
Name: 3740799, dtype: int64
3740813
c    69
a    16
-     7
Name: 3740813, dtype: int64
3740834
d    58
b    24
-    10
Name: 3740834, dtype: int64
3740854
d    61
b    22
-     9
Name: 3740854, dtype: int64
3740870
d    67
b    21
-     4
Name: 3740870, dtype: int64
3740917
c    74
a    17
-     1
Name: 3740917, dtype: int64
3741033
d    62
b    23
-     7
Name: 3741033, dtype: int64
3741042
c    65
a    18
-     9
Name: 3741042, dtype: int64
3741102
d    60
b    27
-     5
Name: 3741102, dtype: int64
3741143
d    65
b    24
-     3
Name: 3741143, dtype: int64
3741160
d    67
b    23
-     2
Name: 3741160, dtype: int64
3741170
d    63
b    25
-     4
Name: 3741170, dtype: int64
3741181
d    63
b    22
-     7
Name: 3741181, dtype: int64
3741213
c    66
a    18
-     8
Name: 3741213, dtype: int64
3741284
c    65
a    16
-    11
Name: 3741284, dtype: int64
3741329
d    62
b    24
-     6
Name: 3741329, dtype: int64
3741363
c    69
a    14
-     9
Name: 3741363, dtype: int64
3741378
c    67
a    13
-    12
Name: 3741378, dtype: int64
3741382
c    70
a    14
-     8
Name: 3741382, dtype: int64
3741393
c    76
-    12
a     4
Name: 3741393, dtype: int64
3741433
d    60
b    23
-     9
Name: 3741433, dtype: int64
3741534
c    73
a    15
-     4
Name: 3741534, dtype: int64
3741565
d    60
b    27
-     5
Name: 3741565, dtype: int64
3741602
d    58
b    21
-    13
Name: 3741602, dtype: int64
3741660
d    63
b    25
-     4
Name: 3741660, dtype: int64
3741670
d    66
b    21
-     5
Name: 3741670, dtype: int64
3741768
d    66
b    19
-     7
Name: 3741768, dtype: int64
3741838
c    60
a    24
-     8
Name: 3741838, dtype: int64
3741931
d    56
b    28
-     8
Name: 3741931, dtype: int64
3741938
d    62
b    26
-     4
Name: 3741938, dtype: int64
3741977
d    63
b    22
-     7
Name: 3741977, dtype: int64
3742031
c    63
a    22
-     7
Name: 3742031, dtype: int64
3742053
d    54
b    26
-    12
Name: 3742053, dtype: int64
3742108
d    65
b    26
-     1
Name: 3742108, dtype: int64
3742130
d    53
b    26
-    13
Name: 3742130, dtype: int64
3742136
c    67
a    17
-     8
Name: 3742136, dtype: int64
3742221
c    62
a    21
-     9
Name: 3742221, dtype: int64
3742447
d    61
b    24
-     7
Name: 3742447, dtype: int64
3742672
d    61
b    22
-     9
Name: 3742672, dtype: int64
3742764
c    57
a    23
-    12
Name: 3742764, dtype: int64
3742992
c    61
a    22
-     9
Name: 3742992, dtype: int64
3743056
d    62
b    20
-    10
Name: 3743056, dtype: int64
3743070
d    58
b    24
-    10
Name: 3743070, dtype: int64
3743112
c    58
a    22
-    12
Name: 3743112, dtype: int64
3743383
d    59
b    28
-     5
Name: 3743383, dtype: int64
3743627
c    75
-    13
a     4
Name: 3743627, dtype: int64
3743628
c    62
a    18
-    12
Name: 3743628, dtype: int64
3743802
c    64
a    21
-     7
Name: 3743802, dtype: int64
3744078
d    61
b    23
-     8
Name: 3744078, dtype: int64
3744133
c    61
a    24
-     7
Name: 3744133, dtype: int64
3744299
d    64
b    23
-     5
Name: 3744299, dtype: int64
3744691
c    63
a    21
-     8
Name: 3744691, dtype: int64
3744730
c    57
a    24
-    11
Name: 3744730, dtype: int64
3744994
d    60
b    25
-     7
Name: 3744994, dtype: int64
3745064
c    67
a    17
-     8
Name: 3745064, dtype: int64
3745152
d    67
b    20
-     5
Name: 3745152, dtype: int64
3745217
d    58
b    24
-    10
Name: 3745217, dtype: int64
3745278
c    65
a    22
-     5
Name: 3745278, dtype: int64
3745610
c    63
a    18
-    11
Name: 3745610, dtype: int64
3745679
c    66
a    14
-    12
Name: 3745679, dtype: int64
3745695
c    67
a    21
-     4

Name: 3745695, dtype: int64
3745726
d    67
b    17
-     8
Name: 3745726, dtype: int64
3745740
d    72
-    12
b     8
Name: 3745740, dtype: int64
3745853
d    63
b    24
-     5
Name: 3745853, dtype: int64
3746052
c    62
a    19
-    11
Name: 3746052, dtype: int64
3746309
d    66
b    16
-    10
Name: 3746309, dtype: int64
3746336
d    58
b    21
-    13
Name: 3746336, dtype: int64
3746519
c    67
a    14
-    11
Name: 3746519, dtype: int64
3746545
c    61
a    23
-     8
Name: 3746545, dtype: int64
3746587
d    63
b    23
-     6
Name: 3746587, dtype: int64
3746599
d    64
b    21
-     7
Name: 3746599, dtype: int64
3746638
c    72
a    17
-     3
Name: 3746638, dtype: int64
3746683
c    62
a    22
-     8
Name: 3746683, dtype: int64
3746719
c    60
a    21
-    11
Name: 3746719, dtype: int64
3746746
c    70
-    11
a    11
Name: 3746746, dtype: int64
3746808
d    61
b    24
-     7
Name: 3746808, dtype: int64
3746816
d    64
b    25
-     3
Name: 3746816, dtype: int64
3746832
d    58
b    23
-    11
Name: 3746832, dtype: int64
3746851
d    56
b    24
-    12
Name: 3746851, dtype: int64
3746876
c    66
a    16
-    10
Name: 3746876, dtype: int64
3747049
c    62
a    21
-     9
Name: 3747049, dtype: int64
3747054
c    60
a    19
-    13
Name: 3747054, dtype: int64
3747107
d    64
b    19
-     9
Name: 3747107, dtype: int64
3747114
d    61
b    26
-     5
Name: 3747114, dtype: int64
3747148
d    65
b    25
-     2
Name: 3747148, dtype: int64
3747183
c    61
a    24
-     7
Name: 3747183, dtype: int64
3747213
c    65
a    18
-     9
Name: 3747213, dtype: int64
3747226
c    69
a    18
-     5
Name: 3747226, dtype: int64
3747415
d    62
b    21
-     9
Name: 3747415, dtype: int64
3747456
c    70
a    14
-     8
Name: 3747456, dtype: int64
3747581
d    58
b    27
-     7
Name: 3747581, dtype: int64
3747593
c    62
a    20
-    10
Name: 3747593, dtype: int64
3747761
c    58
a    22
-    12
Name: 3747761, dtype: int64
3747821
c    67
a    17
-     8
Name: 3747821, dtype: int64
3747826
c    70
a    16
-     6
Name: 3747826, dtype: int64
3747887
d    60
b    23
-     9
Name: 3747887, dtype: int64
3748057
d    63
b    23
-     6
Name: 3748057, dtype: int64
3748061
c    65
a    22
-     5
Name: 3748061, dtype: int64
3748072
c    61
a    22
-     9
Name: 3748072, dtype: int64
3748078
c    63
a    17
-    12
Name: 3748078, dtype: int64
3748448
d    54
b    27
-    11
Name: 3748448, dtype: int64
3748450
c    64
a    18
-    10
Name: 3748450, dtype: int64
3748451
c    58
a    22
-    12
Name: 3748451, dtype: int64
3748478
d    61
b    25
-     6
Name: 3748478, dtype: int64
3748503
d    65
b    24
-     3
Name: 3748503, dtype: int64
3748702
d    59
b    22
-    11
Name: 3748702, dtype: int64
3748779
d    67
b    22
-     3
Name: 3748779, dtype: int64
3748790
d    60
b    23
-     9
Name: 3748790, dtype: int64
3748809
d    64
b    26
-     2
Name: 3748809, dtype: int64
3748867
d    71
b    13
-     8
Name: 3748867, dtype: int64
3748915
c    70
a    16
-     6
Name: 3748915, dtype: int64
3748960
d    62
b    23
-     7
Name: 3748960, dtype: int64
3749006
c    69
a    14
-     9
Name: 3749006, dtype: int64
3749049
c    65
a    22
-     5
Name: 3749049, dtype: int64
3749345
d    57
b    24
-    11
Name: 3749345, dtype: int64
3749460
d    55
b    26
-    11
Name: 3749460, dtype: int64
3749518
d    62
b    25
-     5
Name: 3749518, dtype: int64
3749551
c    87
-     3
a     2
Name: 3749551, dtype: int64
3749565
c    66
a    17
-     9
Name: 3749565, dtype: int64
3749617
d    57
b    24
-    11
Name: 3749617, dtype: int64
3749620
c    59
a    21
-    12
Name: 3749620, dtype: int64
3749623
d    62
b    22
-     8
Name: 3749623, dtype: int64
3749637
d    56
b    31
-     5
Name: 3749637, dtype: int64
3749687
c    70
a    17
-     5
Name: 3749687, dtype: int64
3749861
d    68
b    21
-     3
Name: 3749861, dtype: int64
3749935
d    57
b    27
-     8
Name: 3749935, dtype: int64
3749945
d    61
b    24
-     7
Name: 3749945, dtype: int64
3749996
d    57
b    21
-    14
Name: 3749996, dtype: int64
3750013
c    65
a    16
-    11
Name: 3750013, dtype: int64
3750040
c    64
a    22
-     6
Name: 3750040, dtype: int64
3750046
c    64
a    22
-     6
Name: 3750046, dtype: int64
3750076
c    61
a    22
-     9
Name: 3750076, dtype: int64
3750190
d    67
b    22
-     3
Name: 3750190, dtype: int64
3750192
c    69
a    17
-     6
Name: 3750192, dtype: int64
3750372
c    69
a    18
-     5
Name: 3750372, dtype: int64
3750383
d    66
b    22
-     4
Name: 3750383, dtype: int64
3750422
d    63
b    21
-     8
Name: 3750422, dtype: int64
3750498
d    52
b    26
-    14
Name: 3750498, dtype: int64
3750499
d    66
b    19
-     7
Name: 3750499, dtype: int64
3750510
d    61
b    25
-     6
Name: 3750510, dtype: int64
3750537
c    65
a    20
-     7
Name: 3750537, dtype: int64
3750600
d    67
b    19
-     6
Name: 3750600, dtype: int64
3750654
c    59
a    20
-    13
Name: 3750654, dtype: int64
3750898
c    65
a    16
-    11
Name: 3750898, dtype: int64
3882372
d    61
b    25
-     6
Name: 3882372, dtype: int64
3882593
d    58
b    25
-     9
Name: 3882593, dtype: int64
3882725
d    63
b    21
-     8
Name: 3882725, dtype: int64
3882866
d    67
b    23
-     2
Name: 3882866, dtype: int64
3882886
c    73
a    16
-     3
Name: 3882886, dtype: int64
3882908
d    69
b    20
-     3
Name: 3882908, dtype: int64
3883028
c    66
a    17
-     9
Name: 3883028, dtype: int64
3883078
d    64
b    23
-     5
Name: 3883078, dtype: int64
3883098
c    62
a    21
-     9
Name: 3883098, dtype: int64
3883170
c    62
a    22
-     8
Name: 3883170, dtype: int64
3883196
c    72
a    16
-     4
Name: 3883196, dtype: int64
3883411
c    60
a    25
-     7
Name: 3883411, dtype: int64
3883611
c    62
a    21
-     9
Name: 3883611, dtype: int64
3883618
d    52
b    30
-    10
Name: 3883618, dtype: int64
3883651
d    66
-    18
b     8
Name: 3883651, dtype: int64
3883691
c    60
a    22
-    10
Name: 3883691, dtype: int64
3883711
d    66
b    21
-     5
Name: 3883711, dtype: int64
3883845
d    60
b    26
-     6
Name: 3883845, dtype: int64
3883870
d    62
b    25
-     5
Name: 3883870, dtype: int64
3883973
d    58
b    26
-     8
Name: 3883973, dtype: int64
3883987
d    68
b    17
-     7
Name: 3883987, dtype: int64
3884083
d    62
b    23
-     7
Name: 3884083, dtype: int64
3884508
c    66
a    16
-    10
Name: 3884508, dtype: int64
3884523
c    68
a    15
-     9
Name: 3884523, dtype: int64
3884690
d    60
b    28
-     4
Name: 3884690, dtype: int64
3884863
c    67
a    16
-     9
Name: 3884863, dtype: int64
3884884
d    62
b    22
-     8
Name: 3884884, dtype: int64
3884888
c    64
-    17
a    11
Name: 3884888, dtype: int64
3885056
d    64
b    20
-     8
Name: 3885056, dtype: int64
3885104
d    65
b    16
-    11
Name: 3885104, dtype: int64
3885114
c    64
a    19
-     9
Name: 3885114, dtype: int64
3885118
c    66
a    18
-     8
Name: 3885118, dtype: int64
3885243
c    63
a    22
-     7
Name: 3885243, dtype: int64
3885311
c    67
a    16
-     9
Name: 3885311, dtype: int64
3885515
c    65
a    19
-     8
Name: 3885515, dtype: int64
3885790
c    68
a    15
-     9
Name: 3885790, dtype: int64
3886029
c    57
a    22
-    13
Name: 3886029, dtype: int64
3886220
d    62
b    23
-     7
Name: 3886220, dtype: int64
3886352
c    64
a    21
-     7
Name: 3886352, dtype: int64
3886435
d    58
b    26
-     8
Name: 3886435, dtype: int64
3886436
d    66
b    20
-     6
Name: 3886436, dtype: int64
3886482
d    56
b    26
-    10
Name: 3886482, dtype: int64
3886556
d    67
b    22
-     3
Name: 3886556, dtype: int64
3886564
d    61
b    23
-     8
Name: 3886564, dtype: int64
3886593
c    60
a    23
-     9
Name: 3886593, dtype: int64
3886598
c    69
a    20
-     3
Name: 3886598, dtype: int64
3886810
d    58
b    23
-    11
Name: 3886810, dtype: int64
3887107
c    71
a    16
-     5
Name: 3887107, dtype: int64
3887240
c    60
a    22
-    10
Name: 3887240, dtype: int64
3887338
c    65
a    20
-     7
Name: 3887338, dtype: int64
3887339
d    66
b    18
-     8
Name: 3887339, dtype: int64
3887345
d    60
b    26
-     6
Name: 3887345, dtype: int64
3887417
c    75
a    14
-     3
Name: 3887417, dtype: int64
3887419
c    58
a    24
-    10
Name: 3887419, dtype: int64
3887497
d    63
b    19
-    10
Name: 3887497, dtype: int64
3887615
c    66
a    16
-    10
Name: 3887615, dtype: int64
3887659
c    64
a    16
-    12
Name: 3887659, dtype: int64
3887711
c    61
a    21
-    10
Name: 3887711, dtype: int64
3887713
c    65
a    15
-    12
Name: 3887713, dtype: int64
3887915
d    65
b    22
-     5
Name: 3887915, dtype: int64
3887944
c    71
a    15
-     6
Name: 3887944, dtype: int64
3887988
d    57
b    24
-    11
Name: 3887988, dtype: int64
3888015
c    70
a    16
-     6
Name: 3888015, dtype: int64
3888261
c    63
a    23
-     6
Name: 3888261, dtype: int64
3888449
c    71
a    16
-     5
Name: 3888449, dtype: int64
3888509
c    68
a    16
-     8
Name: 3888509, dtype: int64
3888603
c    71
a    16
-     5
Name: 3888603, dtype: int64
3888766
d    57
b    22
-    13
Name: 3888766, dtype: int64
3888828
d    60
b    27
-     5
Name: 3888828, dtype: int64
3888866
d    70
b    18
-     4
Name: 3888866, dtype: int64
3888925
d    63
b    26
-     3
Name: 3888925, dtype: int64
3889036
d    70
b    19
-     3
Name: 3889036, dtype: int64
3889152
c    72
a    13
-     7
Name: 3889152, dtype: int64
3889170
d    65
b    21
-     6
Name: 3889170, dtype: int64
3889597
c    70
a    13
-     9
Name: 3889597, dtype: int64
3890033
d    69
b    21
-     2
Name: 3890033, dtype: int64
3890087
c    69
a    21
-     2
Name: 3890087, dtype: int64
3890124
c    66
a    21
-     5
Name: 3890124, dtype: int64
3890178
c    74
-     9
a     9
Name: 3890178, dtype: int64
3890192
c    71
a    13
-     8
Name: 3890192, dtype: int64
3890248
c    66
a    22
-     4
Name: 3890248, dtype: int64
3890285
d    61
b    25
-     6
Name: 3890285, dtype: int64
3890430
d    63
b    25
-     4
Name: 3890430, dtype: int64
3890466
c    59
a    21
-    12
Name: 3890466, dtype: int64
3890475
c    67
a    20
-     5
Name: 3890475, dtype: int64
3890503
d    67
b    20
-     5
Name: 3890503, dtype: int64
3890756
d    64
b    24
-     4
Name: 3890756, dtype: int64
3890906
d    64
b    21
-     7
Name: 3890906, dtype: int64
3890941
d    66
b    24
-     2
Name: 3890941, dtype: int64
3891018
c    60
a    23
-     9
Name: 3891018, dtype: int64
3891159
d    57
b    20
-    15
Name: 3891159, dtype: int64
3891212
c    63
a    15
-    14
Name: 3891212, dtype: int64
3891223
d    71
-    14
b     7
Name: 3891223, dtype: int64
3891243
c    62
a    22
-     8
Name: 3891243, dtype: int64
3891258
c    60
a    22
-    10
Name: 3891258, dtype: int64
3891368
c    68
-    12
a    12
Name: 3891368, dtype: int64
3891442
d    54
b    25
-    13
Name: 3891442, dtype: int64
3891445
c    66
a    18
-     8
Name: 3891445, dtype: int64
3891494
c    69
a    17
-     6
Name: 3891494, dtype: int64
3891556
c    69
a    12
-    11
Name: 3891556, dtype: int64
3891582
c    73
a    16
-     3
Name: 3891582, dtype: int64
3891592
c    65
a    22
-     5
Name: 3891592, dtype: int64
3891597
d    66
b    17
-     9
Name: 3891597, dtype: int64
3891629
c    72
a    15
-     5
Name: 3891629, dtype: int64
3891653
c    60
a    22
-    10
Name: 3891653, dtype: int64
3891764
d    69
b    18
-     5
Name: 3891764, dtype: int64
3891795
d    73
-    18
b     1
Name: 3891795, dtype: int64
3891982
c    62
a    22
-     8
Name: 3891982, dtype: int64
3892068
c    70
a    16
-     6
Name: 3892068, dtype: int64
3892089
d    58
b    25
-     9
Name: 3892089, dtype: int64
3892170
d    58
b    24
-    10
Name: 3892170, dtype: int64
3892289
d    59
b    24
-     9
Name: 3892289, dtype: int64
3892361
d    63
b    24
-     5
Name: 3892361, dtype: int64
3892452
d    67
b    20
-     5
Name: 3892452, dtype: int64
3892615
d    59
b    24
-     9
Name: 3892615, dtype: int64
3892703
d    59
b    27
-     6
Name: 3892703, dtype: int64
3892789
d    48
b    31
-    13
Name: 3892789, dtype: int64
3892871
c    57
a    22
-    13
Name: 3892871, dtype: int64
3892894
d    65
b    20
-     7
Name: 3892894, dtype: int64
3892946
c    64
a    19
-     9
Name: 3892946, dtype: int64
3893225
d    53
b    25
-    14
Name: 3893225, dtype: int64
3893286
d    69
b    22
-     1
Name: 3893286, dtype: int64
3893454
d    61
b    25
-     6
Name: 3893454, dtype: int64
3893649
c    56
a    23
-    13
Name: 3893649, dtype: int64
3893745
c    67
a    22
-     3
Name: 3893745, dtype: int64
3894008
c    75
a    16
-     1
Name: 3894008, dtype: int64
3894043
d    68
b    19
-     5
Name: 3894043, dtype: int64
3894099
d    51
b    24
-    17
Name: 3894099, dtype: int64
3894115
c    61
a    20
-    11
Name: 3894115, dtype: int64
3894157
d    55
b    30
-     7
Name: 3894157, dtype: int64
3894293
d    53
b    28
-    11
Name: 3894293, dtype: int64
3894387
d    63
b    21
-     8
Name: 3894387, dtype: int64
3894450
c    60
a    21
-    11
Name: 3894450, dtype: int64
3894576
c    65
a    20
-     7
Name: 3894576, dtype: int64
3894581
c    68
a    19
-     5
Name: 3894581, dtype: int64
3894860
d    60
b    21
-    11
Name: 3894860, dtype: int64
3895038
d    70
-    16
b     6
Name: 3895038, dtype: int64
3895184
c    62
a    22
-     8
Name: 3895184, dtype: int64
3895265
c    72
a    15
-     5
Name: 3895265, dtype: int64
3895307
c    70
a    16
-     6
Name: 3895307, dtype: int64
3895367
c    69
a    14
-     9
Name: 3895367, dtype: int64
3895408
c    69
a    16
-     7
Name: 3895408, dtype: int64
3895457
c    65
a    16
-    11
Name: 3895457, dtype: int64
3895465
c    71
a    14
-     7
Name: 3895465, dtype: int64
3895487
c    64
a    23
-     5
Name: 3895487, dtype: int64
3895612
d    66
b    25
-     1
Name: 3895612, dtype: int64
3895715
c    63
a    18
-    11
Name: 3895715, dtype: int64
3895789
c    60
a    26
-     6
Name: 3895789, dtype: int64
3895945
c    63
a    21
-     8
Name: 3895945, dtype: int64
3896058
d    65
b    22
-     5
Name: 3896058, dtype: int64
3896233
d    62
b    21
-     9
Name: 3896233, dtype: int64
3896281
d    64
b    25
-     3
Name: 3896281, dtype: int64
3896290
d    59
b    22
-    11
Name: 3896290, dtype: int64
3896636
d    70
b    18
-     4
Name: 3896636, dtype: int64
3896685
d    60
b    24
-     8
Name: 3896685, dtype: int64
3896710
c    64
a    16
-    12
Name: 3896710, dtype: int64
3896764
d    58
b    27
-     7
Name: 3896764, dtype: int64
3896905
d    65
b    24
-     3
Name: 3896905, dtype: int64
3897134
c    63
a    22
-     7
Name: 3897134, dtype: int64
3897572

c    75
a    12
-     5
Name: 3897572, dtype: int64
3897686
d    61
b    21
-    10
Name: 3897686, dtype: int64
3897803
d    60
b    26
-     6
Name: 3897803, dtype: int64
3897960
c    59
a    23
-    10
Name: 3897960, dtype: int64
3898247
d    56
b    22
-    14
Name: 3898247, dtype: int64
3898361
c    65
a    17
-    10
Name: 3898361, dtype: int64
3898373
d    62
b    21
-     9
Name: 3898373, dtype: int64
3898607
d    72
b    19
-     1
Name: 3898607, dtype: int64
3898664
d    57
b    21
-    14
Name: 3898664, dtype: int64
3898673
d    61
b    27
-     4
Name: 3898673, dtype: int64
3898735
d    67
b    22
-     3
Name: 3898735, dtype: int64
3898749
d    67
b    21
-     4
Name: 3898749, dtype: int64
3898932
c    59
a    26
-     7
Name: 3898932, dtype: int64
3898973
d    52
b    27
-    13
Name: 3898973, dtype: int64
3899023
c    67
a    21
-     4
Name: 3899023, dtype: int64
3899039
c    74
a    16
-     2
Name: 3899039, dtype: int64
3899091
d    57
b    29
-     6
Name: 3899091, dtype: int64
3899157
d    61
b    23
-     8
Name: 3899157, dtype: int64
3899194
d    66
b    21
-     5
Name: 3899194, dtype: int64
3899429
d    64
b    19
-     9
Name: 3899429, dtype: int64
3899430
d    55
b    30
-     7
Name: 3899430, dtype: int64
3899490
c    82
-    10
Name: 3899490, dtype: int64
3899559
d    66
b    23
-     3
Name: 3899559, dtype: int64
3899581
c    59
a    19
-    14
Name: 3899581, dtype: int64
3900050
d    57
b    27
-     8
Name: 3900050, dtype: int64
3900217
c    67
a    17
-     8
Name: 3900217, dtype: int64
3900267
d    71
b    19
-     2
Name: 3900267, dtype: int64
3900279
d    60
b    21
-    11
Name: 3900279, dtype: int64
3900365
d    64
b    21
-     7
Name: 3900365, dtype: int64
3900413
c    68
a    16
-     8
Name: 3900413, dtype: int64
3900495
c    63
a    17
-    12
Name: 3900495, dtype: int64
3900508
d    66
b    20
-     6
Name: 3900508, dtype: int64
3900522
d    63
b    25
-     4
Name: 3900522, dtype: int64
3900631
d    59
b    22
-    11
Name: 3900631, dtype: int64
3900843
d    61
b    20
-    11
Name: 3900843, dtype: int64
3900950
d    57
b    22
-    13
Name: 3900950, dtype: int64
3900994
d    67
-    19
b     6
Name: 3900994, dtype: int64
3901080
d    64
b    22
-     6
Name: 3901080, dtype: int64
3901286
d    56
b    25
-    11
Name: 3901286, dtype: int64
3901334
d    64
b    22
-     6
Name: 3901334, dtype: int64
3901355
d    62
b    24
-     6
Name: 3901355, dtype: int64
3901734
d    64
b    21
-     7
Name: 3901734, dtype: int64
3901852
d    56
b    25
-    11
Name: 3901852, dtype: int64
3901888
c    61
a    16
-    15
Name: 3901888, dtype: int64
3901907
d    62
b    19
-    11
Name: 3901907, dtype: int64
3901920
d    65
b    20
-     7
Name: 3901920, dtype: int64
3901938
c    63
a    19
-    10
Name: 3901938, dtype: int64
3901940
c    61
a    17
-    14
Name: 3901940, dtype: int64
3901954
d    61
b    22
-     9
Name: 3901954, dtype: int64
3901978
c    69
a    16
-     7
Name: 3901978, dtype: int64
3902049
d    65
b    21
-     6
Name: 3902049, dtype: int64
3902100
c    67
a    15
-    10
Name: 3902100, dtype: int64
3902102
c    55
a    23
-    14
Name: 3902102, dtype: int64
3902124
c    72
a    17
-     3
Name: 3902124, dtype: int64
3902358
c    67
a    16
-     9
Name: 3902358, dtype: int64
3902404
c    62
a    22
-     8
Name: 3902404, dtype: int64
3902495
d    58
b    21
-    13
Name: 3902495, dtype: int64
3902745
c    64
a    15
-    13
Name: 3902745, dtype: int64
3902812
c    63
a    22
-     7
Name: 3902812, dtype: int64
3902826
c    62
a    23
-     7
Name: 3902826, dtype: int64
3902914
c    71
a    16
-     5
Name: 3902914, dtype: int64
3903002
c    62
a    21
-     9
Name: 3903002, dtype: int64
3903008
c    68
a    15
-     9
Name: 3903008, dtype: int64
3903056
c    63
-    15
a    14
Name: 3903056, dtype: int64
3903674
d    64
b    18
-    10
Name: 3903674, dtype: int64
3903705
d    57
b    21
-    14
Name: 3903705, dtype: int64
3903865
d    64
b    21
-     7
Name: 3903865, dtype: int64
3903950
d    57
b    23
-    12
Name: 3903950, dtype: int64
3904011
d    59
b    25
-     8
Name: 3904011, dtype: int64
3904124
d    61
b    19
-    12
Name: 3904124, dtype: int64
3904213
c    69
a    18
-     5
Name: 3904213, dtype: int64
3904484
c    76
a    14
-     2
Name: 3904484, dtype: int64
3904505
c    56
a    23
-    13
Name: 3904505, dtype: int64
3904557
c    60
a    22
-    10
Name: 3904557, dtype: int64
3904582
d    56
b    28
-     8
Name: 3904582, dtype: int64
3904623
c    62
a    22
-     8
Name: 3904623, dtype: int64
3904644
d    66
b    22
-     4
Name: 3904644, dtype: int64
3904730
c    59
a    23
-    10
Name: 3904730, dtype: int64
3904787
c    74
a    14
-     4
Name: 3904787, dtype: int64
3904931
d    62
b    23
-     7
Name: 3904931, dtype: int64
3904955
c    67
a    14
-    11
Name: 3904955, dtype: int64
3904970
c    66
a    22
-     4
Name: 3904970, dtype: int64
3904998
d    67
b    21
-     4
Name: 3904998, dtype: int64
3905071
c    63
a    17
-    12
Name: 3905071, dtype: int64
3905225
c    55
a    22
-    15
Name: 3905225, dtype: int64
3905404
c    64
a    22
-     6
Name: 3905404, dtype: int64
3905426
c    67
a    20
-     5
Name: 3905426, dtype: int64
3905610
c    62
a    21
-     9
Name: 3905610, dtype: int64
3905688
d    60
b    21
-    11
Name: 3905688, dtype: int64
3905721
d    64
b    21
-     7
Name: 3905721, dtype: int64
3905773
d    55
b    29
-     8
Name: 3905773, dtype: int64
3905787
d    62
b    22
-     8
Name: 3905787, dtype: int64
3905798
c    67
a    16
-     9
Name: 3905798, dtype: int64
3906011
c    73
-    14
a     5
Name: 3906011, dtype: int64
3906454
c    72
-    12
a     8
Name: 3906454, dtype: int64
3906651
c    70
a    15
-     7
Name: 3906651, dtype: int64
3906653
d    52
b    33
-     7
Name: 3906653, dtype: int64
3907075
c    70
-    11
a    11
Name: 3907075, dtype: int64
3907076
d    56
b    26
-    10
Name: 3907076, dtype: int64
3907166
d    60
b    26
-     6
Name: 3907166, dtype: int64
3907208
c    66
a    19
-     7
Name: 3907208, dtype: int64
3907455
d    61
b    24
-     7
Name: 3907455, dtype: int64
3907536
c    52
a    29
-    11
Name: 3907536, dtype: int64
3907654
d    70
-    14
b     8
Name: 3907654, dtype: int64
3907827
c    59
-    19
a    14
Name: 3907827, dtype: int64
3907972
c    64
a    17
-    11
Name: 3907972, dtype: int64
3907989
c    62
a    19
-    11
Name: 3907989, dtype: int64
3908094
d    62
b    22
-     8
Name: 3908094, dtype: int64
3908430
d    57
b    25
-    10
Name: 3908430, dtype: int64
3908562
d    63
b    22
-     7
Name: 3908562, dtype: int64
3908653
c    74
-     9
a     9
Name: 3908653, dtype: int64
3908932
c    65
a    17
-    10
Name: 3908932, dtype: int64
3909030
d    62
b    25
-     5
Name: 3909030, dtype: int64
3909036
d    77
-    15
Name: 3909036, dtype: int64
3909180
c    70
a    16
-     6
Name: 3909180, dtype: int64
3909245
c    65
a    21
-     6
Name: 3909245, dtype: int64
3909306
c    66
-    15
a    11
Name: 3909306, dtype: int64
3909479
d    53
b    29
-    10
Name: 3909479, dtype: int64
3909763
c    60
a    19
-    13
Name: 3909763, dtype: int64
3910153
d    58
b    26
-     8
Name: 3910153, dtype: int64
4091896
d    65
b    22
-     5
Name: 4091896, dtype: int64
4092020
d    62
b    26
-     4
Name: 4092020, dtype: int64
4092275
d    56
b    23
-    13
Name: 4092275, dtype: int64
4092928
c    61
a    27
-     4
Name: 4092928, dtype: int64
4093261
c    60
a    22
-    10
Name: 4093261, dtype: int64
4093327
c    66
a    14
-    12
Name: 4093327, dtype: int64
4093373
c    70
a    14
-     8
Name: 4093373, dtype: int64
4093512
d    61
b    26
-     5
Name: 4093512, dtype: int64
4093795
d    67
b    20
-     5
Name: 4093795, dtype: int64
4093855
c    67
-    13
a    12
Name: 4093855, dtype: int64
4094097
d    68
b    21
-     3
Name: 4094097, dtype: int64
4094756
c    75
a     9
-     8
Name: 4094756, dtype: int64
4095345
d    66
b    20
-     6
Name: 4095345, dtype: int64
4095526
c    69
a    16
-     7
Name: 4095526, dtype: int64
4096833
d    54
b    31
-     7
Name: 4096833, dtype: int64
4097970
c    68
a    15
-     9
Name: 4097970, dtype: int64
4099473
c    68
a    19
-     5
Name: 4099473, dtype: int64
4099819
c    69
a    13
-    10
Name: 4099819, dtype: int64
4100664
d    61
b    27
-     4
Name: 4100664, dtype: int64
4101971
c    67
a    17
-     8
Name: 4101971, dtype: int64
4103758
d    58
b    24
-    10
Name: 4103758, dtype: int64
4104587
c    59
a    22
-    11
Name: 4104587, dtype: int64
4104790
c    68
a    17
-     7
Name: 4104790, dtype: int64
4104921
c    58
a    22
-    12
Name: 4104921, dtype: int64
4104979
c    64
a    17
-    11
Name: 4104979, dtype: int64
4484496
c    62
a    22
-     8
Name: 4484496, dtype: int64
4484503
d    60
b    25
-     7
Name: 4484503, dtype: int64
4484542
d    57
b    25
-    10
Name: 4484542, dtype: int64
4484757
d    62
b    28
-     2
Name: 4484757, dtype: int64
4484797
c    72
a    13
-     7
Name: 4484797, dtype: int64
4484863
d    68
b    21
-     3
Name: 4484863, dtype: int64
4484905
c    56
a    21
-    15
Name: 4484905, dtype: int64
4485126
c    72
a    16
-     4
Name: 4485126, dtype: int64
4485138
c    69
a    16
-     7
Name: 4485138, dtype: int64
4485212
c    68
a    16
-     8
Name: 4485212, dtype: int64
4485280
d    67
b    19
-     6
Name: 4485280, dtype: int64
4485329
c    55
a    23
-    14
Name: 4485329, dtype: int64
4485522
d    62
b    24
-     6
Name: 4485522, dtype: int64
4485578
c    64
a    21
-     7
Name: 4485578, dtype: int64
4485605
c    64
a    22
-     6
Name: 4485605, dtype: int64
4485606
c    60
a    25
-     7
Name: 4485606, dtype: int64
4485757
c    66
a    22
-     4
Name: 4485757, dtype: int64
4485804
d    66
b    20
-     6
Name: 4485804, dtype: int64
4485924
c    62
a    18
-    12
Name: 4485924, dtype: int64
4486080
c    65
a    16
-    11
Name: 4486080, dtype: int64
4486107
c    59
a    22
-    11
Name: 4486107, dtype: int64
4486279
d    62
b    25
-     5
Name: 4486279, dtype: int64
4486303
d    66
b    23
-     3
Name: 4486303, dtype: int64
4486400
d    63
b    22
-     7
Name: 4486400, dtype: int64
4486629
d    61
b    27
-     4
Name: 4486629, dtype: int64
4486683
c    53
a    22
-    17
Name: 4486683, dtype: int64
4486907
d    59
b    22
-    11
Name: 4486907, dtype: int64
4486919
d    61
b    26
-     5
Name: 4486919, dtype: int64
4486960
d    58
b    20
-    14
Name: 4486960, dtype: int64
4487401
c    75
a    16
-     1
Name: 4487401, dtype: int64
4487509
c    71
a    16
-     5
Name: 4487509, dtype: int64
4487807
c    66
a    23
-     3
Name: 4487807, dtype: int64
4487968
d    55
b    28
-     9
Name: 4487968, dtype: int64
4487982
d    63
b    27
-     2
Name: 4487982, dtype: int64
4488141
c    65
a    20
-     7
Name: 4488141, dtype: int64
4488323
c    68
a    14
-    10
Name: 4488323, dtype: int64
4488400
d    68
b    21
-     3
Name: 4488400, dtype: int64
4488485
d    65
b    21
-     6
Name: 4488485, dtype: int64
4488593
c    76
a    15
-     1
Name: 4488593, dtype: int64
4488783
d    72
b    16
-     4
Name: 4488783, dtype: int64
4488850
c    69
a    22
-     1
Name: 4488850, dtype: int64
4488868
d    61
b    18
-    13
Name: 4488868, dtype: int64
4489296
c    68
a    22
-     2
Name: 4489296, dtype: int64
4489332
c    60
a    22
-    10
Name: 4489332, dtype: int64
4489507
d    59
b    22
-    11
Name: 4489507, dtype: int64
4489705
c    64
a    16
-    12
Name: 4489705, dtype: int64
4489805
d    60
b    24
-     8
Name: 4489805, dtype: int64
4490040
d    65
b    19
-     8
Name: 4490040, dtype: int64
4490345
c    73
a    17
-     2
Name: 4490345, dtype: int64
4490442
d    53
b    31
-     8
Name: 4490442, dtype: int64
4490481
c    65
a    22
-     5
Name: 4490481, dtype: int64
4490507
c    64
a    20
-     8
Name: 4490507, dtype: int64
4490835
d    58
b    30
-     4
Name: 4490835, dtype: int64
4491063
d    58
b    24
-    10
Name: 4491063, dtype: int64
4491206
c    68
a    16
-     8
Name: 4491206, dtype: int64
4491571
d    66
b    22
-     4
Name: 4491571, dtype: int64
4491597
c    67
a    17
-     8
Name: 4491597, dtype: int64
4491610
d    66
b    24
-     2
Name: 4491610, dtype: int64
4491677
c    60
a    23
-     9
Name: 4491677, dtype: int64
4491971
c    66
a    18
-     8
Name: 4491971, dtype: int64
4491972
d    62
b    23
-     7
Name: 4491972, dtype: int64
4492115
d    69
-    16
b     7
Name: 4492115, dtype: int64
4492402
c    63
a    22
-     7
Name: 4492402, dtype: int64
4492428
d    69
b    22
-     1
Name: 4492428, dtype: int64
4492742
d    51
b    29
-    12
Name: 4492742, dtype: int64
4492882
d    68
b    24
Name: 4492882, dtype: int64
4493030
d    64
b    26
-     2
Name: 4493030, dtype: int64
4493111
d    63
b    25
-     4
Name: 4493111, dtype: int64
4493208
d    61
b    22
-     9
Name: 4493208, dtype: int64
4493348
d    63
b    23
-     6
Name: 4493348, dtype: int64
4493436
d    66
b    21
-     5
Name: 4493436, dtype: int64
4493573
c    62
a    25
-     5
Name: 4493573, dtype: int64
4493979
d    65
b    18
-     9
Name: 4493979, dtype: int64
4493989
d    61
b    23
-     8
Name: 4493989, dtype: int64
4494207
d    61
b    20
-    11
Name: 4494207, dtype: int64
4494429
c    68
a    21
-     3
Name: 4494429, dtype: int64
4495302
c    66
a    17
-     9
Name: 4495302, dtype: int64
4495347
d    62
b    22
-     8
Name: 4495347, dtype: int64
4495556
d    57
b    28
-     7
Name: 4495556, dtype: int64
4495680
d    84
b     5
-     3
Name: 4495680, dtype: int64
4495883
c    62
a    23
-     7
Name: 4495883, dtype: int64
4496113
d    63
b    19
-    10
Name: 4496113, dtype: int64
4496490

c    70
a    19
-     3
Name: 4496490, dtype: int64
4496662
c    60
a    22
-    10
Name: 4496662, dtype: int64
4496905
d    63
b    25
-     4
Name: 4496905, dtype: int64
4497223
c    69
a    18
-     5
Name: 4497223, dtype: int64
4497449
c    64
a    22
-     6
Name: 4497449, dtype: int64
4497588
d    64
b    20
-     8
Name: 4497588, dtype: int64
4497659
c    61
a    21
-    10
Name: 4497659, dtype: int64
4497988
d    70
-    14
b     8
Name: 4497988, dtype: int64
4498130
d    67
b    19
-     6
Name: 4498130, dtype: int64
4498144
d    66
b    24
-     2
Name: 4498144, dtype: int64
4498188
c    64
a    24
-     4
Name: 4498188, dtype: int64
4498362
d    68
b    21
-     3
Name: 4498362, dtype: int64
4498898
c    69
a    16
-     7
Name: 4498898, dtype: int64
4499576
c    63
a    23
-     6
Name: 4499576, dtype: int64
4499836
c    73
a    14
-     5
Name: 4499836, dtype: int64
4499981
c    75
-     9
a     8
Name: 4499981, dtype: int64
5034602
d    53
b    29
-    10
Name: 5034602, dtype: int64
5034777
d    65
b    22
-     5
Name: 5034777, dtype: int64
5034837
d    63
b    23
-     6
Name: 5034837, dtype: int64
5034874
d    57
b    25
-    10
Name: 5034874, dtype: int64
5035351
d    63
b    24
-     5
Name: 5035351, dtype: int64
5035392
c    63
a    24
-     5
Name: 5035392, dtype: int64
5035740
c    66
a    20
-     6
Name: 5035740, dtype: int64
5036035
c    65
a    17
-    10
Name: 5036035, dtype: int64
5036124
c    66
a    18
-     8
Name: 5036124, dtype: int64
5036383
d    69
b    16
-     7
Name: 5036383, dtype: int64
5036815
d    61
b    21
-    10
Name: 5036815, dtype: int64
5037105
c    71
a    17
-     4
Name: 5037105, dtype: int64
5037135
c    59
a    24
-     9
Name: 5037135, dtype: int64
5037488
c    67
a    17
-     8
Name: 5037488, dtype: int64
5037506
c    65
a    18
-     9
Name: 5037506, dtype: int64
5038218
c    67
a    20
-     5
Name: 5038218, dtype: int64
5038246
d    61
b    22
-     9
Name: 5038246, dtype: int64
5039128
d    64
b    24
-     4
Name: 5039128, dtype: int64
5039793
d    65
b    23
-     4
Name: 5039793, dtype: int64
5041196
c    62
a    21
-     9
Name: 5041196, dtype: int64
5041240
d    60
b    29
-     3
Name: 5041240, dtype: int64
5041509
c    67
a    16
-     9
Name: 5041509, dtype: int64
5041711
d    61
b    25
-     6
Name: 5041711, dtype: int64
5042013
d    64
b    17
-    11
Name: 5042013, dtype: int64
5042121
c    74
-    12
a     6
Name: 5042121, dtype: int64
5042256
c    63
a    24
-     5
Name: 5042256, dtype: int64
5042307
d    59
b    21
-    12
Name: 5042307, dtype: int64
5042485
d    58
b    26
-     8
Name: 5042485, dtype: int64
5042657
c    72
a    14
-     6
Name: 5042657, dtype: int64
5042956
d    60
b    21
-    11
Name: 5042956, dtype: int64
5043140
c    73
-    15
a     4
Name: 5043140, dtype: int64
5043475
c    64
a    22
-     6
Name: 5043475, dtype: int64
5043477
d    52
b    26
-    14
Name: 5043477, dtype: int64
5043502
d    63
b    24
-     5
Name: 5043502, dtype: int64
5043817
d    67
b    13
-    12
Name: 5043817, dtype: int64
5043824
d    55
b    27
-    10
Name: 5043824, dtype: int64
5043840
c    69
a    18
-     5
Name: 5043840, dtype: int64
5044026
d    62
b    19
-    11
Name: 5044026, dtype: int64
5044232
d    52
b    22
-    18
Name: 5044232, dtype: int64
5044277
c    63
a    21
-     8
Name: 5044277, dtype: int64
5044296
c    66
a    20
-     6
Name: 5044296, dtype: int64
5044298
d    61
b    26
-     5
Name: 5044298, dtype: int64
5044568
d    74
-    13
b     5
Name: 5044568, dtype: int64
5044813
c    68
a    16
-     8
Name: 5044813, dtype: int64
5045077
d    62
b    20
-    10
Name: 5045077, dtype: int64
5045146
c    68
a    16
-     8
Name: 5045146, dtype: int64
5045339
d    60
b    25
-     7
Name: 5045339, dtype: int64
5045357
c    54
a    22
-    16
Name: 5045357, dtype: int64
5045670
d    52
b    26
-    14
Name: 5045670, dtype: int64
5045672
c    56
a    27
-     9
Name: 5045672, dtype: int64
5045815
d    61
b    23
-     8
Name: 5045815, dtype: int64
5045924
d    60
b    26
-     6
Name: 5045924, dtype: int64
5046019
c    66
a    16
-    10
Name: 5046019, dtype: int64
5046178
d    60
b    25
-     7
Name: 5046178, dtype: int64
5046184
d    53
b    31
-     8
Name: 5046184, dtype: int64
5046400
c    75
a    15
-     2
Name: 5046400, dtype: int64
5046484
d    62
b    21
-     9
Name: 5046484, dtype: int64
5046576
d    59
b    23
-    10
Name: 5046576, dtype: int64
5046845
d    70
b    18
-     4
Name: 5046845, dtype: int64
5047093
d    62
b    28
-     2
Name: 5047093, dtype: int64
5047182
d    65
b    20
-     7
Name: 5047182, dtype: int64
5047254
c    65
a    18
-     9
Name: 5047254, dtype: int64
5047322
d    57
b    21
-    14
Name: 5047322, dtype: int64
5137481
d    64
b    22
-     6
Name: 5137481, dtype: int64
5137521
c    66
a    18
-     8
Name: 5137521, dtype: int64
5137525
c    73
a    16
-     3
Name: 5137525, dtype: int64
5137533
c    59
a    22
-    11
Name: 5137533, dtype: int64
5137702
d    60
b    26
-     6
Name: 5137702, dtype: int64
5137824
c    70
a    16
-     6
Name: 5137824, dtype: int64
5138148
c    66
a    20
-     6
Name: 5138148, dtype: int64
5138226
c    63
a    22
-     7
Name: 5138226, dtype: int64
5138241
d    62
b    20
-    10
Name: 5138241, dtype: int64
5138297
c    66
a    18
-     8
Name: 5138297, dtype: int64
5138609
d    57
b    24
-    11
Name: 5138609, dtype: int64
5138699
c    66
a    20
-     6
Name: 5138699, dtype: int64
5138777
d    58
b    21
-    13
Name: 5138777, dtype: int64
5138822
d    63
b    23
-     6
Name: 5138822, dtype: int64
5138932
c    67
a    19
-     6
Name: 5138932, dtype: int64
5139019
c    69
a    16
-     7
Name: 5139019, dtype: int64
5139099
d    56
b    29
-     7
Name: 5139099, dtype: int64
5139209
d    71
b    11
-    10
Name: 5139209, dtype: int64
5200092
c    58
a    22
-    12
Name: 5200092, dtype: int64
5200504
d    63
b    25
-     4
Name: 5200504, dtype: int64
5200654
d    56
b    23
-    13
Name: 5200654, dtype: int64
5200801
d    61
b    27
-     4
Name: 5200801, dtype: int64
5200847
d    63
b    22
-     7
Name: 5200847, dtype: int64
5200885
c    63
a    20
-     9
Name: 5200885, dtype: int64
5200925
c    60
a    24
-     8
Name: 5200925, dtype: int64
5200949
c    60
a    22
-    10
Name: 5200949, dtype: int64
5201162
d    63
b    22
-     7
Name: 5201162, dtype: int64
5201314
d    59
b    22
-    11
Name: 5201314, dtype: int64
5201349
d    63
b    20
-     9
Name: 5201349, dtype: int64
5201386
c    64
a    17
-    11
Name: 5201386, dtype: int64
5201391
d    59
b    21
-    12
Name: 5201391, dtype: int64
5201414
d    64
b    22
-     6
Name: 5201414, dtype: int64
5201437
d    66
b    24
-     2
Name: 5201437, dtype: int64
5201445
d    65
b    26
-     1
Name: 5201445, dtype: int64
5201550
c    68
a    13
-    11
Name: 5201550, dtype: int64
5201555
d    66
b    22
-     4
Name: 5201555, dtype: int64
5201577
d    58
b    22
-    12
Name: 5201577, dtype: int64
5201675
c    68
a    19
-     5
Name: 5201675, dtype: int64
5201688
c    62
a    25
-     5
Name: 5201688, dtype: int64
5201903
d    63
b    21
-     8
Name: 5201903, dtype: int64
5201988
c    60
a    17
-    15
Name: 5201988, dtype: int64
5202073
d    49
b    30
-    13
Name: 5202073, dtype: int64
5202082
d    64
b    25
-     3
Name: 5202082, dtype: int64
5202178
d    59
b    23
-    10
Name: 5202178, dtype: int64
5202221
d    56
b    26
-    10
Name: 5202221, dtype: int64
5202225
c    69
a    16
-     7
Name: 5202225, dtype: int64
5202236
d    62
b    25
-     5
Name: 5202236, dtype: int64
5202306
d    65
b    19
-     8
Name: 5202306, dtype: int64
5202325
d    56
b    25
-    11
Name: 5202325, dtype: int64
5202439
c    61
a    23
-     8
Name: 5202439, dtype: int64
5202442
d    59
b    21
-    12
Name: 5202442, dtype: int64
5202467
d    59
b    28
-     5
Name: 5202467, dtype: int64
5202572
c    72
a    13
-     7
Name: 5202572, dtype: int64
5202605
c    58
a    19
-    15
Name: 5202605, dtype: int64
5202634
c    60
a    23
-     9
Name: 5202634, dtype: int64
5202689
c    61
a    21
-    10
Name: 5202689, dtype: int64
5202805
d    64
b    22
-     6
Name: 5202805, dtype: int64
5202871
c    66
-    13
a    13
Name: 5202871, dtype: int64
5203089
a    92
Name: 5203089, dtype: int64
5203094
c    63
a    22
-     7
Name: 5203094, dtype: int64
5203249
d    56
b    26
-    10
Name: 5203249, dtype: int64
5203257
d    66
b    21
-     5
Name: 5203257, dtype: int64
5203276
c    67
a    21
-     4
Name: 5203276, dtype: int64
5203424
c    61
a    22
-     9
Name: 5203424, dtype: int64
5203432
c    70
a    16
-     6
Name: 5203432, dtype: int64
5203466
d    61
b    24
-     7
Name: 5203466, dtype: int64
5203588
c    66
-    13
a    13
Name: 5203588, dtype: int64
5203762
c    72
a    14
-     6
Name: 5203762, dtype: int64
5204130
c    67
a    16
-     9
Name: 5204130, dtype: int64
5204138
d    62
b    26
-     4
Name: 5204138, dtype: int64
5204314
c    66
a    22
-     4
Name: 5204314, dtype: int64
5204345
d    67
b    19
-     6
Name: 5204345, dtype: int64
5204445
d    58
b    26
-     8
Name: 5204445, dtype: int64
5204518
c    65
a    16
-    11
Name: 5204518, dtype: int64
5204535
d    60
b    24
-     8
Name: 5204535, dtype: int64
5204536
d    62
b    21
-     9
Name: 5204536, dtype: int64
5204713
d    62
b    24
-     6
Name: 5204713, dtype: int64
5204791
d    61
b    24
-     7
Name: 5204791, dtype: int64
5204809
c    58
a    20
-    14
Name: 5204809, dtype: int64
5204885
c    65
a    15
-    12
Name: 5204885, dtype: int64
5205160
d    62
b    23
-     7
Name: 5205160, dtype: int64
5205313
c    65
a    21
-     6
Name: 5205313, dtype: int64
5205340
d    60
b    21
-    11
Name: 5205340, dtype: int64
5205398
c    65
a    15
-    12
Name: 5205398, dtype: int64
5205401
c    69
-    13
a    10
Name: 5205401, dtype: int64
5205434
d    65
b    26
-     1
Name: 5205434, dtype: int64
5205443
d    61
b    25
-     6
Name: 5205443, dtype: int64
5205501
c    72
a    13
-     7
Name: 5205501, dtype: int64
5205523
a    92
Name: 5205523, dtype: int64
5205721
c    57
a    24
-    11
Name: 5205721, dtype: int64
5205726
c    63
a    22
-     7
Name: 5205726, dtype: int64
5205756
c    60
a    22
-    10
Name: 5205756, dtype: int64
5206012
d    64
b    24
-     4
Name: 5206012, dtype: int64
5206388
c    63
a    16
-    13
Name: 5206388, dtype: int64
5206632
d    57
b    26
-     9
Name: 5206632, dtype: int64
5206779
c    56
a    25
-    11
Name: 5206779, dtype: int64
5206815
c    56
a    23
-    13
Name: 5206815, dtype: int64
5206853
d    64
b    21
-     7
Name: 5206853, dtype: int64
5206898
d    63
b    21
-     8
Name: 5206898, dtype: int64
5206937
c    70
a    19
-     3
Name: 5206937, dtype: int64
5206960
d    66
b    20
-     6
Name: 5206960, dtype: int64
5207181
d    62
b    21
-     9
Name: 5207181, dtype: int64
5207259
d    59
b    20
-    13
Name: 5207259, dtype: int64
5207482
d    67
b    21
-     4
Name: 5207482, dtype: int64
5207542
c    63
a    22
-     7
Name: 5207542, dtype: int64
5207699
d    54
b    27
-    11
Name: 5207699, dtype: int64
5207700
d    62
b    22
-     8
Name: 5207700, dtype: int64
5207785
c    68
a    16
-     8
Name: 5207785, dtype: int64
5207791
d    64
b    19
-     9
Name: 5207791, dtype: int64
5207834
d    62
b    21
-     9
Name: 5207834, dtype: int64
5207953
d    68
b    19
-     5
Name: 5207953, dtype: int64
5208022
d    56
b    26
-    10
Name: 5208022, dtype: int64
5208049
c    63
a    21
-     8
Name: 5208049, dtype: int64
5208288
c    60
a    22
-    10
Name: 5208288, dtype: int64
5208360
d    51
b    34
-     7
Name: 5208360, dtype: int64
5208567
d    66
b    19
-     7
Name: 5208567, dtype: int64
5208615
d    59
b    27
-     6
Name: 5208615, dtype: int64
5208680
c    64
a    24
-     4
Name: 5208680, dtype: int64
5209203
c    62
a    23
-     7
Name: 5209203, dtype: int64
5209266
c    67
-    14
a    11
Name: 5209266, dtype: int64
5209268
d    58
b    21
-    13
Name: 5209268, dtype: int64
5209366
d    66
b    22
-     4
Name: 5209366, dtype: int64
5209384
c    69
a    14
-     9
Name: 5209384, dtype: int64
5209425
d    62
b    27
-     3
Name: 5209425, dtype: int64
5209504
d    70
b    19
-     3
Name: 5209504, dtype: int64
5209520
c    59
a    21
-    12
Name: 5209520, dtype: int64
5209820
c    69
a    17
-     6
Name: 5209820, dtype: int64
5209859
c    54
a    23
-    15
Name: 5209859, dtype: int64
5209981
c    62
a    23
-     7
Name: 5209981, dtype: int64
5210177
d    59
b    24
-     9
Name: 5210177, dtype: int64
5210199
c    59
a    24
-     9
Name: 5210199, dtype: int64
5210375
c    60
a    23
-     9
Name: 5210375, dtype: int64
5210484
c    60
a    27
-     5
Name: 5210484, dtype: int64
5210649
d    68
b    18
-     6
Name: 5210649, dtype: int64
5210737
c    67
a    21
-     4
Name: 5210737, dtype: int64
5210804
d    59
b    26
-     7
Name: 5210804, dtype: int64
5210978
c    62
a    24
-     6
Name: 5210978, dtype: int64
5211021
d    63
b    23
-     6
Name: 5211021, dtype: int64
5211064
d    66
b    21
-     5
Name: 5211064, dtype: int64
5211112
c    69
a    16
-     7
Name: 5211112, dtype: int64
5211176
d    54
b    28
-    10
Name: 5211176, dtype: int64
5211270
d    63
b    21
-     8
Name: 5211270, dtype: int64
5211392
c    68
a    19
-     5
Name: 5211392, dtype: int64
5211421
c    62
a    21
-     9
Name: 5211421, dtype: int64
5211489
c    63
a    21
-     8
Name: 5211489, dtype: int64
5211502
d    68
b    19
-     5
Name: 5211502, dtype: int64
5211506
c    64
a    23
-     5
Name: 5211506, dtype: int64
5211671
c    66
a    16
-    10
Name: 5211671, dtype: int64
5211678
c    63
a    23
-     6
Name: 5211678, dtype: int64
5211717
c    55
a    24
-    13
Name: 5211717, dtype: int64
5211750
d    65
b    22
-     5
Name: 5211750, dtype: int64
5211838
d    64
b    18
-    10
Name: 5211838, dtype: int64
5211870
c    65
a    19
-     8
Name: 5211870, dtype: int64
5212073
d    55
b    26
-    11
Name: 5212073, dtype: int64
5212095
d    64
b    24
-     4
Name: 5212095, dtype: int64
5212120
d    63
b    23
-     6
Name: 5212120, dtype: int64
5212133
d    56
b    29
-     7
Name: 5212133, dtype: int64
5212146
c    63
a    17
-    12
Name: 5212146, dtype: int64
5212191
c    61
a    26
-     5
Name: 5212191, dtype: int64
5212214
c    62
a    21
-     9
Name: 5212214, dtype: int64
5212254
d    64
b    19
-     9
Name: 5212254, dtype: int64

5212417
d    63
b    23
-     6
Name: 5212417, dtype: int64
5212426
d    62
b    19
-    11
Name: 5212426, dtype: int64
5212614
c    68
a    22
-     2
Name: 5212614, dtype: int64
5212623
d    63
b    23
-     6
Name: 5212623, dtype: int64
5212732
c    55
a    24
-    13
Name: 5212732, dtype: int64
5213125
d    63
b    22
-     7
Name: 5213125, dtype: int64
5213445
c    70
a    14
-     8
Name: 5213445, dtype: int64
5213461
d    66
b    20
-     6
Name: 5213461, dtype: int64
5213506
c    55
a    22
-    15
Name: 5213506, dtype: int64
5213519
c    58
a    22
-    12
Name: 5213519, dtype: int64
5213642
d    70
b    18
-     4
Name: 5213642, dtype: int64
5213749
d    60
b    24
-     8
Name: 5213749, dtype: int64
5213999
d    54
b    21
-    17
Name: 5213999, dtype: int64
5214069
c    68
a    14
-    10
Name: 5214069, dtype: int64
5214074
c    69
a    13
-    10
Name: 5214074, dtype: int64
5214152
c    67
a    18
-     7
Name: 5214152, dtype: int64
5214169
d    65
b    19
-     8
Name: 5214169, dtype: int64
5214264
c    58
a    22
-    12
Name: 5214264, dtype: int64
5214356
d    51
b    32
-     9
Name: 5214356, dtype: int64
5214445
d    55
b    29
-     8
Name: 5214445, dtype: int64
5214599
c    72
a    16
-     4
Name: 5214599, dtype: int64
5214652
d    67
b    20
-     5
Name: 5214652, dtype: int64
5214688
d    61
b    27
-     4
Name: 5214688, dtype: int64
5214815
d    63
b    25
-     4
Name: 5214815, dtype: int64
5214818
c    68
a    16
-     8
Name: 5214818, dtype: int64
5214993
d    67
b    22
-     3
Name: 5214993, dtype: int64
5215076
d    55
b    22
-    15
Name: 5215076, dtype: int64
5215122
d    59
b    27
-     6
Name: 5215122, dtype: int64
5215187
d    55
b    28
-     9
Name: 5215187, dtype: int64
5215245
d    62
b    23
-     7
Name: 5215245, dtype: int64
5215294
c    62
a    23
-     7
Name: 5215294, dtype: int64
5215337
d    63
b    26
-     3
Name: 5215337, dtype: int64
5215445
c    67
a    16
-     9
Name: 5215445, dtype: int64
5215508
d    62
b    24
-     6
Name: 5215508, dtype: int64
5215634
d    57
b    23
-    12
Name: 5215634, dtype: int64
5215764
c    67
a    16
-     9
Name: 5215764, dtype: int64
5215831
d    58
b    22
-    12
Name: 5215831, dtype: int64
5215985
c    65
a    18
-     9
Name: 5215985, dtype: int64
5216276
c    62
a    16
-    14
Name: 5216276, dtype: int64
5216406
d    64
b    23
-     5
Name: 5216406, dtype: int64
5216414
c    67
a    20
-     5
Name: 5216414, dtype: int64
5216425
c    61
a    21
-    10
Name: 5216425, dtype: int64
5216546
d    64
b    21
-     7
Name: 5216546, dtype: int64
5216599
d    61
b    21
-    10
Name: 5216599, dtype: int64
5216852
d    62
b    23
-     7
Name: 5216852, dtype: int64
5216956
d    58
b    30
-     4
Name: 5216956, dtype: int64
5216971
c    67
a    15
-    10
Name: 5216971, dtype: int64
5217050
c    59
a    22
-    11
Name: 5217050, dtype: int64
5217071
d    60
b    24
-     8
Name: 5217071, dtype: int64
5217125
d    60
b    26
-     6
Name: 5217125, dtype: int64
5217231
c    64
a    18
-    10
Name: 5217231, dtype: int64
5217425
d    66
b    22
-     4
Name: 5217425, dtype: int64
5217467
d    59
b    28
-     5
Name: 5217467, dtype: int64
5217512
d    61
b    25
-     6
Name: 5217512, dtype: int64
5217513
d    65
b    19
-     8
Name: 5217513, dtype: int64
5217790
d    61
b    25
-     6
Name: 5217790, dtype: int64
5217860
d    51
b    30
-    11
Name: 5217860, dtype: int64
5218026
d    62
b    22
-     8
Name: 5218026, dtype: int64
5218075
d    61
b    23
-     8
Name: 5218075, dtype: int64
5218235
c    66
a    22
-     4
Name: 5218235, dtype: int64
5218264
c    60
a    22
-    10
Name: 5218264, dtype: int64
5218384
c    67
a    14
-    11
Name: 5218384, dtype: int64
5218489
d    57
b    26
-     9
Name: 5218489, dtype: int64
5218582
d    70
b    20
-     2
Name: 5218582, dtype: int64
5218685
c    62
a    19
-    11
Name: 5218685, dtype: int64
5219111
c    60
a    21
-    11
Name: 5219111, dtype: int64
5219190
c    64
a    22
-     6
Name: 5219190, dtype: int64
5219667
d    58
b    29
-     5
Name: 5219667, dtype: int64
5219904
d    80
-     9
b     3
Name: 5219904, dtype: int64
5220048
d    61
b    28
-     3
Name: 5220048, dtype: int64
5220134
c    63
a    18
-    11
Name: 5220134, dtype: int64
5220160
d    54
b    28
-    10
Name: 5220160, dtype: int64
5220193
d    54
b    29
-     9
Name: 5220193, dtype: int64
5220199
d    69
b    20
-     3
Name: 5220199, dtype: int64
5220278
d    67
b    22
-     3
Name: 5220278, dtype: int64
5220343
c    65
a    18
-     9
Name: 5220343, dtype: int64
5220345
d    66
b    18
-     8
Name: 5220345, dtype: int64
5220487
d    59
b    26
-     7
Name: 5220487, dtype: int64
5220511
d    62
b    24
-     6
Name: 5220511, dtype: int64
5220643
d    64
b    23
-     5
Name: 5220643, dtype: int64
5220778
c    67
a    14
-    11
Name: 5220778, dtype: int64
5220822
d    71
b    19
-     2
Name: 5220822, dtype: int64
5220876
d    57
b    29
-     6
Name: 5220876, dtype: int64
5220969
c    64
a    22
-     6
Name: 5220969, dtype: int64
5221053
d    63
b    20
-     9
Name: 5221053, dtype: int64
5221359
c    68
a    17
-     7
Name: 5221359, dtype: int64
5221362
d    61
b    24
-     7
Name: 5221362, dtype: int64
5221486
c    68
a    17
-     7
Name: 5221486, dtype: int64
5221562
d    65
b    20
-     7
Name: 5221562, dtype: int64
5221625
d    55
b    29
-     8
Name: 5221625, dtype: int64
5221692
c    62
a    24
-     6
Name: 5221692, dtype: int64
5221737
d    67
b    23
-     2
Name: 5221737, dtype: int64
5221806
c    70
a    14
-     8
Name: 5221806, dtype: int64
5221870
c    63
a    20
-     9
Name: 5221870, dtype: int64
5221900
d    57
b    24
-    11
Name: 5221900, dtype: int64
5222015
d    65
b    22
-     5
Name: 5222015, dtype: int64
5222020
d    62
b    21
-     9
Name: 5222020, dtype: int64
5222112
d    60
b    22
-    10
Name: 5222112, dtype: int64
5222163
c    65
a    15
-    12
Name: 5222163, dtype: int64
5222232
d    59
b    25
-     8
Name: 5222232, dtype: int64
5222278
d    66
b    22
-     4
Name: 5222278, dtype: int64
5222316
c    63
a    22
-     7
Name: 5222316, dtype: int64
5222401
c    64
a    19
-     9
Name: 5222401, dtype: int64
5222447
c    62
a    23
-     7
Name: 5222447, dtype: int64
5222640
d    57
b    29
-     6
Name: 5222640, dtype: int64
5222723
c    68
a    17
-     7
Name: 5222723, dtype: int64
5222896
d    63
b    24
-     5
Name: 5222896, dtype: int64
5222966
d    58
b    26
-     8
Name: 5222966, dtype: int64
5223025
d    59
b    26
-     7
Name: 5223025, dtype: int64
5223124
d    58
b    26
-     8
Name: 5223124, dtype: int64
5223178
d    61
b    22
-     9
Name: 5223178, dtype: int64
5223544
d    58
b    29
-     5
Name: 5223544, dtype: int64
5223551
c    65
a    25
-     2
Name: 5223551, dtype: int64
5223728
d    57
b    24
-    11
Name: 5223728, dtype: int64
5224106
c    62
a    23
-     7
Name: 5224106, dtype: int64
5224276
d    56
b    22
-    14
Name: 5224276, dtype: int64
5224281
c    72
a    13
-     7
Name: 5224281, dtype: int64
5224351
d    64
b    22
-     6
Name: 5224351, dtype: int64
5224907
d    64
b    27
-     1
Name: 5224907, dtype: int64
5224934
d    61
b    21
-    10
Name: 5224934, dtype: int64
5225122
c    62
a    27
-     3
Name: 5225122, dtype: int64
5225157
c    69
a    19
-     4
Name: 5225157, dtype: int64
5225198
c    61
a    22
-     9
Name: 5225198, dtype: int64
5225233
c    56
a    23
-    13
Name: 5225233, dtype: int64
5225238
c    63
a    15
-    14
Name: 5225238, dtype: int64
5225495
d    57
b    24
-    11
Name: 5225495, dtype: int64
5225710
c    54
a    21
-    17
Name: 5225710, dtype: int64
5225743
d    67
b    22
-     3
Name: 5225743, dtype: int64
5225814
d    61
b    26
-     5
Name: 5225814, dtype: int64
5225908
d    57
b    26
-     9
Name: 5225908, dtype: int64
5226070
c    55
a    25
-    12
Name: 5226070, dtype: int64
5226125
c    59
a    22
-    11
Name: 5226125, dtype: int64
5226127
d    59
b    21
-    12
Name: 5226127, dtype: int64
5226190
d    57
b    27
-     8
Name: 5226190, dtype: int64
5226444
c    66
a    18
-     8
Name: 5226444, dtype: int64
5226547
d    61
b    23
-     8
Name: 5226547, dtype: int64
5226569
c    71
a    13
-     8
Name: 5226569, dtype: int64
5226597
c    70
a    14
-     8
Name: 5226597, dtype: int64
5226827
d    60
b    24
-     8
Name: 5226827, dtype: int64
5227457
c    70
a    17
-     5
Name: 5227457, dtype: int64
5227550
d    62
b    21
-     9
Name: 5227550, dtype: int64
5227579
d    64
b    26
-     2
Name: 5227579, dtype: int64
5227738
c    68
a    15
-     9
Name: 5227738, dtype: int64
5227751
d    55
b    29
-     8
Name: 5227751, dtype: int64
5227895
d    68
b    23
-     1
Name: 5227895, dtype: int64
5227944
d    63
b    21
-     8
Name: 5227944, dtype: int64
5227979
d    63
b    26
-     3
Name: 5227979, dtype: int64
5228130
d    62
b    21
-     9
Name: 5228130, dtype: int64
5485894
c    65
a    21
-     6
Name: 5485894, dtype: int64
5486048
c    66
a    14
-    12
Name: 5486048, dtype: int64
5486054
d    63
b    22
-     7
Name: 5486054, dtype: int64
5486355
d    58
b    23
-    11
Name: 5486355, dtype: int64
5486498
d    64
b    22
-     6
Name: 5486498, dtype: int64
5486518
d    59
b    22
-    11
Name: 5486518, dtype: int64
5486539
c    62
a    17
-    13
Name: 5486539, dtype: int64
5486585
c    61
a    25
-     6
Name: 5486585, dtype: int64
5486590
d    61
b    24
-     7
Name: 5486590, dtype: int64
5486618
c    59
a    19
-    14
Name: 5486618, dtype: int64
5486644
d    61
b    25
-     6
Name: 5486644, dtype: int64
5486751
c    62
a    23
-     7
Name: 5486751, dtype: int64
5486801
d    51
b    30
-    11
Name: 5486801, dtype: int64
5486803
d    61
b    23
-     8
Name: 5486803, dtype: int64
5486880
d    60
b    21
-    11
Name: 5486880, dtype: int64
5486884
c    72
a    14
-     6
Name: 5486884, dtype: int64
5487117
c    63
a    18
-    11
Name: 5487117, dtype: int64
5487353
c    57
a    25
-    10
Name: 5487353, dtype: int64
5487476
c    65
a    18
-     9
Name: 5487476, dtype: int64
5487575
d    61
b    24
-     7
Name: 5487575, dtype: int64
5487754
d    61
b    24
-     7
Name: 5487754, dtype: int64
5487824
c    57
-    18
a    17
Name: 5487824, dtype: int64
5487998
c    70
a    16
-     6
Name: 5487998, dtype: int64
5488501
c    60
a    22
-    10
Name: 5488501, dtype: int64
5488507
c    61
a    22
-     9
Name: 5488507, dtype: int64
5488510
c    58
a    22
-    12
Name: 5488510, dtype: int64
5488511
d    55
b    24
-    13
Name: 5488511, dtype: int64
5488512
c    53
a    25
-    14
Name: 5488512, dtype: int64
5488517
c    57
a    22
-    13
Name: 5488517, dtype: int64
5488520
c    62
a    22
-     8
Name: 5488520, dtype: int64
5488540
c    56
a    22
-    14
Name: 5488540, dtype: int64
5488837
c    67
a    22
-     3
Name: 5488837, dtype: int64
5488875
d    64
b    20
-     8
Name: 5488875, dtype: int64
5489196
c    68
a    16
-     8
Name: 5489196, dtype: int64
5489516
d    57
b    29
-     6
Name: 5489516, dtype: int64
5492071
c    62
a    22
-     8
Name: 5492071, dtype: int64
5492320
d    62
b    24
-     6
Name: 5492320, dtype: int64
5492740
d    65
b    25
-     2
Name: 5492740, dtype: int64
5492834
c    65
a    22
-     5
Name: 5492834, dtype: int64
5492839
d    60
b    24
-     8
Name: 5492839, dtype: int64
5493247
c    72
a    16
-     4
Name: 5493247, dtype: int64
5493508
d    66
b    23
-     3
Name: 5493508, dtype: int64
5493532
d    66
b    19
-     7
Name: 5493532, dtype: int64
5493744
d    67
b    18
-     7
Name: 5493744, dtype: int64
5494034
c    71
a    16
-     5
Name: 5494034, dtype: int64
5494255
c    63
a    22
-     7
Name: 5494255, dtype: int64
5494863
c    62
a    25
-     5
Name: 5494863, dtype: int64
5496730
d    64
b    24
-     4
Name: 5496730, dtype: int64
5497004
c    58
a    22
-    12
Name: 5497004, dtype: int64
5497378
c    66
a    17
-     9
Name: 5497378, dtype: int64
5497486
d    60
b    21
-    11
Name: 5497486, dtype: int64
5497601
c    72
a    14
-     6
Name: 5497601, dtype: int64
5497880
d    64
b    19
-     9
Name: 5497880, dtype: int64
5497916
c    70
a    13
-     9
Name: 5497916, dtype: int64
5497917
d    60
b    22
-    10
Name: 5497917, dtype: int64
5498055
c    66
a    18
-     8
Name: 5498055, dtype: int64
5498078
d    58
b    24
-    10
Name: 5498078, dtype: int64
5498185
d    55
b    27
-    10
Name: 5498185, dtype: int64
5498229
d    52
b    25
-    15
Name: 5498229, dtype: int64
5498331
d    61
b    21
-    10
Name: 5498331, dtype: int64
5498424
c    60
a    19
-    13
Name: 5498424, dtype: int64
5498748
c    63
a    17
-    12
Name: 5498748, dtype: int64
5499326
c    62
a    22
-     8
Name: 5499326, dtype: int64
5499803
c    71
a    15
-     6
Name: 5499803, dtype: int64
5499858
d    62
b    25
-     5
Name: 5499858, dtype: int64
5500514
c    56
a    28
-     8
Name: 5500514, dtype: int64
5500664
d    68
b    21
-     3
Name: 5500664, dtype: int64
5501350
d    54
b    26
-    12
Name: 5501350, dtype: int64
5501486
c    72
a    13
-     7
Name: 5501486, dtype: int64
5501624
c    66
a    16
-    10
Name: 5501624, dtype: int64
5501889
d    67
b    16
-     9
Name: 5501889, dtype: int64
5501948
d    56
b    29
-     7
Name: 5501948, dtype: int64
5501975
c    54
a    25
-    13
Name: 5501975, dtype: int64
5502220
c    61
a    20
-    11
Name: 5502220, dtype: int64
5502526
c    68
a    20
-     4
Name: 5502526, dtype: int64
5502709
c    73
a    14
-     5
Name: 5502709, dtype: int64
5503398
d    57
b    26
-     9
Name: 5503398, dtype: int64
5503450
d    64
b    20
-     8
Name: 5503450, dtype: int64
5503542
c    61
a    21
-    10
Name: 5503542, dtype: int64
5503788
d    62
b    25
-     5
Name: 5503788, dtype: int64
5504065
d    64
b    25
-     3
Name: 5504065, dtype: int64
5504878
c    68
a    16
-     8
Name: 5504878, dtype: int64
5504939
c    66
a    19
-     7
Name: 5504939, dtype: int64
5757497
d    66
b    19
-     7
Name: 5757497, dtype: int64
5757538
d    69
b    19
-     4
Name: 5757538, dtype: int64
5757652
c    60
a    22
-    10
Name: 5757652, dtype: int64
5757698
d    59
b    19
-    14
Name: 5757698, dtype: int64
5757867
d    64
b    20
-     8
Name: 5757867, dtype: int64
5757914
c    66
a    17
-     9
Name: 5757914, dtype: int64
5758145
c    61
a    18
-    13

Name: 5758145, dtype: int64
5767659
c    64
a    22
-     6
Name: 5767659, dtype: int64
5768401
d    62
b    25
-     5
Name: 5768401, dtype: int64
5788499
c    58
a    25
-     9
Name: 5788499, dtype: int64
5788601
d    57
b    29
-     6
Name: 5788601, dtype: int64
5788820
c    67
a    15
-    10
Name: 5788820, dtype: int64
5788936
c    63
a    22
-     7
Name: 5788936, dtype: int64
5789064
c    66
a    16
-    10
Name: 5789064, dtype: int64
5789238
d    62
b    23
-     7
Name: 5789238, dtype: int64
5789654
d    60
b    26
-     6
Name: 5789654, dtype: int64
5795978
d    58
b    26
-     8
Name: 5795978, dtype: int64
5796527
c    69
a    14
-     9
Name: 5796527, dtype: int64
5797807
d    68
b    22
-     2
Name: 5797807, dtype: int64
5800719
d    63
b    24
-     5
Name: 5800719, dtype: int64
5801363
d    47
b    30
-    15
Name: 5801363, dtype: int64
5801859
c    58
a    24
-    10
Name: 5801859, dtype: int64
5801925
c    64
a    22
-     6
Name: 5801925, dtype: int64
5803244
d    64
b    19
-     9
Name: 5803244, dtype: int64
5804594
d    65
b    23
-     4
Name: 5804594, dtype: int64
6209835
c    62
a    23
-     7
Name: 6209835, dtype: int64
6209854
c    58
a    22
-    12
Name: 6209854, dtype: int64
6210636
c    66
a    16
-    10
Name: 6210636, dtype: int64
6211245
c    67
a    15
-    10
Name: 6211245, dtype: int64
6211261
d    56
b    23
-    13
Name: 6211261, dtype: int64
6211317
d    63
b    22
-     7
Name: 6211317, dtype: int64
6211860
d    74
-    13
b     5
Name: 6211860, dtype: int64
7062465
c    64
a    19
-     9
Name: 7062465, dtype: int64
7062957
d    66
b    16
-    10
Name: 7062957, dtype: int64
7063047
c    59
a    24
-     9
Name: 7063047, dtype: int64
7063206
c    64
a    20
-     8
Name: 7063206, dtype: int64
7063245
d    49
b    32
-    11
Name: 7063245, dtype: int64
7063339
c    52
a    32
-     8
Name: 7063339, dtype: int64
7063430
d    66
b    19
-     7
Name: 7063430, dtype: int64
7063563
c    66
a    15
-    11
Name: 7063563, dtype: int64
7063638
c    60
a    24
-     8
Name: 7063638, dtype: int64
7064209
c    57
a    31
-     4
Name: 7064209, dtype: int64
7064386
c    67
a    20
-     5
Name: 7064386, dtype: int64
7069893
d    58
b    26
-     8
Name: 7069893, dtype: int64
7070955
c    74
-    10
a     8
Name: 7070955, dtype: int64
7072258
c    78
a    10
-     4
Name: 7072258, dtype: int64
7086444
d    63
b    24
-     5
Name: 7086444, dtype: int64
7087152
d    61
b    26
-     5
Name: 7087152, dtype: int64
7087479
d    59
b    20
-    13
Name: 7087479, dtype: int64
7087685
c    72
-    11
a     9
Name: 7087685, dtype: int64
7088178
c    64
a    23
-     5
Name: 7088178, dtype: int64
7088384
d    59
b    27
-     6
Name: 7088384, dtype: int64
7089334
c    73
a    14
-     5
Name: 7089334, dtype: int64
7091214
c    63
a    18
-    11
Name: 7091214, dtype: int64
7092195
d    63
b    21
-     8
Name: 7092195, dtype: int64
7094970
c    56
a    26
-    10
Name: 7094970, dtype: int64
7094984
c    70
a    18
-     4
Name: 7094984, dtype: int64
7096338
d    62
b    18
-    12
Name: 7096338, dtype: int64
7096593
d    58
b    22
-    12
Name: 7096593, dtype: int64
7096716
c    64
a    25
-     3
Name: 7096716, dtype: int64
7096971
c    73
a    14
-     5
Name: 7096971, dtype: int64
7097165
d    62
b    26
-     4
Name: 7097165, dtype: int64
7097306
c    61
a    18
-    13
Name: 7097306, dtype: int64
7097544
d    59
b    23
-    10
Name: 7097544, dtype: int64
7097701
d    61
b    23
-     8
Name: 7097701, dtype: int64
7097709
d    61
b    21
-    10
Name: 7097709, dtype: int64
7097786
d    60
b    22
-    10
Name: 7097786, dtype: int64
7097796
d    62
b    21
-     9
Name: 7097796, dtype: int64
7097816
d    58
b    24
-    10
Name: 7097816, dtype: int64
7097989
d    72
b    17
-     3
Name: 7097989, dtype: int64
7098300
d    68
b    20
-     4
Name: 7098300, dtype: int64
7098318
c    56
a    23
-    13
Name: 7098318, dtype: int64
7099768
d    69
b    19
-     4
Name: 7099768, dtype: int64
7099868
d    62
b    23
-     7
Name: 7099868, dtype: int64
7100078
d    73
b    13
-     6
Name: 7100078, dtype: int64
7100141
c    65
a    23
-     4
Name: 7100141, dtype: int64
7100156
c    66
a    18
-     8
Name: 7100156, dtype: int64
7100158
d    65
b    21
-     6
Name: 7100158, dtype: int64
7103590
c    63
a    18
-    11
Name: 7103590, dtype: int64
7104045
c    63
a    22
-     7
Name: 7104045, dtype: int64
7104192
c    64
a    23
-     5
Name: 7104192, dtype: int64
7104245
d    58
b    23
-    11
Name: 7104245, dtype: int64
7104248
d    62
b    19
-    11
Name: 7104248, dtype: int64
7104904
d    66
b    25
-     1
Name: 7104904, dtype: int64
7106119
d    68
b    14
-    10
Name: 7106119, dtype: int64
7354507
c    64
a    19
-     9
Name: 7354507, dtype: int64
7354647
c    63
a    22
-     7
Name: 7354647, dtype: int64
7356963
c    63
a    20
-     9
Name: 7356963, dtype: int64
7357123
d    63
b    20
-     9
Name: 7357123, dtype: int64
7357192
d    63
b    25
-     4
Name: 7357192, dtype: int64
7357390
c    74
a    14
-     4
Name: 7357390, dtype: int64
7358067
d    65
b    21
-     6
Name: 7358067, dtype: int64
7358236
c    73
a    16
-     3
Name: 7358236, dtype: int64
7410462
d    58
b    24
-    10
Name: 7410462, dtype: int64
7411188
c    57
a    26
-     9
Name: 7411188, dtype: int64
7411328
d    60
b    22
-    10
Name: 7411328, dtype: int64
7411366
d    58
b    21
-    13
Name: 7411366, dtype: int64
7411482
d    58
b    21
-    13
Name: 7411482, dtype: int64
7411483
c    64
a    22
-     6
Name: 7411483, dtype: int64
7413457
c    59
a    21
-    12
Name: 7413457, dtype: int64
7413631
c    72
a    13
-     7
Name: 7413631, dtype: int64
7413888
d    55
b    30
-     7
Name: 7413888, dtype: int64
7414294
d    65
b    20
-     7
Name: 7414294, dtype: int64
7414587
c    72
a    13
-     7
Name: 7414587, dtype: int64
7414871
c    60
a    22
-    10
Name: 7414871, dtype: int64
7415314
c    66
a    17
-     9
Name: 7415314, dtype: int64
7415475
d    57
b    23
-    12
Name: 7415475, dtype: int64
7415485
c    65
a    19
-     8
Name: 7415485, dtype: int64
7415647
d    62
b    24
-     6
Name: 7415647, dtype: int64
7463236
c    66
a    23
-     3
Name: 7463236, dtype: int64
7463311
d    58
b    25
-     9
Name: 7463311, dtype: int64
7463496
c    61
a    18
-    13
Name: 7463496, dtype: int64
7463528
d    65
b    19
-     8
Name: 7463528, dtype: int64
7463604
d    59
b    24
-     9
Name: 7463604, dtype: int64
7463805
c    60
a    23
-     9
Name: 7463805, dtype: int64
7464673
c    58
a    23
-    11
Name: 7464673, dtype: int64
7464786
c    64
a    18
-    10
Name: 7464786, dtype: int64
7465531
d    59
b    25
-     8
Name: 7465531, dtype: int64
7466030
d    51
b    30
-    11
Name: 7466030, dtype: int64
7466516
d    61
b    23
-     8
Name: 7466516, dtype: int64
7466722
c    61
a    21
-    10
Name: 7466722, dtype: int64
7467694
d    62
b    22
-     8
Name: 7467694, dtype: int64
7467781
c    59
a    24
-     9
Name: 7467781, dtype: int64
7468267
d    67
b    18
-     7
Name: 7468267, dtype: int64
7493323
d    67
b    20
-     5
Name: 7493323, dtype: int64
7497336
d    62
b    22
-     8
Name: 7497336, dtype: int64
7575561
d    64
b    19
-     9
Name: 7575561, dtype: int64
12699533
d    64
b    25
-     3
Name: 12699533, dtype: int64
16404390
d    64
b    22
-     6
Name: 16404390, dtype: int64
16507047
c    75
a    14
-     3
Name: 16507047, dtype: int64
16513806
c    56
a    22
-    14
Name: 16513806, dtype: int64
16513818
d    59
b    27
-     6
Name: 16513818, dtype: int64
16517523
d    61
b    18
-    13
Name: 16517523, dtype: int64
16524002
d    52
b    31
-     9
Name: 16524002, dtype: int64
17404279
c    77
-     8
a     7
Name: 17404279, dtype: int64
24168155
d    69
-    15
b     8
Name: 24168155, dtype: int64
28851660
d    59
b    22
-    11
Name: 28851660, dtype: int64
28851687
c    62
a    18
-    12
Name: 28851687, dtype: int64
28851795
d    61
b    20
-    11
Name: 28851795, dtype: int64
28851796
c    65
a    17
-    10
Name: 28851796, dtype: int64
28851812
d    58
b    23
-    11
Name: 28851812, dtype: int64
28851823
d    67
b    22
-     3
Name: 28851823, dtype: int64
28851830
d    53
b    31
-     8
Name: 28851830, dtype: int64
28851845
d    60
b    22
-    10
Name: 28851845, dtype: int64
28851904
d    64
b    22
-     6
Name: 28851904, dtype: int64
28852425
c    56
a    24
-    12
Name: 28852425, dtype: int64
28853031
d    61
b    22
-     9
Name: 28853031, dtype: int64
28853050
d    66
b    22
-     4
Name: 28853050, dtype: int64
28855161
d    65
b    20
-     7
Name: 28855161, dtype: int64
28855222
d    65
b    25
-     2
Name: 28855222, dtype: int64
28855592
c    65
a    17
-    10
Name: 28855592, dtype: int64
28855717
d    58
b    21
-    13
Name: 28855717, dtype: int64
28855721
d    53
b    27
-    12
Name: 28855721, dtype: int64
28855722
c    58
a    21
-    13
Name: 28855722, dtype: int64
28856354
d    65
b    22
-     5
Name: 28856354, dtype: int64
28857292
c    68
a    16
-     8
Name: 28857292, dtype: int64
28857397
c    73
a    13
-     6
Name: 28857397, dtype: int64
28857627
d    63
b    20
-     9
Name: 28857627, dtype: int64
100000008
d    55
b    22
-    15
Name: 100000008, dtype: int64
100000011
c    54
a    23
-    15
Name: 100000011, dtype: int64
100000017
c    61
a    21
-    10
Name: 100000017, dtype: int64
100000030
d    54
b    26
-    12
Name: 100000030, dtype: int64
100000053
d    52
b    27
-    13
Name: 100000053, dtype: int64
100000074
c    61
a    19
-    12
Name: 100000074, dtype: int64
100000103
c    64
a    22
-     6
Name: 100000103, dtype: int64
100000112
d    57
b    26
-     9
Name: 100000112, dtype: int64
100000113
c    56
a    21
-    15
Name: 100000113, dtype: int64
100000116
d    68
-    12
b    12
Name: 100000116, dtype: int64
100000142
c    69
a    14
-     9
Name: 100000142, dtype: int64
100000180
c    63
a    19
-    10
Name: 100000180, dtype: int64
100000187
c    59
a    25
-     8
Name: 100000187, dtype: int64
100000189
d    56
b    28
-     8
Name: 100000189, dtype: int64
100000196
d    56
b    22
-    14
Name: 100000196, dtype: int64
100000203
d    49
b    32
-    11
Name: 100000203, dtype: int64
100000213
c    65
a    19
-     8
Name: 100000213, dtype: int64
100000274
c    65
a    20
-     7
Name: 100000274, dtype: int64
100000313
c    61
a    24
-     7
Name: 100000313, dtype: int64
100000317
c    56
a    25
-    11
Name: 100000317, dtype: int64
100000322
c    57
a    28
-     7
Name: 100000322, dtype: int64
100000338
c    62
a    25
-     5
Name: 100000338, dtype: int64
100000345
d    49
b    28
-    15
Name: 100000345, dtype: int64
100000398
c    63
a    16
-    13
Name: 100000398, dtype: int64
100000404
d    58
b    23
-    11
Name: 100000404, dtype: int64
100000458
c    57
a    19
-    16
Name: 100000458, dtype: int64
100000521
d    55
b    21
-    16
Name: 100000521, dtype: int64
100000529
c    68
-    13
a    11
Name: 100000529, dtype: int64
100000535
d    66
b    21
-     5
Name: 100000535, dtype: int64
100000540
c    59
a    24
-     9
Name: 100000540, dtype: int64
100000556
d    62
b    22
-     8
Name: 100000556, dtype: int64
100000558
c    68
a    14
-    10
Name: 100000558, dtype: int64
100000564
d    54
b    26
-    12
Name: 100000564, dtype: int64
100000576
c    67
a    18
-     7
Name: 100000576, dtype: int64
100000580
c    59
a    22
-    11
Name: 100000580, dtype: int64
100000631
d    70
b    16
-     6
Name: 100000631, dtype: int64
100000633
c    62
a    17
-    13
Name: 100000633, dtype: int64
100000645
d    59
b    24
-     9
Name: 100000645, dtype: int64
100000646
d    61
b    20
-    11
Name: 100000646, dtype: int64
100000660
c    64
a    21
-     7
Name: 100000660, dtype: int64
100000672
c    63
a    21
-     8
Name: 100000672, dtype: int64
100000676
c    74
-    12
a     6
Name: 100000676, dtype: int64
100000680
d    57
b    30
-     5
Name: 100000680, dtype: int64
100000681
c    61
a    27
-     4
Name: 100000681, dtype: int64
100000699
c    64
a    26
-     2
Name: 100000699, dtype: int64
100000771
d    66
b    21
-     5
Name: 100000771, dtype: int64
100000800
d    59
b    21
-    12
Name: 100000800, dtype: int64
100000932
d    66
b    21
-     5
Name: 100000932, dtype: int64
100001013
c    64
a    26
-     2
Name: 100001013, dtype: int64
100001015
d    65
b    15
-    12
Name: 100001015, dtype: int64
100001016
d    51
b    27
-    14
Name: 100001016, dtype: int64
100001029
d    57
b    25
-    10
Name: 100001029, dtype: int64
100001844
c    57
a    24
-    11
Name: 100001844, dtype: int64
100001994
c    56
a    24
-    12
Name: 100001994, dtype: int64
100002349
c    68
a    17
-     7
Name: 100002349, dtype: int64
100002970
c    62
a    21
-     9
Name: 100002970, dtype: int64
100002996
d    56
b    24
-    12
Name: 100002996, dtype: int64
100003085
c    66
a    16
-    10
Name: 100003085, dtype: int64
100003088
c    65
-    14
a    13
Name: 100003088, dtype: int64
100003192
c    59
a    23
-    10
Name: 100003192, dtype: int64
100003298
d    54
b    32
-     6
Name: 100003298, dtype: int64
100003375
c    59
a    21
-    12
Name: 100003375, dtype: int64
100004582
d    62
b    19
-    11
Name: 100004582, dtype: int64
100007660
c    66
a    20
-     6
Name: 100007660, dtype: int64
100002993_23:G>A
h    55
b    23
a    14
Name: 100002993_23:G>A, dtype: int64
100003663_35:C>T
h    46
b    27
a    19
Name: 100003663_35:C>T, dtype: int64
100007447_8:T>C
h    52
b    25
a    14
-     1
Name: 100007447_8:T>C, dtype: int64
16513806_10:G>C
h    42
b    28
a    22
Name: 16513806_10:G>C, dtype: int64
17401839_61:G>A
h    46
b    24
a    22
Name: 17401839_61:G>A, dtype: int64
3342090_13:A>T
h    45
b    27
a    20
Name: 3342090_13:A>T, dtype: int64
3342120_51:T>C
h    50
b    26
a    16
Name: 3342120_51:T>C, dtype: int64
3342203_31:G>A
h    48
b    28
a    16
Name: 3342203_31:G>A, dtype: int64
3342426_13:C>T
h    46
b    24
a    22
Name: 3342426_13:C>T, dtype: int64
3342687_40:G>C
h    47
b    27
a    18
Name: 3342687_40:G>C, dtype: int64
3342737_15:G>T
h    51
b    24
a    17
Name: 3342737_15:G>T, dtype: int64
3343158_16:A>G
h    49
a    22
b    21
Name: 3343158_16:A>G, dtype: int64
3343339_18:C>A
h    42
a    28
b    22
Name: 3343339_18:C>A, dtype: int64
3343364_19:G>A
h    56
b    21
a    15
Name: 3343364_19:G>A, dtype: int64
3343439_68:A>G
h    47
a    24
b    21
Name: 3343439_68:A>G, dtype: int64
3343439_8:C>T
h    49
a    22
b    21
Name: 3343439_8:C>T, dtype: int64
3343517_63:C>T
h    48
b    25
a    19
Name: 3343517_63:C>T, dtype: int64
3343648_55:C>A
h    43
b    27
a    22
Name: 3343648_55:C>A, dtype: int64
3343850_5:T>C
h    48
b    22
a    22
Name: 3343850_5:T>C, dtype: int64
3344134_21:G>A
h    55
b    19
a    18
Name: 3344134_21:G>A, dtype: int64
3344416_60:A>G
h    49
a    22
b    21
Name: 3344416_60:A>G, dtype: int64
3344431_56:T>C
h    52
b    23
a    17
Name: 3344431_56:T>C, dtype: int64
3344581_43:T>C
h    42
b    27
a    20
-     3
Name: 3344581_43:T>C, dtype: int64
3344768_45:G>T
h    47
b    23
a    22
Name: 3344768_45:G>T, dtype: int64
3344804_33:G>A
h    44
a    26
b    22
Name: 3344804_33:G>A, dtype: int64
3345152_9:C>T
h    47
b    23
a    22
Name: 3345152_9:C>T, dtype: int64
3345268_34:C>T
h    46
b    24
a    22
Name: 3345268_34:C>T, dtype: int64
3345365_63:C>T
h    41
b    28
a    23
Name: 3345365_63:C>T, dtype: int64
3345726_37:T>G
h    54
b    22
a    16
Name: 3345726_37:T>G, dtype: int64
3345838_53:A>C
h    47
b    28
a    17
Name: 3345838_53:A>C, dtype: int64
3345961_35:A>T
h    45
a    24
b    23
Name: 3345961_35:A>T, dtype: int64
3346079_28:A>C
h    48
b    28
a    15
-     1
Name: 3346079_28:A>C, dtype: int64
3346175_11:C>G
h    44
b    30
a    18
Name: 3346175_11:C>G, dtype: int64
3346305_15:G>A
h    48
b    25
a    19
Name: 3346305_15:G>A, dtype: int64
3346935_66:A>G
h    54
b    22
a    16
Name: 3346935_66:A>G, dtype: int64
3346988_57:C>T
h    37
b    34
a    21
Name: 3346988_57:C>T, dtype: int64
3347476_45:T>A
h    58
b    20
a    14
Name: 3347476_45:T>A, dtype: int64
3347561_11:G>C
h    48
b    22
a    22
Name: 3347561_11:G>C, dtype: int64
3348505_8:C>A
h    47
b    27
a    18
Name: 3348505_8:C>A, dtype: int64
3348592_10:T>C
h    57
b    22
a    13
Name: 3348592_10:T>C, dtype: int64
3348841_29:A>C
h    59
b    20
a    13
Name: 3348841_29:A>C, dtype: int64
3349288_62:G>A
h    57
b    21
a    14
Name: 3349288_62:G>A, dtype: int64
3349324_62:G>C
h    49
b    22
a    21
Name: 3349324_62:G>C, dtype: int64
3350215_25:C>T
h    49
a    22
b    21
Name: 3350215_25:C>T, dtype: int64
3350219_44:T>C
h    58
b    20
a    14
Name: 3350219_44:T>C, dtype: int64
3350396_46:G>C
h    49
a    22
b    21

Name: 3350396_46:G>C, dtype: int64
3350577_63:C>T
h    48
b    22
a    22
Name: 3350577_63:C>T, dtype: int64
3350610_30:G>T
h    47
b    24
a    21
Name: 3350610_30:G>T, dtype: int64
3350683_29:A>G
h    44
b    31
a    17
Name: 3350683_29:A>G, dtype: int64
3350877_8:G>C
h    57
b    21
a    14
Name: 3350877_8:G>C, dtype: int64
3351062_54:T>C
h    50
b    26
a    16
Name: 3351062_54:T>C, dtype: int64
3351134_49:A>G
h    47
a    23
b    22
Name: 3351134_49:A>G, dtype: int64
3351146_42:G>A
h    44
b    29
a    19
Name: 3351146_42:G>A, dtype: int64
3351387_25:G>C
h    52
b    23
a    17
Name: 3351387_25:G>C, dtype: int64
3351531_32:C>G
h    50
b    25
a    17
Name: 3351531_32:C>G, dtype: int64
3351531a
c    63
a    17
-    12
Name: 3351531a, dtype: int64
3351531b
d    57
b    25
-    10
Name: 3351531b, dtype: int64
3351615_11:C>T
h    51
b    24
a    17
Name: 3351615_11:C>T, dtype: int64
3351639_36:G>T
h    47
b    29
a    16
Name: 3351639_36:G>T, dtype: int64
3351693_49:G>T
h    54
b    20
a    18
Name: 3351693_49:G>T, dtype: int64
3351764_30:C>T
h    46
b    24
a    22
Name: 3351764_30:C>T, dtype: int64
3352093_40:T>C
h    49
b    27
a    16
Name: 3352093_40:T>C, dtype: int64
3352139_10:C>G
h    48
b    22
a    22
Name: 3352139_10:C>G, dtype: int64
3352403_24:A>T
h    45
b    25
a    22
Name: 3352403_24:A>T, dtype: int64
3352503_39:A>G
h    39
b    30
a    23
Name: 3352503_39:A>G, dtype: int64
3352680_40:A>T
h    46
a    24
b    22
Name: 3352680_40:A>T, dtype: int64
3352696_38:A>G
h    47
a    23
b    22
Name: 3352696_38:A>G, dtype: int64
3352714_38:C>G
h    46
b    29
a    17
Name: 3352714_38:C>G, dtype: int64
3352962_23:G>A
h    51
b    24
a    17
Name: 3352962_23:G>A, dtype: int64
3353332_33:T>A
h    52
b    23
a    17
Name: 3353332_33:T>A, dtype: int64
3353816_26:T>C
h    47
b    23
a    22
Name: 3353816_26:T>C, dtype: int64
3353852_37:T>A
h    49
b    24
a    19
Name: 3353852_37:T>A, dtype: int64
3354184_33:G>C
h    47
b    27
a    18
Name: 3354184_33:G>C, dtype: int64
3354614_18:C>T
h    55
b    22
a    15
Name: 3354614_18:C>T, dtype: int64
3354697_44:G>A
h    39
b    27
a    26
Name: 3354697_44:G>A, dtype: int64
3354791_58:T>A
h    56
b    21
a    15
Name: 3354791_58:T>A, dtype: int64
3354800_32:A>G
h    59
b    20
a    13
Name: 3354800_32:A>G, dtype: int64
3355303_8:T>G
h    50
b    26
a    16
Name: 3355303_8:T>G, dtype: int64
3355571_50:T>G
h    48
b    22
a    22
Name: 3355571_50:T>G, dtype: int64
3355588_33:T>G
h    50
b    26
a    16
Name: 3355588_33:T>G, dtype: int64
3355755_41:G>C
h    49
b    27
a    16
Name: 3355755_41:G>C, dtype: int64
3355799_29:A>C
h    42
b    25
a    25
Name: 3355799_29:A>C, dtype: int64
3355820_23:C>T
h    47
b    23
a    22
Name: 3355820_23:C>T, dtype: int64
3355820_44:C>T
h    47
b    23
a    22
Name: 3355820_44:C>T, dtype: int64
3355871_65:C>G
h    51
b    24
a    17
Name: 3355871_65:C>G, dtype: int64
3356000_34:A>G
h    50
b    26
a    16
Name: 3356000_34:A>G, dtype: int64
3356159_55:C>T
h    48
b    24
a    20
Name: 3356159_55:C>T, dtype: int64
3356209_16:T>C
h    48
b    22
a    22
Name: 3356209_16:T>C, dtype: int64
3356269_43:T>A
h    46
b    23
a    23
Name: 3356269_43:T>A, dtype: int64
3356732_24:G>A
h    53
b    22
a    17
Name: 3356732_24:G>A, dtype: int64
3356849_28:C>G
h    44
a    25
b    23
Name: 3356849_28:C>G, dtype: int64
3357065_54:A>C
h    50
a    22
b    17
-     3
Name: 3357065_54:A>C, dtype: int64
3357156_11:C>A
h    50
b    26
a    16
Name: 3357156_11:C>A, dtype: int64
3357330_32:C>T
h    45
b    25
a    22
Name: 3357330_32:C>T, dtype: int64
3357454_8:A>G
h    48
b    22
a    22
Name: 3357454_8:A>G, dtype: int64
3358177_11:C>G
h    44
b    25
a    23
Name: 3358177_11:C>G, dtype: int64
3358564_44:A>G
h    57
b    21
a    14
Name: 3358564_44:A>G, dtype: int64
3359055_6:T>C
h    58
b    20
a    14
Name: 3359055_6:T>C, dtype: int64
3359092_16:C>G
h    47
a    24
b    21
Name: 3359092_16:C>G, dtype: int64
3359177_32:T>G
h    50
b    22
a    20
Name: 3359177_32:T>G, dtype: int64
3359528_33:T>G
h    52
a    21
b    19
Name: 3359528_33:T>G, dtype: int64
3359682_65:T>A
h    50
b    26
a    16
Name: 3359682_65:T>A, dtype: int64
3359967_31:A>G
h    48
b    23
a    21
Name: 3359967_31:A>G, dtype: int64
3359990_49:G>C
h    48
a    23
b    21
Name: 3359990_49:G>C, dtype: int64
3360491_56:G>T
h    49
b    27
a    16
Name: 3360491_56:G>T, dtype: int64
3360653_60:T>G
h    48
b    24
a    20
Name: 3360653_60:T>G, dtype: int64
3361421_43:T>G
h    55
b    21
a    16
Name: 3361421_43:T>G, dtype: int64
3361631_9:A>G
h    44
b    29
a    19
Name: 3361631_9:A>G, dtype: int64
3361671_22:A>T
h    47
b    28
a    17
Name: 3361671_22:A>T, dtype: int64
3361798_13:G>C
h    59
b    20
a    13
Name: 3361798_13:G>C, dtype: int64
3361897_38:G>A
h    55
b    21
a    16
Name: 3361897_38:G>A, dtype: int64
3361944_15:A>C
a    69
-    23
Name: 3361944_15:A>C, dtype: int64
3361953_30:G>C
h    57
b    22
a    13
Name: 3361953_30:G>C, dtype: int64
3361958_53:G>C
h    49
a    22
b    21
Name: 3361958_53:G>C, dtype: int64
3361974_49:A>T
h    46
b    24
a    22
Name: 3361974_49:A>T, dtype: int64
3361982_37:G>C
h    45
b    29
a    18
Name: 3361982_37:G>C, dtype: int64
3362010_22:G>A
h    49
b    27
a    16
Name: 3362010_22:G>A, dtype: int64
3362091_28:C>T
h    49
b    26
a    17
Name: 3362091_28:C>T, dtype: int64
3362103_9:C>T
h    55
b    22
a    15
Name: 3362103_9:C>T, dtype: int64
3362117_14:A>G
h    49
a    22
b    21
Name: 3362117_14:A>G, dtype: int64
3362170_27:G>C
h    47
a    23
b    22
Name: 3362170_27:G>C, dtype: int64
3362187_38:A>G
h    41
b    28
a    23
Name: 3362187_38:A>G, dtype: int64
3362216_5:G>A
h    59
b    19
a    14
Name: 3362216_5:G>A, dtype: int64
3362244_20:C>G
h    49
a    22
b    21
Name: 3362244_20:C>G, dtype: int64
3362289_29:A>C
h    53
b    22
a    17
Name: 3362289_29:A>C, dtype: int64
3362315_37:C>T
h    50
b    26
a    16
Name: 3362315_37:C>T, dtype: int64
3362344_68:G>C
h    54
a    20
b    18
Name: 3362344_68:G>C, dtype: int64
3362350_19:C>T
h    50
b    26
a    16
Name: 3362350_19:C>T, dtype: int64
3362357_7:A>G
h    59
b    20
a    13
Name: 3362357_7:A>G, dtype: int64
3362368_46:G>A
h    55
b    22
a    15
Name: 3362368_46:G>A, dtype: int64
3362391_18:C>T
h    59
b    20
a    13
Name: 3362391_18:C>T, dtype: int64
3362415_18:A>G
h    50
b    26
a    16
Name: 3362415_18:A>G, dtype: int64
3362442_40:T>C
h    50
b    26
a    16
Name: 3362442_40:T>C, dtype: int64
3362465_25:A>G
h    56
b    21
a    15
Name: 3362465_25:A>G, dtype: int64
3362478_21:G>C
h    50
b    26
a    16
Name: 3362478_21:G>C, dtype: int64
3362498_66:C>G
h    50
b    26
a    16
Name: 3362498_66:C>G, dtype: int64
3362507_52:C>T
h    57
b    20
a    15
Name: 3362507_52:C>T, dtype: int64
3362516_40:A>C
h    49
b    26
a    17
Name: 3362516_40:A>C, dtype: int64
3362572_57:A>G
h    47
b    26
a    19
Name: 3362572_57:A>G, dtype: int64
3362581_26:A>C
h    51
a    21
b    20
Name: 3362581_26:A>C, dtype: int64
3362624_17:T>G
h    48
b    22
a    22
Name: 3362624_17:T>G, dtype: int64
3362639_17:C>A
h    47
b    27
a    18
Name: 3362639_17:C>A, dtype: int64
3362643_26:C>G
h    49
b    22
a    21
Name: 3362643_26:C>G, dtype: int64
3362678_18:T>C
h    50
b    26
a    16
Name: 3362678_18:T>C, dtype: int64
3362678a
c    66
a    15
-    11
Name: 3362678a, dtype: int64
3362678b
d    60
b    26
-     6
Name: 3362678b, dtype: int64
3362679_39:A>G
h    48
b    25
a    19
Name: 3362679_39:A>G, dtype: int64
3362686_22:C>T
h    50
b    26
a    16
Name: 3362686_22:C>T, dtype: int64
3362689_40:A>T
h    56
b    20
a    16
Name: 3362689_40:A>T, dtype: int64
3362700_22:T>C
h    47
b    27
a    18
Name: 3362700_22:T>C, dtype: int64
3362703_17:C>T
h    49
a    22
b    21
Name: 3362703_17:C>T, dtype: int64
3362721_16:T>A
h    48
b    22
a    22
Name: 3362721_16:T>A, dtype: int64
3362761_15:G>T
h    50
b    26
a    16
Name: 3362761_15:G>T, dtype: int64
3362762_12:T>C
h    56
b    24
a    12
Name: 3362762_12:T>C, dtype: int64
3362763_39:T>C
h    58
b    20
a    14
Name: 3362763_39:T>C, dtype: int64
3362782_11:T>C
h    58
b    20
a    14
Name: 3362782_11:T>C, dtype: int64
3362807_10:A>G
h    49
a    22
b    21
Name: 3362807_10:A>G, dtype: int64
3362886_48:G>T
h    50
b    26
a    16
Name: 3362886_48:G>T, dtype: int64
3362906_40:T>C
h    51
b    25
a    16
Name: 3362906_40:T>C, dtype: int64
3362919_53:T>C
h    59
b    21
a    12
Name: 3362919_53:T>C, dtype: int64
3363040_39:T>C
h    46
a    24
b    22
Name: 3363040_39:T>C, dtype: int64
3363053_29:G>A
h    44
a    25
b    22
-     1
Name: 3363053_29:G>A, dtype: int64
3363083_24:C>A
h    49
b    26
a    17
Name: 3363083_24:C>A, dtype: int64
3363083a
c    62
a    18
-    12
Name: 3363083a, dtype: int64
3363083b
d    54
b    26
-    12
Name: 3363083b, dtype: int64
3363172_12:A>G
h    44
a    26
b    22
Name: 3363172_12:A>G, dtype: int64
3363173_45:G>A
h    52
b    23
a    17
Name: 3363173_45:G>A, dtype: int64
3363192_22:A>C
h    49
b    24
a    19
Name: 3363192_22:A>C, dtype: int64
3363203_8:C>T
h    41
b    30
a    21
Name: 3363203_8:C>T, dtype: int64
3363338_14:C>A
h    49
a    22
b    21
Name: 3363338_14:C>A, dtype: int64
3363463_9:T>C
h    51
b    21
a    18
-     2
Name: 3363463_9:T>C, dtype: int64
3363464_7:C>T
h    48
b    23
a    21
Name: 3363464_7:C>T, dtype: int64
3363541_42:G>A
h    50
b    26
a    16
Name: 3363541_42:G>A, dtype: int64
3363699_68:C>T
h    49
b    27
a    16
Name: 3363699_68:C>T, dtype: int64
3363738_18:G>C
h    54
b    23
a    15
Name: 3363738_18:G>C, dtype: int64
3363747_11:G>A
h    42
b    28
a    22
Name: 3363747_11:G>A, dtype: int64
3363781_17:G>C
h    49
a    28
b     9
-     6
Name: 3363781_17:G>C, dtype: int64
3363916_53:A>G
h    47
a    24
b    21
Name: 3363916_53:A>G, dtype: int64
3363938_59:G>A
h    45
a    25
b    22
Name: 3363938_59:G>A, dtype: int64
3363989_43:G>T
h    51
b    26
a    15

Name: 3363989_43:G>T, dtype: int64
3364004_11:G>A
h    58
b    19
a    15
Name: 3364004_11:G>A, dtype: int64
3364047_6:C>A
h    52
b    20
a    20
Name: 3364047_6:C>A, dtype: int64
3364076_27:T>C
h    42
b    29
a    20
-     1
Name: 3364076_27:T>C, dtype: int64
3364094_22:T>C
h    50
b    21
a    21
Name: 3364094_22:T>C, dtype: int64
3364114_47:G>A
h    44
b    26
a    22
Name: 3364114_47:G>A, dtype: int64
3364132_51:C>G
h    47
a    24
b    21
Name: 3364132_51:C>G, dtype: int64
3364151_56:A>G
h    51
b    23
a    18
Name: 3364151_56:A>G, dtype: int64
3364173_29:C>G
h    49
a    22
b    21
Name: 3364173_29:C>G, dtype: int64
3364287_33:C>A
h    46
b    24
a    22
Name: 3364287_33:C>A, dtype: int64
3364324_29:T>G
h    48
b    23
a    21
Name: 3364324_29:T>G, dtype: int64
3364324a
c    67
a    21
-     4
Name: 3364324a, dtype: int64
3364324b
d    63
b    25
-     4
Name: 3364324b, dtype: int64
3364423_31:C>A
h    47
b    24
a    21
Name: 3364423_31:C>A, dtype: int64
3364482_7:A>G
h    59
b    20
a    13
Name: 3364482_7:A>G, dtype: int64
3364521_54:C>G
h    49
b    26
a    17
Name: 3364521_54:C>G, dtype: int64
3364535_57:C>T
h    58
b    21
a    13
Name: 3364535_57:C>T, dtype: int64
3364553_53:A>G
h    49
b    25
a    18
Name: 3364553_53:A>G, dtype: int64
3364598_33:G>T
h    50
b    26
a    16
Name: 3364598_33:G>T, dtype: int64
3364624_62:T>C
h    59
b    19
a    14
Name: 3364624_62:T>C, dtype: int64
3364636_34:G>C
h    49
b    27
a    16
Name: 3364636_34:G>C, dtype: int64
3364687_67:C>T
h    50
b    21
a    21
Name: 3364687_67:C>T, dtype: int64
3364713_39:T>C
h    43
b    29
a    20
Name: 3364713_39:T>C, dtype: int64
3364764_14:C>G
h    50
b    26
a    16
Name: 3364764_14:C>G, dtype: int64
3364788_14:C>G
h    44
b    31
a    17
Name: 3364788_14:C>G, dtype: int64
3364835_24:G>A
h    44
b    30
a    18
Name: 3364835_24:G>A, dtype: int64
3364844_51:T>C
h    49
b    26
a    17
Name: 3364844_51:T>C, dtype: int64
3364901_11:T>C
h    42
b    28
a    22
Name: 3364901_11:T>C, dtype: int64
3364903_24:G>C
h    55
b    22
a    15
Name: 3364903_24:G>C, dtype: int64
3364905_42:G>T
h    46
b    24
a    22
Name: 3364905_42:G>T, dtype: int64
3364977_6:A>G
h    45
b    25
a    22
Name: 3364977_6:A>G, dtype: int64
3365000_13:C>G
h    48
b    25
a    19
Name: 3365000_13:C>G, dtype: int64
3365000_14:C>G
h    48
b    25
a    19
Name: 3365000_14:C>G, dtype: int64
3365032_56:G>A
h    51
b    21
a    20
Name: 3365032_56:G>A, dtype: int64
3365056_61:G>A
h    53
b    21
a    17
-     1
Name: 3365056_61:G>A, dtype: int64
3365066_52:C>G
h    47
a    23
b    22
Name: 3365066_52:C>G, dtype: int64
3365070_7:T>C
h    44
b    29
a    19
Name: 3365070_7:T>C, dtype: int64
3365077_19:G>C
h    46
b    23
a    23
Name: 3365077_19:G>C, dtype: int64
3365093_30:C>G
h    55
b    23
a    14
Name: 3365093_30:C>G, dtype: int64
3365182_14:T>C
h    59
b    19
a    14
Name: 3365182_14:T>C, dtype: int64
3365317_59:G>A
h    57
b    21
a    14
Name: 3365317_59:G>A, dtype: int64
3365360_37:C>G
h    49
b    24
a    19
Name: 3365360_37:C>G, dtype: int64
3365382_5:A>C
h    48
b    27
a    17
Name: 3365382_5:A>C, dtype: int64
3365396_21:C>T
h    50
b    26
a    16
Name: 3365396_21:C>T, dtype: int64
3365400_65:C>T
h    45
b    24
a    23
Name: 3365400_65:C>T, dtype: int64
3575927_5:T>G
h    58
b    20
a    14
Name: 3575927_5:T>G, dtype: int64
3575937_10:A>G
h    58
b    20
a    13
-     1
Name: 3575937_10:A>G, dtype: int64
3576060_17:T>C
h    54
b    22
a    16
Name: 3576060_17:T>C, dtype: int64
3576434_9:C>G
h    51
b    21
a    20
Name: 3576434_9:C>G, dtype: int64
3576484_30:C>G
h    50
b    26
a    16
Name: 3576484_30:C>G, dtype: int64
3576491_64:A>G
h    53
b    22
a    17
Name: 3576491_64:A>G, dtype: int64
3576519_22:C>G
h    49
b    22
a    21
Name: 3576519_22:C>G, dtype: int64
3576702_61:A>C
h    58
b    21
a    13
Name: 3576702_61:A>C, dtype: int64
3577480_47:C>G
h    48
b    24
a    20
Name: 3577480_47:C>G, dtype: int64
3577934_12:T>C
h    51
b    25
a    16
Name: 3577934_12:T>C, dtype: int64
3577948_22:C>T
h    53
b    23
a    14
-     2
Name: 3577948_22:C>T, dtype: int64
3578208_23:A>G
h    50
b    21
a    21
Name: 3578208_23:A>G, dtype: int64
3578407_19:C>T
h    41
a    26
b    25
Name: 3578407_19:C>T, dtype: int64
3578562_10:G>A
h    50
b    21
a    21
Name: 3578562_10:G>A, dtype: int64
3578836_60:T>C
h    48
b    22
a    22
Name: 3578836_60:T>C, dtype: int64
3579247_14:A>G
h    44
b    31
a    17
Name: 3579247_14:A>G, dtype: int64
3579316_29:G>T
h    58
b    20
a    14
Name: 3579316_29:G>T, dtype: int64
3579686_34:C>T
h    53
a    22
b    17
Name: 3579686_34:C>T, dtype: int64
3579869_11:C>A
h    57
b    21
a    14
Name: 3579869_11:C>A, dtype: int64
3579946_18:A>G
h    50
b    26
a    16
Name: 3579946_18:A>G, dtype: int64
3580490_15:G>C
h    50
b    26
a    16
Name: 3580490_15:G>C, dtype: int64
3580713_49:A>G
h    48
b    26
a    18
Name: 3580713_49:A>G, dtype: int64
3580980_44:T>A
h    54
a    20
b    18
Name: 3580980_44:T>A, dtype: int64
3581048_29:A>G
h    46
b    23
a    23
Name: 3581048_29:A>G, dtype: int64
3581152_19:C>G
h    49
a    22
b    21
Name: 3581152_19:C>G, dtype: int64
3581273_47:C>T
h    49
a    22
b    21
Name: 3581273_47:C>T, dtype: int64
3581880_20:C>T
h    47
b    24
a    21
Name: 3581880_20:C>T, dtype: int64
3582202_51:T>A
h    45
b    28
a    19
Name: 3582202_51:T>A, dtype: int64
3582257_37:G>A
h    44
a    25
b    23
Name: 3582257_37:G>A, dtype: int64
3582548_34:T>C
h    50
b    26
a    16
Name: 3582548_34:T>C, dtype: int64
3582591_18:G>A
h    50
b    26
a    16
Name: 3582591_18:G>A, dtype: int64
3582952_5:G>C
h    47
b    28
a    17
Name: 3582952_5:G>C, dtype: int64
3583041_12:G>C
h    50
b    26
a    16
Name: 3583041_12:G>C, dtype: int64
3583189_64:T>C
h    48
b    22
a    22
Name: 3583189_64:T>C, dtype: int64
3583392_11:G>C
h    46
a    25
b    21
Name: 3583392_11:G>C, dtype: int64
3583513_41:T>G
h    54
b    22
a    16
Name: 3583513_41:T>G, dtype: int64
3584513_48:C>T
h    58
b    20
a    14
Name: 3584513_48:C>T, dtype: int64
3584809_32:G>T
h    57
b    22
a    13
Name: 3584809_32:G>T, dtype: int64
3584925_25:T>C
h    50
b    26
a    16
Name: 3584925_25:T>C, dtype: int64
3585024_68:G>A
h    51
b    25
a    16
Name: 3585024_68:G>A, dtype: int64
3585167_11:C>T
h    48
b    22
a    22
Name: 3585167_11:C>T, dtype: int64
3585330_13:G>A
h    50
b    26
a    16
Name: 3585330_13:G>A, dtype: int64
3585491_41:C>T
h    48
b    22
a    22
Name: 3585491_41:C>T, dtype: int64
3585557_44:A>G
h    48
b    28
a    16
Name: 3585557_44:A>G, dtype: int64
3585579_17:A>G
h    43
a    25
b    24
Name: 3585579_17:A>G, dtype: int64
3585679_31:C>T
h    51
b    25
a    16
Name: 3585679_31:C>T, dtype: int64
3585946_6:T>C
h    51
b    25
a    16
Name: 3585946_6:T>C, dtype: int64
3586080_10:A>G
h    59
b    19
a    14
Name: 3586080_10:A>G, dtype: int64
3586080_33:T>C
h    59
b    19
a    14
Name: 3586080_33:T>C, dtype: int64
3586343_24:A>G
h    44
b    29
a    19
Name: 3586343_24:A>G, dtype: int64
3586888_10:A>C
h    59
b    20
a    13
Name: 3586888_10:A>C, dtype: int64
3586928_45:A>G
h    49
b    27
a    16
Name: 3586928_45:A>G, dtype: int64
3586977_35:T>C
h    50
b    26
a    16
Name: 3586977_35:T>C, dtype: int64
3587053_27:A>G
h    48
a    24
b    20
Name: 3587053_27:A>G, dtype: int64
3587816_10:T>A
h    53
b    22
a    17
Name: 3587816_10:T>A, dtype: int64
3587839_7:A>G
h    52
b    23
a    17
Name: 3587839_7:A>G, dtype: int64
3587974_26:G>T
h    54
b    22
a    16
Name: 3587974_26:G>T, dtype: int64
3588536_8:T>C
h    50
b    26
a    16
Name: 3588536_8:T>C, dtype: int64
3588713_16:C>G
h    46
b    23
a    23
Name: 3588713_16:C>G, dtype: int64
3588724_9:T>C
h    50
b    26
a    16
Name: 3588724_9:T>C, dtype: int64
3588914_39:G>C
h    54
b    22
a    16
Name: 3588914_39:G>C, dtype: int64
3589569_17:C>T
h    46
b    24
a    22
Name: 3589569_17:C>T, dtype: int64
3589580_24:A>G
h    45
b    24
a    23
Name: 3589580_24:A>G, dtype: int64
3589888_43:C>G
h    57
b    22
a    13
Name: 3589888_43:C>G, dtype: int64
3590054_35:C>G
h    54
b    22
a    16
Name: 3590054_35:C>G, dtype: int64
3591238_67:A>C
h    46
b    28
a    18
Name: 3591238_67:A>C, dtype: int64
3591291_26:C>T
h    46
b    24
a    22
Name: 3591291_26:C>T, dtype: int64
3591323_19:C>G
h    52
b    23
a    17
Name: 3591323_19:C>G, dtype: int64
3591629_22:A>G
h    49
a    22
b    21
Name: 3591629_22:A>G, dtype: int64
3592057_25:T>C
h    50
b    26
a    16
Name: 3592057_25:T>C, dtype: int64
3592191_23:C>G
h    49
b    24
a    19
Name: 3592191_23:C>G, dtype: int64
3592598_10:T>C
h    55
b    21
a    16
Name: 3592598_10:T>C, dtype: int64
3592836_22:T>C
h    48
b    22
a    22
Name: 3592836_22:T>C, dtype: int64
3593063_49:A>C
h    49
b    22
a    21
Name: 3593063_49:A>C, dtype: int64
3593115_17:C>G
h    52
b    22
a    18
Name: 3593115_17:C>G, dtype: int64
3593273_5:T>C
h    46
b    23
a    23
Name: 3593273_5:T>C, dtype: int64
3593388_31:T>C
h    49
b    27
a    16
Name: 3593388_31:T>C, dtype: int64
3593438_53:C>A

h    50
b    26
a    16
Name: 3593438_53:C>A, dtype: int64
3593680_12:C>G
h    48
a    23
b    21
Name: 3593680_12:C>G, dtype: int64
3593751_6:T>G
h    51
a    22
b    19
Name: 3593751_6:T>G, dtype: int64
3594232_10:G>C
b    73
-    19
Name: 3594232_10:G>C, dtype: int64
3594288_7:A>G
h    47
a    24
b    21
Name: 3594288_7:A>G, dtype: int64
3594384_49:C>T
h    42
b    27
a    20
-     3
Name: 3594384_49:C>T, dtype: int64
3594668_34:T>G
h    60
b    18
a    14
Name: 3594668_34:T>G, dtype: int64
3595184_56:T>A
h    52
b    23
a    17
Name: 3595184_56:T>A, dtype: int64
3595215_14:C>G
h    43
b    27
a    22
Name: 3595215_14:C>G, dtype: int64
3595216_43:A>C
h    47
b    27
a    18
Name: 3595216_43:A>C, dtype: int64
3595216a
c    70
a    17
-     5
Name: 3595216a, dtype: int64
3595216b
d    59
b    26
-     7
Name: 3595216b, dtype: int64
3595227_38:T>G
h    45
a    24
b    23
Name: 3595227_38:T>G, dtype: int64
3595273_61:A>G
h    46
b    30
a    16
Name: 3595273_61:A>G, dtype: int64
3595277_23:T>C
h    56
b    21
a    15
Name: 3595277_23:T>C, dtype: int64
3595357_19:C>G
h    57
b    22
a    13
Name: 3595357_19:C>G, dtype: int64
3595396_29:A>G
h    46
b    25
a    21
Name: 3595396_29:A>G, dtype: int64
3595414_68:T>C
h    50
a    23
b    14
-     5
Name: 3595414_68:T>C, dtype: int64
3595418_53:T>C
h    38
a    36
b    18
Name: 3595418_53:T>C, dtype: int64
3595428_32:T>A
h    51
b    25
a    16
Name: 3595428_32:T>A, dtype: int64
3595431_32:G>C
h    52
b    22
a    18
Name: 3595431_32:G>C, dtype: int64
3595442_34:G>C
h    57
b    21
a    14
Name: 3595442_34:G>C, dtype: int64
3595476_20:G>C
h    49
b    26
a    17
Name: 3595476_20:G>C, dtype: int64
3595538_16:C>T
h    57
b    21
a    14
Name: 3595538_16:C>T, dtype: int64
3595569_13:G>T
h    50
b    26
a    16
Name: 3595569_13:G>T, dtype: int64
3595654_23:A>G
h    42
a    28
b    22
Name: 3595654_23:A>G, dtype: int64
3595671_21:T>G
h    58
b    21
a    13
Name: 3595671_21:T>G, dtype: int64
3595679_25:T>A
h    49
b    27
a    16
Name: 3595679_25:T>A, dtype: int64
3595748_52:C>T
h    49
b    26
a    16
-     1
Name: 3595748_52:C>T, dtype: int64
3595804_10:T>C
h    59
b    20
a    13
Name: 3595804_10:T>C, dtype: int64
3595809_25:T>C
h    50
b    26
a    16
Name: 3595809_25:T>C, dtype: int64
3595831_56:G>A
h    47
a    23
b    22
Name: 3595831_56:G>A, dtype: int64
3595964_23:G>C
h    54
b    22
a    16
Name: 3595964_23:G>C, dtype: int64
3596080_22:T>C
h    49
b    26
a    17
Name: 3596080_22:T>C, dtype: int64
3596127_30:G>T
h    50
b    26
a    16
Name: 3596127_30:G>T, dtype: int64
3596140_47:C>G
h    47
a    23
b    22
Name: 3596140_47:C>G, dtype: int64
3596166_36:C>G
h    54
b    22
a    16
Name: 3596166_36:C>G, dtype: int64
3596226_12:G>A
h    45
a    24
b    23
Name: 3596226_12:G>A, dtype: int64
3596236_29:T>C
h    57
b    21
a    14
Name: 3596236_29:T>C, dtype: int64
3596258_25:G>A
h    46
b    30
a    16
Name: 3596258_25:G>A, dtype: int64
3596269_48:C>A
h    50
b    26
a    16
Name: 3596269_48:C>A, dtype: int64
3596391_43:G>T
h    44
a    25
b    23
Name: 3596391_43:G>T, dtype: int64
3596434_7:G>A
h    59
b    20
a    13
Name: 3596434_7:G>A, dtype: int64
3596470_50:T>C
h    48
b    23
a    21
Name: 3596470_50:T>C, dtype: int64
3596504_50:G>A
h    46
a    26
b    20
Name: 3596504_50:G>A, dtype: int64
3596546_42:C>T
h    44
b    28
a    20
Name: 3596546_42:C>T, dtype: int64
3596564_49:T>C
h    48
b    27
a    17
Name: 3596564_49:T>C, dtype: int64
3596696_58:G>T
h    50
b    26
a    16
Name: 3596696_58:G>T, dtype: int64
3596726_53:T>C
h    50
b    26
a    16
Name: 3596726_53:T>C, dtype: int64
3596751_65:T>G
h    59
b    20
a    13
Name: 3596751_65:T>G, dtype: int64
3596764_15:C>T
h    57
b    21
a    14
Name: 3596764_15:C>T, dtype: int64
3596799_58:A>G
h    57
b    21
a    14
Name: 3596799_58:A>G, dtype: int64
3596830_23:C>A
h    59
b    20
a    13
Name: 3596830_23:C>A, dtype: int64
3596913_38:C>G
h    53
a    20
b    19
Name: 3596913_38:C>G, dtype: int64
3597017_33:C>T
h    50
b    24
a    18
Name: 3597017_33:C>T, dtype: int64
3597099_6:A>G
h    44
b    31
a    17
Name: 3597099_6:A>G, dtype: int64
3597104_47:T>G
h    50
b    25
a    16
-     1
Name: 3597104_47:T>G, dtype: int64
3597134_46:C>G
h    51
b    26
a    15
Name: 3597134_46:C>G, dtype: int64
3597250_38:C>A
h    59
b    19
a    14
Name: 3597250_38:C>A, dtype: int64
3597285_49:T>A
h    49
a    22
b    21
Name: 3597285_49:T>A, dtype: int64
3597364_14:T>C
h    54
b    22
a    16
Name: 3597364_14:T>C, dtype: int64
3597364a
c    66
a    16
-    10
Name: 3597364a, dtype: int64
3597364b
d    65
b    22
-     5
Name: 3597364b, dtype: int64
3597417_50:G>A
h    51
b    23
a    18
Name: 3597417_50:G>A, dtype: int64
3597421_18:C>T
h    49
b    26
a    17
Name: 3597421_18:C>T, dtype: int64
3597421_8:C>T
h    45
b    30
a    12
-     5
Name: 3597421_8:C>T, dtype: int64
3597485_10:T>C
h    45
b    27
a    20
Name: 3597485_10:T>C, dtype: int64
3597485_25:C>G
h    48
b    24
a    16
-     4
Name: 3597485_25:C>G, dtype: int64
3597521_39:C>T
h    45
a    25
b    21
-     1
Name: 3597521_39:C>T, dtype: int64
3597523_33:A>G
h    37
a    28
b    26
-     1
Name: 3597523_33:A>G, dtype: int64
3597544_28:A>G
h    46
b    24
a    22
Name: 3597544_28:A>G, dtype: int64
3597576_7:C>T
h    42
b    25
a    25
Name: 3597576_7:C>T, dtype: int64
3597673_50:G>T
h    48
b    22
a    22
Name: 3597673_50:G>T, dtype: int64
3597710_41:C>G
h    48
b    23
a    21
Name: 3597710_41:C>G, dtype: int64
3597711_45:A>G
h    46
b    23
a    23
Name: 3597711_45:A>G, dtype: int64
3597734_52:G>C
h    48
b    25
a    19
Name: 3597734_52:G>C, dtype: int64
3597793_42:A>C
h    50
b    26
a    16
Name: 3597793_42:A>C, dtype: int64
3598689_14:G>T
h    57
b    21
a    14
Name: 3598689_14:G>T, dtype: int64
3598839_22:C>T
h    45
b    26
a    21
Name: 3598839_22:C>T, dtype: int64
3599359_42:A>C
h    50
b    26
a    16
Name: 3599359_42:A>C, dtype: int64
3599527_18:C>T
h    49
a    22
b    21
Name: 3599527_18:C>T, dtype: int64
3600155_11:A>G
h    49
b    24
a    19
Name: 3600155_11:A>G, dtype: int64
3600155_32:C>G
h    49
b    24
a    19
Name: 3600155_32:C>G, dtype: int64
3600155_33:A>G
h    49
b    24
a    19
Name: 3600155_33:A>G, dtype: int64
3600572_16:G>A
h    43
b    26
a    23
Name: 3600572_16:G>A, dtype: int64
3600702_34:T>C
h    49
b    22
a    21
Name: 3600702_34:T>C, dtype: int64
3601145_16:G>C
h    44
a    25
b    23
Name: 3601145_16:G>C, dtype: int64
3601559_56:C>G
h    50
b    26
a    16
Name: 3601559_56:C>G, dtype: int64
3602090_33:G>A
h    49
a    22
b    21
Name: 3602090_33:G>A, dtype: int64
3602316_17:C>A
h    47
b    27
a    18
Name: 3602316_17:C>A, dtype: int64
3602716_41:C>T
h    51
b    25
a    16
Name: 3602716_41:C>T, dtype: int64
3602982_37:T>G
h    52
b    23
a    17
Name: 3602982_37:T>G, dtype: int64
3603082_46:T>C
h    47
b    24
a    21
Name: 3603082_46:T>C, dtype: int64
3729893_49:T>C
h    54
b    21
a    17
Name: 3729893_49:T>C, dtype: int64
3730141_64:G>C
h    50
b    27
a    15
Name: 3730141_64:G>C, dtype: int64
3732463_8:A>G
h    50
b    26
a    16
Name: 3732463_8:A>G, dtype: int64
3733106_35:G>C
h    53
b    23
a    16
Name: 3733106_35:G>C, dtype: int64
3733341_27:A>G
h    50
b    26
a    16
Name: 3733341_27:A>G, dtype: int64
3733599_45:T>G
h    52
b    23
a    17
Name: 3733599_45:T>G, dtype: int64
3733887_36:G>C
h    51
b    25
a    16
Name: 3733887_36:G>C, dtype: int64
3734802_57:T>G
h    50
b    26
a    16
Name: 3734802_57:T>G, dtype: int64
3735262_66:G>C
h    44
b    25
a    23
Name: 3735262_66:G>C, dtype: int64
3735824_13:A>G
h    41
b    28
a    23
Name: 3735824_13:A>G, dtype: int64
3736452_10:A>C
h    47
b    27
a    18
Name: 3736452_10:A>C, dtype: int64
3737255_45:T>G
h    41
b    28
a    23
Name: 3737255_45:T>G, dtype: int64
3738384_16:G>A
h    57
b    20
a    15
Name: 3738384_16:G>A, dtype: int64
3738525_8:G>A
h    56
b    21
a    15
Name: 3738525_8:G>A, dtype: int64
3740128_9:A>G
h    49
b    24
a    19
Name: 3740128_9:A>G, dtype: int64
3740241_7:C>A
h    49
b    26
a    17
Name: 3740241_7:C>A, dtype: int64
3740581_39:C>A
h    51
b    24
a    17
Name: 3740581_39:C>A, dtype: int64
3740952_61:A>G
h    44
b    25
a    23
Name: 3740952_61:A>G, dtype: int64
3741102_6:A>G
h    46
b    27
a    19
Name: 3741102_6:A>G, dtype: int64
3742257_54:A>G
h    52
b    23
a    17
Name: 3742257_54:A>G, dtype: int64
3742368_23:A>C
h    59
b    19
a    14
Name: 3742368_23:A>C, dtype: int64
3742671_47:C>G
h    50
b    26
a    16
Name: 3742671_47:C>G, dtype: int64
3742672_22:G>C
h    50
b    22
a    20
Name: 3742672_22:G>C, dtype: int64
3742717_53:T>C
h    53
a    20
b    19
Name: 3742717_53:T>C, dtype: int64
3743070_16:A>G
h    54
b    24
a    14
Name: 3743070_16:A>G, dtype: int64
3743105_53:A>G
h    57
b    20
a    15
Name: 3743105_53:A>G, dtype: int64
3743127_13:G>T
h    59
b    20
a    13
Name: 3743127_13:G>T, dtype: int64
3743545_57:C>A
h    44
a    26
b    21
-     1
Name: 3743545_57:C>A, dtype: int64
3743749_32:C>A
h    34
b    30
a    27
-     1
Name: 3743749_32:C>A, dtype: int64
3743916_65:G>A
h    49
b    26
a    17

Name: 3743916_65:G>A, dtype: int64
3743968_55:G>C
h    54
b    21
a    17
Name: 3743968_55:G>C, dtype: int64
3743991_50:C>T
h    41
b    28
a    23
Name: 3743991_50:C>T, dtype: int64
3743991a
c    63
a    23
-     6
Name: 3743991a, dtype: int64
3743991b
d    57
b    28
-     7
Name: 3743991b, dtype: int64
3744233_55:C>A
h    50
b    26
a    16
Name: 3744233_55:C>A, dtype: int64
3744684_31:G>C
h    52
b    23
a    17
Name: 3744684_31:G>C, dtype: int64
3744751_12:C>G
h    58
b    22
a    12
Name: 3744751_12:C>G, dtype: int64
3744801_68:C>G
h    48
b    25
a    19
Name: 3744801_68:C>G, dtype: int64
3744881_42:T>A
h    55
b    21
a    16
Name: 3744881_42:T>A, dtype: int64
3745278_24:T>C
h    46
b    23
a    23
Name: 3745278_24:T>C, dtype: int64
3745575_34:T>C
h    50
b    26
a    16
Name: 3745575_34:T>C, dtype: int64
3746045_22:G>C
h    54
b    23
a    15
Name: 3746045_22:G>C, dtype: int64
3746180_57:C>G
h    45
b    29
a    18
Name: 3746180_57:C>G, dtype: int64
3746237_32:A>G
h    47
b    27
a    18
Name: 3746237_32:A>G, dtype: int64
3746332_6:T>G
h    54
b    22
a    16
Name: 3746332_6:T>G, dtype: int64
3746341_36:C>G
h    48
b    28
a    16
Name: 3746341_36:C>G, dtype: int64
3746420_30:A>T
h    51
b    24
a    17
Name: 3746420_30:A>T, dtype: int64
3746683_20:T>C
h    49
a    22
b    21
Name: 3746683_20:T>C, dtype: int64
3747191_16:C>T
h    35
b    30
a    26
-     1
Name: 3747191_16:C>T, dtype: int64
3747213_33:T>C
h    46
b    29
a    17
Name: 3747213_33:T>C, dtype: int64
3747424_41:G>C
h    51
b    28
a    13
Name: 3747424_41:G>C, dtype: int64
3747761_50:A>G
h    48
b    22
a    22
Name: 3747761_50:A>G, dtype: int64
3747821_45:G>C
h    52
b    23
a    17
Name: 3747821_45:G>C, dtype: int64
3749985_47:C>A
h    50
b    22
a    19
-     1
Name: 3749985_47:C>A, dtype: int64
3750372_17:G>A
h    44
b    30
a    18
Name: 3750372_17:G>A, dtype: int64
3882372_37:G>T
h    48
b    25
a    19
Name: 3882372_37:G>T, dtype: int64
3882822_59:C>G
h    57
b    21
a    14
Name: 3882822_59:C>G, dtype: int64
3884055_67:A>G
h    44
b    26
a    22
Name: 3884055_67:A>G, dtype: int64
3886600_19:T>C
h    50
b    26
a    16
Name: 3886600_19:T>C, dtype: int64
3887419_13:C>T
h    47
a    23
b    22
Name: 3887419_13:C>T, dtype: int64
3887443_5:A>G
h    50
b    26
a    16
Name: 3887443_5:A>G, dtype: int64
3890285_14:C>T
h    46
b    25
a    21
Name: 3890285_14:C>T, dtype: int64
3890475_30:T>G
h    53
a    20
b    19
Name: 3890475_30:T>G, dtype: int64
3892199_62:T>G
h    50
b    26
a    16
Name: 3892199_62:T>G, dtype: int64
3893115_10:G>C
h    45
b    29
a    18
Name: 3893115_10:G>C, dtype: int64
3893115a
c    63
a    18
-    11
Name: 3893115a, dtype: int64
3893115b
d    55
b    28
-     9
Name: 3893115b, dtype: int64
3894099_14:C>T
h    42
a    26
b    24
Name: 3894099_14:C>T, dtype: int64
3894162_57:G>C
h    57
b    22
a    13
Name: 3894162_57:G>C, dtype: int64
3894636_67:C>T
h    54
b    22
a    16
Name: 3894636_67:C>T, dtype: int64
3894829_12:C>T
h    50
b    26
a    16
Name: 3894829_12:C>T, dtype: int64
3895184_22:T>C
h    44
b    26
a    22
Name: 3895184_22:T>C, dtype: int64
3895265_11:C>G
h    56
b    21
a    15
Name: 3895265_11:C>G, dtype: int64
3895307_33:A>C
h    49
b    27
a    16
Name: 3895307_33:A>C, dtype: int64
3895457_34:G>T
h    50
b    26
a    16
Name: 3895457_34:G>T, dtype: int64
3895715_5:A>T
h    49
b    25
a    18
Name: 3895715_5:A>T, dtype: int64
3895859_43:G>C
h    53
b    22
a    17
Name: 3895859_43:G>C, dtype: int64
3896233_14:A>C
h    56
b    21
a    15
Name: 3896233_14:A>C, dtype: int64
3898614_65:T>C
h    54
a    20
b    18
Name: 3898614_65:T>C, dtype: int64
3898749_9:T>C
h    57
b    21
a    14
Name: 3898749_9:T>C, dtype: int64
3899003_45:C>T
h    44
a    27
b    21
Name: 3899003_45:C>T, dtype: int64
3899091_9:G>C
h    45
b    29
a    18
Name: 3899091_9:G>C, dtype: int64
3901355_21:A>G
h    51
b    24
a    17
Name: 3901355_21:A>G, dtype: int64
3901731_11:G>C
h    46
b    28
a    18
Name: 3901731_11:G>C, dtype: int64
3901940_13:A>T
h    54
b    21
a    17
Name: 3901940_13:A>T, dtype: int64
3902404_66:G>C
h    41
b    29
a    22
Name: 3902404_66:G>C, dtype: int64
3903002_20:C>T
h    49
a    22
b    21
Name: 3903002_20:C>T, dtype: int64
3904962_9:C>T
h    55
b    21
a    16
Name: 3904962_9:C>T, dtype: int64
3905015_15:A>G
h    56
b    21
a    15
Name: 3905015_15:A>G, dtype: int64
3905469_19:A>G
h    59
b    19
a    14
Name: 3905469_19:A>G, dtype: int64
3906058_37:C>G
h    47
a    23
b    21
-     1
Name: 3906058_37:C>G, dtype: int64
3906824_46:T>C
h    55
b    22
a    15
Name: 3906824_46:T>C, dtype: int64
3907137_14:C>G
h    55
b    21
a    15
-     1
Name: 3907137_14:C>G, dtype: int64
3907648_19:A>G
h    49
a    22
b    21
Name: 3907648_19:A>G, dtype: int64
3907721_9:A>G
h    43
b    30
a    19
Name: 3907721_9:A>G, dtype: int64
3908102_21:T>C
h    46
b    23
a    23
Name: 3908102_21:T>C, dtype: int64
3908496_11:G>C
h    60
b    18
a    14
Name: 3908496_11:G>C, dtype: int64
3908609_61:G>C
h    47
b    23
a    22
Name: 3908609_61:G>C, dtype: int64
3908925_48:C>G
h    57
b    22
a    13
Name: 3908925_48:C>G, dtype: int64
3908932_23:C>A
h    49
b    26
a    17
Name: 3908932_23:C>A, dtype: int64
3908965_21:C>T
h    44
b    29
a    19
Name: 3908965_21:C>T, dtype: int64
3909003_10:C>T
h    57
b    21
a    13
-     1
Name: 3909003_10:C>T, dtype: int64
3909644_65:G>A
h    50
b    25
a    17
Name: 3909644_65:G>A, dtype: int64
3910153_45:A>G
h    44
b    25
a    22
-     1
Name: 3910153_45:A>G, dtype: int64
4091962_13:G>C
h    47
a    23
b    22
Name: 4091962_13:G>C, dtype: int64
4092218_50:G>T
h    56
b    22
a    14
Name: 4092218_50:G>T, dtype: int64
4092275_20:G>T
h    46
a    24
b    21
-     1
Name: 4092275_20:G>T, dtype: int64
4099473_31:C>T
h    49
b    24
a    19
Name: 4099473_31:C>T, dtype: int64
4101971_6:C>G
h    53
b    22
a    17
Name: 4101971_6:C>G, dtype: int64
4485373_7:T>G
h    59
b    19
a    14
Name: 4485373_7:T>G, dtype: int64
4486633_49:G>C
h    52
b    23
a    17
Name: 4486633_49:G>C, dtype: int64
4488033_11:C>G
h    50
b    22
a    20
Name: 4488033_11:C>G, dtype: int64
4489786_22:G>A
h    43
b    26
a    22
-     1
Name: 4489786_22:G>A, dtype: int64
4490068_26:G>C
h    39
b    28
a    25
Name: 4490068_26:G>C, dtype: int64
4490152_52:C>G
h    42
b    27
a    23
Name: 4490152_52:C>G, dtype: int64
4490169_18:G>C
h    42
b    28
a    21
-     1
Name: 4490169_18:G>C, dtype: int64
4490430_23:G>C
h    44
b    31
a    17
Name: 4490430_23:G>C, dtype: int64
4491377_29:T>C
h    50
b    22
a    20
Name: 4491377_29:T>C, dtype: int64
4491971_33:C>T
h    50
b    24
a    15
-     3
Name: 4491971_33:C>T, dtype: int64
4492085_8:A>C
h    44
b    30
a    18
Name: 4492085_8:A>C, dtype: int64
4496975_20:C>G
h    59
b    19
a    14
Name: 4496975_20:C>G, dtype: int64
5034777_25:G>C
h    48
b    22
a    22
Name: 5034777_25:G>C, dtype: int64
5036035_59:G>T
h    52
b    23
a    17
Name: 5036035_59:G>T, dtype: int64
5036052_5:T>C
h    56
b    20
a    16
Name: 5036052_5:T>C, dtype: int64
5037038_55:C>G
h    51
b    21
a    20
Name: 5037038_55:C>G, dtype: int64
5037610_43:C>T
h    51
b    24
a    17
Name: 5037610_43:C>T, dtype: int64
5041226_20:G>A
h    50
b    26
a    16
Name: 5041226_20:G>A, dtype: int64
5045357_37:A>G
h    49
a    22
b    21
Name: 5045357_37:A>G, dtype: int64
5045670_19:A>T
h    39
a    27
b    26
Name: 5045670_19:A>T, dtype: int64
5046845_15:C>T
h    53
a    21
b    18
Name: 5046845_15:C>T, dtype: int64
5047254_37:T>G
h    47
b    27
a    18
Name: 5047254_37:T>G, dtype: int64
5137824_22:T>C
h    50
b    26
a    16
Name: 5137824_22:T>C, dtype: int64
5139003_18:A>G
h    48
b    25
a    19
Name: 5139003_18:A>G, dtype: int64
5139336_22:A>G
h    56
b    21
a    15
Name: 5139336_22:A>G, dtype: int64
5200654_47:C>T
h    48
b    23
a    21
Name: 5200654_47:C>T, dtype: int64
5201189_46:C>G
h    51
b    23
a    18
Name: 5201189_46:C>G, dtype: int64
5201386_26:G>A
h    51
b    24
a    17
Name: 5201386_26:G>A, dtype: int64
5201386_35:C>T
h    52
b    23
a    17
Name: 5201386_35:C>T, dtype: int64
5201386_44:T>G
h    51
b    24
a    17
Name: 5201386_44:T>G, dtype: int64
5201414_5:G>A
h    54
b    22
a    16
Name: 5201414_5:G>A, dtype: int64
5202082_32:A>C
h    50
b    17
a    17
-     8
Name: 5202082_32:A>C, dtype: int64
5202178_29:T>C
h    49
b    24
a    19
Name: 5202178_29:T>C, dtype: int64
5202572_19:T>C
h    60
b    19
a    13
Name: 5202572_19:T>C, dtype: int64
5202871_7:T>G
h    57
b    22
a    13
Name: 5202871_7:T>G, dtype: int64
5203249_32:C>G
h    50
b    26
a    16
Name: 5203249_32:C>G, dtype: int64
5204097_43:C>T
h    50
b    26
a    16
Name: 5204097_43:C>T, dtype: int64
5204535_16:C>T
h    46
b    25
a    21
Name: 5204535_16:C>T, dtype: int64
5204885_16:T>C
h    56
b    21
a    15
Name: 5204885_16:T>C, dtype: int64
5204948_9:C>T
h    50
b    21
a    21
Name: 5204948_9:C>T, dtype: int64
5205313_29:C>G
h    50
b    21
a    21
Name: 5205313_29:C>G, dtype: int64
5205398_57:T>A
h    57
b    20
a    15

Name: 5205398_57:T>A, dtype: int64
5205523_28:T>G
a    69
-    23
Name: 5205523_28:T>G, dtype: int64
5205875_38:T>C
h    53
b    22
a    17
Name: 5205875_38:T>C, dtype: int64
5205944_49:A>G
h    51
b    23
a    18
Name: 5205944_49:A>G, dtype: int64
5206632_44:C>G
h    50
b    26
a    16
Name: 5206632_44:C>G, dtype: int64
5206779_10:A>C
h    43
a    25
b    24
Name: 5206779_10:A>C, dtype: int64
5206791_53:C>T
h    48
b    25
a    19
Name: 5206791_53:C>T, dtype: int64
5207181_50:T>A
h    45
a    26
b    21
Name: 5207181_50:T>A, dtype: int64
5207542_8:A>G
h    53
b    17
a    16
-     6
Name: 5207542_8:A>G, dtype: int64
5207699_6:C>T
h    49
b    27
a    16
Name: 5207699_6:C>T, dtype: int64
5207791_53:A>G
h    59
b    19
a    14
Name: 5207791_53:A>G, dtype: int64
5208415_47:C>T
h    54
b    22
a    16
Name: 5208415_47:C>T, dtype: int64
5208680_16:G>A
h    45
a    24
b    23
Name: 5208680_16:G>A, dtype: int64
5208820_43:G>A
h    47
b    23
a    22
Name: 5208820_43:G>A, dtype: int64
5209266_5:C>T
h    49
b    22
a    20
-     1
Name: 5209266_5:C>T, dtype: int64
5210649_29:T>C
h    55
a    19
b    18
Name: 5210649_29:T>C, dtype: int64
5211176_16:C>G
h    41
b    28
a    23
Name: 5211176_16:C>G, dtype: int64
5211392_11:C>T
h    45
b    28
a    19
Name: 5211392_11:C>T, dtype: int64
5211717_34:T>G
h    40
b    28
a    24
Name: 5211717_34:T>G, dtype: int64
5211750_43:T>C
h    54
b    22
a    16
Name: 5211750_43:T>C, dtype: int64
5211783_27:A>G
h    51
b    23
a    17
-     1
Name: 5211783_27:A>G, dtype: int64
5211870_40:T>C
h    44
b    29
a    19
Name: 5211870_40:T>C, dtype: int64
5212146_22:C>T
h    51
b    24
a    17
Name: 5212146_22:C>T, dtype: int64
5213220_51:G>C
h    51
b    24
a    17
Name: 5213220_51:G>C, dtype: int64
5213519_13:G>C
h    49
a    22
b    21
Name: 5213519_13:G>C, dtype: int64
5213749_13:C>G
h    50
b    24
a    18
Name: 5213749_13:C>G, dtype: int64
5214194_68:C>G
h    47
a    23
b    22
Name: 5214194_68:C>G, dtype: int64
5214445_7:C>T
h    45
b    28
a    19
Name: 5214445_7:C>T, dtype: int64
5214521_29:A>G
h    59
b    20
a    13
Name: 5214521_29:A>G, dtype: int64
5215041_30:A>C
h    32
a    30
b    29
-     1
Name: 5215041_30:A>C, dtype: int64
5215122_32:T>G
h    43
b    27
a    22
Name: 5215122_32:T>G, dtype: int64
5215831_59:C>T
h    36
a    34
b    20
-     2
Name: 5215831_59:C>T, dtype: int64
5216546_30:C>T
h    46
a    25
b    21
Name: 5216546_30:C>T, dtype: int64
5217467_35:C>G
h    49
b    28
a    15
Name: 5217467_35:C>G, dtype: int64
5217512_51:T>C
h    50
b    25
a    17
Name: 5217512_51:T>C, dtype: int64
5218727_18:T>C
h    59
b    20
a    13
Name: 5218727_18:T>C, dtype: int64
5219532_7:A>G
h    48
b    26
a    17
-     1
Name: 5219532_7:A>G, dtype: int64
5220199_31:G>A
h    58
b    20
a    14
Name: 5220199_31:G>A, dtype: int64
5220345_30:T>C
h    55
a    19
b    18
Name: 5220345_30:T>C, dtype: int64
5220487_24:T>G
h    50
b    26
a    16
Name: 5220487_24:T>G, dtype: int64
5221053_6:T>C
h    51
b    21
a    20
Name: 5221053_6:T>C, dtype: int64
5221737_20:G>C
h    52
b    23
a    17
Name: 5221737_20:G>C, dtype: int64
5222015_10:T>C
h    48
b    22
a    22
Name: 5222015_10:T>C, dtype: int64
5222232_40:G>A
h    51
b    25
a    16
Name: 5222232_40:G>A, dtype: int64
5222447_40:C>G
h    45
b    24
a    23
Name: 5222447_40:C>G, dtype: int64
5222461_19:A>G
h    52
b    23
a    17
Name: 5222461_19:A>G, dtype: int64
5222928_40:G>C
h    50
a    21
b    20
-     1
Name: 5222928_40:G>C, dtype: int64
5222966_58:A>G
h    50
b    26
a    16
Name: 5222966_58:A>G, dtype: int64
5223728_12:G>A
h    46
b    24
a    22
Name: 5223728_12:G>A, dtype: int64
5225819_20:C>T
h    46
a    25
b    21
Name: 5225819_20:C>T, dtype: int64
5226281_62:T>C
h    57
a    18
b    17
Name: 5226281_62:T>C, dtype: int64
5227361_48:G>C
h    48
b    25
a    19
Name: 5227361_48:G>C, dtype: int64
5227457_46:G>T
h    53
b    22
a    17
Name: 5227457_46:G>T, dtype: int64
5486459_15:T>C
h    59
b    20
a    13
Name: 5486459_15:T>C, dtype: int64
5487112_29:G>C
h    49
b    25
a    18
Name: 5487112_29:G>C, dtype: int64
5497188_64:T>C
h    45
a    27
b    20
Name: 5497188_64:T>C, dtype: int64
5497378_14:C>G
h    51
b    24
a    17
Name: 5497378_14:C>G, dtype: int64
5497429_20:A>G
h    50
b    26
a    16
Name: 5497429_20:A>G, dtype: int64
5497470_28:A>T
h    42
a    27
b    21
-     2
Name: 5497470_28:A>T, dtype: int64
5497472_22:A>C
h    50
b    25
a    17
Name: 5497472_22:A>C, dtype: int64
5497799_12:G>A
a    33
h    32
b    26
-     1
Name: 5497799_12:G>A, dtype: int64
5497880_8:G>A
h    51
a    22
b    19
Name: 5497880_8:G>A, dtype: int64
5497916_28:C>G
h    57
b    22
a    13
Name: 5497916_28:C>G, dtype: int64
5498055_24:G>C
h    47
b    28
a    17
Name: 5498055_24:G>C, dtype: int64
5498167_64:G>C
h    47
b    23
a    22
Name: 5498167_64:G>C, dtype: int64
5498216_51:G>A
h    46
b    29
a    14
-     3
Name: 5498216_51:G>A, dtype: int64
5498525_32:T>C
h    53
b    23
a    16
Name: 5498525_32:T>C, dtype: int64
5499368_21:G>C
h    44
a    26
b    22
Name: 5499368_21:G>C, dtype: int64
5499882_11:T>C
h    51
b    25
a    16
Name: 5499882_11:T>C, dtype: int64
5500120_14:G>A
h    50
b    22
a    20
Name: 5500120_14:G>A, dtype: int64
5500359_9:A>T
h    48
b    22
a    22
Name: 5500359_9:A>T, dtype: int64
5500849_20:C>G
h    48
b    22
a    22
Name: 5500849_20:C>G, dtype: int64
5501264_17:A>C
h    48
b    27
a    17
Name: 5501264_17:A>C, dtype: int64
5501386_9:A>G
h    35
b    35
a    21
-     1
Name: 5501386_9:A>G, dtype: int64
5501616_52:T>C
h    49
a    22
b    21
Name: 5501616_52:T>C, dtype: int64
5502404_18:G>A
h    47
b    27
a    18
Name: 5502404_18:G>A, dtype: int64
5502762_11:C>A
h    52
b    23
a    17
Name: 5502762_11:C>A, dtype: int64
5503122_48:G>C
h    55
a    19
b    18
Name: 5503122_48:G>C, dtype: int64
5503307_65:C>T
h    54
b    19
a    19
Name: 5503307_65:C>T, dtype: int64
5504065_20:G>C
h    49
b    25
a    18
Name: 5504065_20:G>C, dtype: int64
5504480_14:A>T
h    49
a    22
b    21
Name: 5504480_14:A>T, dtype: int64
5504715_46:T>C
h    59
b    20
a    13
Name: 5504715_46:T>C, dtype: int64
5504868_13:A>G
h    43
a    25
b    23
-     1
Name: 5504868_13:A>G, dtype: int64
5504878_5:C>T
h    51
b    25
a    16
Name: 5504878_5:C>T, dtype: int64
5504939_68:G>A
h    49
b    24
a    19
Name: 5504939_68:G>A, dtype: int64
5789356_44:G>C
h    59
b    20
a    13
Name: 5789356_44:G>C, dtype: int64
5801071_18:T>C
h    49
b    26
a    17
Name: 5801071_18:T>C, dtype: int64
5801859_26:G>C
h    45
a    24
b    23
Name: 5801859_26:G>C, dtype: int64
5801925_18:G>T
h    47
b    23
a    22
Name: 5801925_18:G>T, dtype: int64
5804219_19:G>A
h    55
b    22
a    15
Name: 5804219_19:G>A, dtype: int64
6209835_23:C>T
h    50
a    22
b    20
Name: 6209835_23:C>T, dtype: int64
6210711_12:A>G
h    49
b    22
a    21
Name: 6210711_12:A>G, dtype: int64
6211061_7:C>T
h    50
b    26
a    16
Name: 6211061_7:C>T, dtype: int64
7074087_25:C>G
h    50
b    26
a    16
Name: 7074087_25:C>G, dtype: int64
7086444_8:C>T
h    51
b    24
a    17
Name: 7086444_8:C>T, dtype: int64
7093250_17:C>G
h    41
b    28
a    23
Name: 7093250_17:C>G, dtype: int64
7097368_44:C>T
h    58
b    21
a    13
Name: 7097368_44:C>T, dtype: int64
7101972_39:A>G
h    45
b    25
a    22
Name: 7101972_39:A>G, dtype: int64
7103590_60:G>T
h    47
b    27
a    18
Name: 7103590_60:G>T, dtype: int64
7104188_30:A>G
h    46
b    28
a    18
Name: 7104188_30:A>G, dtype: int64
7106544_5:T>C
h    45
a    23
b    19
-     5
Name: 7106544_5:T>C, dtype: int64
7357390_11:G>T
h    59
b    19
a    14
Name: 7357390_11:G>T, dtype: int64
7414331_25:G>A
h    58
b    20
a    14
Name: 7414331_25:G>A, dtype: int64
7414587_10:C>T
h    59
b    20
a    13
Name: 7414587_10:C>T, dtype: int64
7415063_8:G>A
h    50
b    26
a    16
Name: 7415063_8:G>A, dtype: int64
7415177_7:G>A
h    46
b    28
a    17
-     1
Name: 7415177_7:G>A, dtype: int64
7415468_56:G>C
h    49
b    24
a    19
Name: 7415468_56:G>C, dtype: int64
7415485_32:C>G
h    44
b    29
a    19
Name: 7415485_32:C>G, dtype: int64
7467169_44:T>G
h    47
b    23
a    22
Name: 7467169_44:T>G, dtype: int64
7467694_5:G>A
h    41
a    29
b    22
Name: 7467694_5:G>A, dtype: int64
3341855
d    65
b    23
-     4
Name: 3341855, dtype: int64
3341861
d    66
b    21
-     5
Name: 3341861, dtype: int64
3341907
d    69
b    21
-     2
Name: 3341907, dtype: int64
3341929
d    67
b    24
-     1
Name: 3341929, dtype: int64
3341974
d    68
b    21
-     3
Name: 3341974, dtype: int64
3342297
d    71
b    19
-     2
Name: 3342297, dtype: int64
3342736
d    67
b    23
-     2
Name: 3342736, dtype: int64
3342826
d    65
b    21
-     6
Name: 3342826, dtype: int64
3342849
d    60
b    25
-     7
Name: 3342849, dtype: int64
3342962
d    57
b    26
-     9
Name: 3342962, dtype: int64
3343095
d    64
b    26
-     2
Name: 3343095, dtype: int64
3343118
d    60
b    26
-     6
Name: 3343118, dtype: int64
3343120
d    62
b    26
-     4
Name: 3343120, dtype: int64
3343203
d    65
b    24
-     3
Name: 3343203, dtype: int64
3343297
d    61
b    26
-     5
Name: 3343297, dtype: int64
3344124
d    68
b    18
-     6
Name: 3344124, dtype: int64
3344559
d    54
b    28
-    10
Name: 3344559, dtype: int64
3344850
d    64
b    21
-     7
Name: 3344850, dtype: int64
3344882
d    64
b    19
-     9
Name: 3344882, dtype: int64
3344987
d    71
b    19
-     2
Name: 3344987, dtype: int64
3345075
d    65
b    25
-     2
Name: 3345075, dtype: int64
3345176

d    59
b    28
-     5
Name: 3345176, dtype: int64
3345258
d    61
b    22
-     9
Name: 3345258, dtype: int64
3345444
d    63
b    23
-     6
Name: 3345444, dtype: int64
3345840
d    58
b    26
-     8
Name: 3345840, dtype: int64
3345980
d    59
b    23
-    10
Name: 3345980, dtype: int64
3346033
d    64
b    23
-     5
Name: 3346033, dtype: int64
3346814
d    61
b    26
-     5
Name: 3346814, dtype: int64
3346816
d    62
b    22
-     8
Name: 3346816, dtype: int64
3346868
d    56
b    24
-    12
Name: 3346868, dtype: int64
3347263
d    64
b    23
-     5
Name: 3347263, dtype: int64
3347266
d    61
b    22
-     9
Name: 3347266, dtype: int64
3347558
d    61
b    22
-     9
Name: 3347558, dtype: int64
3347688
d    48
b    31
-    13
Name: 3347688, dtype: int64
3347829
d    64
b    23
-     5
Name: 3347829, dtype: int64
3347934
d    56
b    24
-    12
Name: 3347934, dtype: int64
3348129
d    56
b    23
-    13
Name: 3348129, dtype: int64
3348156
d    60
b    23
-     9
Name: 3348156, dtype: int64
3348579
d    61
b    23
-     8
Name: 3348579, dtype: int64
3348761
d    65
b    23
-     4
Name: 3348761, dtype: int64
3348953
d    61
b    21
-    10
Name: 3348953, dtype: int64
3349062
d    61
b    21
-    10
Name: 3349062, dtype: int64
3349520
d    60
b    21
-    11
Name: 3349520, dtype: int64
3349654
d    57
b    23
-    12
Name: 3349654, dtype: int64
3349697
d    67
b    21
-     4
Name: 3349697, dtype: int64
3349729
d    62
b    20
-    10
Name: 3349729, dtype: int64
3350146
d    64
b    23
-     5
Name: 3350146, dtype: int64
3350637
d    61
b    22
-     9
Name: 3350637, dtype: int64
3350817
d    61
b    22
-     9
Name: 3350817, dtype: int64
3351081
d    62
b    22
-     8
Name: 3351081, dtype: int64
3351266
d    66
b    23
-     3
Name: 3351266, dtype: int64
3351625
d    65
b    21
-     6
Name: 3351625, dtype: int64
3351872
d    67
b    19
-     6
Name: 3351872, dtype: int64
3351929
d    58
b    28
-     6
Name: 3351929, dtype: int64
3352441
d    70
b    19
-     3
Name: 3352441, dtype: int64
3352501
d    59
b    26
-     7
Name: 3352501, dtype: int64
3352559
d    58
b    25
-     9
Name: 3352559, dtype: int64
3353141
d    59
b    24
-     9
Name: 3353141, dtype: int64
3353533
d    61
b    28
-     3
Name: 3353533, dtype: int64
3354023
d    62
b    18
-    12
Name: 3354023, dtype: int64
3354346
d    65
b    23
-     4
Name: 3354346, dtype: int64
3354770
d    54
b    23
-    15
Name: 3354770, dtype: int64
3354855
d    59
b    24
-     9
Name: 3354855, dtype: int64
3355431
d    59
b    26
-     7
Name: 3355431, dtype: int64
3355648
d    57
b    26
-     9
Name: 3355648, dtype: int64
3355794
d    62
b    26
-     4
Name: 3355794, dtype: int64
3356222
d    58
b    20
-    14
Name: 3356222, dtype: int64
3356570
d    59
b    21
-    12
Name: 3356570, dtype: int64
3356622
d    63
b    25
-     4
Name: 3356622, dtype: int64
3356636
d    60
b    26
-     6
Name: 3356636, dtype: int64
3356680
d    48
b    30
-    14
Name: 3356680, dtype: int64
3356979
d    63
b    20
-     9
Name: 3356979, dtype: int64
3357013
d    62
b    22
-     8
Name: 3357013, dtype: int64
3357033
d    64
b    23
-     5
Name: 3357033, dtype: int64
3357288
d    63
b    26
-     3
Name: 3357288, dtype: int64
3357466
d    67
b    23
-     2
Name: 3357466, dtype: int64
3357596
d    58
b    26
-     8
Name: 3357596, dtype: int64
3357671
d    64
b    18
-    10
Name: 3357671, dtype: int64
3357704
d    68
b    21
-     3
Name: 3357704, dtype: int64
3357708
d    61
b    24
-     7
Name: 3357708, dtype: int64
3357737
d    68
b    22
-     2
Name: 3357737, dtype: int64
3357911
d    66
b    26
Name: 3357911, dtype: int64
3357998
d    67
b    19
-     6
Name: 3357998, dtype: int64
3358080
d    63
b    23
-     6
Name: 3358080, dtype: int64
3358330
d    64
b    23
-     5
Name: 3358330, dtype: int64
3358513
d    63
b    23
-     6
Name: 3358513, dtype: int64
3358633
d    61
b    26
-     5
Name: 3358633, dtype: int64
3358638
d    58
b    26
-     8
Name: 3358638, dtype: int64
3358740
d    64
b    26
-     2
Name: 3358740, dtype: int64
3358863
d    68
b    21
-     3
Name: 3358863, dtype: int64
3359110
d    61
b    26
-     5
Name: 3359110, dtype: int64
3359209
d    63
b    26
-     3
Name: 3359209, dtype: int64
3359250
d    55
b    29
-     8
Name: 3359250, dtype: int64
3359460
d    63
b    23
-     6
Name: 3359460, dtype: int64
3359643
d    62
b    25
-     5
Name: 3359643, dtype: int64
3359765
d    61
b    24
-     7
Name: 3359765, dtype: int64
3359768
d    63
b    20
-     9
Name: 3359768, dtype: int64
3359775
d    62
b    23
-     7
Name: 3359775, dtype: int64
3360418
d    53
b    28
-    11
Name: 3360418, dtype: int64
3360627
d    58
b    24
-    10
Name: 3360627, dtype: int64
3361494
d    63
b    23
-     6
Name: 3361494, dtype: int64
3361754
d    63
b    21
-     8
Name: 3361754, dtype: int64
3361876
d    61
b    23
-     8
Name: 3361876, dtype: int64
3362306
d    70
-    12
b    10
Name: 3362306, dtype: int64
3575993
d    60
b    22
-    10
Name: 3575993, dtype: int64
3576111
d    66
b    21
-     5
Name: 3576111, dtype: int64
3576233
d    61
b    28
-     3
Name: 3576233, dtype: int64
3576331
d    65
b    23
-     4
Name: 3576331, dtype: int64
3576483
d    69
b    19
-     4
Name: 3576483, dtype: int64
3576498
d    64
b    22
-     6
Name: 3576498, dtype: int64
3576519
d    56
b    22
-    14
Name: 3576519, dtype: int64
3576646
d    61
b    24
-     7
Name: 3576646, dtype: int64
3576663
d    69
b    20
-     3
Name: 3576663, dtype: int64
3576816
d    56
b    28
-     8
Name: 3576816, dtype: int64
3576912
d    59
b    24
-     9
Name: 3576912, dtype: int64
3576960
d    59
b    26
-     7
Name: 3576960, dtype: int64
3576980
d    60
b    24
-     8
Name: 3576980, dtype: int64
3577263
d    63
b    25
-     4
Name: 3577263, dtype: int64
3577350
d    63
b    20
-     9
Name: 3577350, dtype: int64
3577609
d    63
b    24
-     5
Name: 3577609, dtype: int64
3578543
d    61
b    26
-     5
Name: 3578543, dtype: int64
3578737
d    67
b    18
-     7
Name: 3578737, dtype: int64
3578956
d    66
b    24
-     2
Name: 3578956, dtype: int64
3579370
d    57
b    24
-    11
Name: 3579370, dtype: int64
3579883
d    61
b    25
-     6
Name: 3579883, dtype: int64
3579997
d    64
b    26
-     2
Name: 3579997, dtype: int64
3580280
d    61
b    27
-     4
Name: 3580280, dtype: int64
3580321
d    58
b    23
-    11
Name: 3580321, dtype: int64
3580440
d    62
b    23
-     7
Name: 3580440, dtype: int64
3580475
d    60
b    25
-     7
Name: 3580475, dtype: int64
3580567
d    63
b    25
-     4
Name: 3580567, dtype: int64
3580758
d    67
b    19
-     6
Name: 3580758, dtype: int64
3580876
d    63
b    21
-     8
Name: 3580876, dtype: int64
3581057
d    60
b    26
-     6
Name: 3581057, dtype: int64
3581153
d    59
b    27
-     6
Name: 3581153, dtype: int64
3581335
d    62
b    26
-     4
Name: 3581335, dtype: int64
3581448
d    63
b    21
-     8
Name: 3581448, dtype: int64
3581577
d    59
b    24
-     9
Name: 3581577, dtype: int64
3581584
d    59
b    28
-     5
Name: 3581584, dtype: int64
3581666
d    61
b    26
-     5
Name: 3581666, dtype: int64
3581668
d    62
b    24
-     6
Name: 3581668, dtype: int64
3581682
d    55
b    26
-    11
Name: 3581682, dtype: int64
3581687
d    62
b    26
-     4
Name: 3581687, dtype: int64
3582374
d    66
b    23
-     3
Name: 3582374, dtype: int64
3582388
d    63
b    22
-     7
Name: 3582388, dtype: int64
3582406
d    63
b    23
-     6
Name: 3582406, dtype: int64
3582683
d    66
b    21
-     5
Name: 3582683, dtype: int64
3582777
d    63
b    24
-     5
Name: 3582777, dtype: int64
3582781
d    61
b    26
-     5
Name: 3582781, dtype: int64
3583134
d    64
b    20
-     8
Name: 3583134, dtype: int64
3583198
d    61
b    25
-     6
Name: 3583198, dtype: int64
3583494
d    66
b    21
-     5
Name: 3583494, dtype: int64
3583594
d    58
b    28
-     6
Name: 3583594, dtype: int64
3584051
d    56
b    23
-    13
Name: 3584051, dtype: int64
3584109
d    66
b    21
-     5
Name: 3584109, dtype: int64
3584220
d    69
b    18
-     5
Name: 3584220, dtype: int64
3584281
d    55
b    23
-    14
Name: 3584281, dtype: int64
3584366
d    59
b    27
-     6
Name: 3584366, dtype: int64
3584372
d    63
b    23
-     6
Name: 3584372, dtype: int64
3584878
d    59
b    23
-    10
Name: 3584878, dtype: int64
3584963
d    67
b    23
-     2
Name: 3584963, dtype: int64
3585113
d    59
b    28
-     5
Name: 3585113, dtype: int64
3585170
d    67
b    23
-     2
Name: 3585170, dtype: int64
3585181
d    69
b    21
-     2
Name: 3585181, dtype: int64
3585269
d    64
b    23
-     5
Name: 3585269, dtype: int64
3585366
d    63
b    26
-     3
Name: 3585366, dtype: int64
3585447
d    70
b    19
-     3
Name: 3585447, dtype: int64
3585470
d    59
b    22
-    11
Name: 3585470, dtype: int64
3585640
d    60
b    23
-     9
Name: 3585640, dtype: int64
3585911
d    62
b    21
-     9
Name: 3585911, dtype: int64
3585984
d    58
b    24
-    10
Name: 3585984, dtype: int64
3586120
d    68
b    19
-     5
Name: 3586120, dtype: int64
3586290
d    59
b    25
-     8
Name: 3586290, dtype: int64
3586491
d    64
b    22
-     6
Name: 3586491, dtype: int64
3586613
d    61
b    26
-     5
Name: 3586613, dtype: int64
3586700
d    60
b    26
-     6
Name: 3586700, dtype: int64
3586723
d    61
b    28
-     3
Name: 3586723, dtype: int64
3586802
d    61
b    21
-    10
Name: 3586802, dtype: int64
3587073
d    65
b    19
-     8
Name: 3587073, dtype: int64
3587190
d    54
b    28
-    10
Name: 3587190, dtype: int64
3587367
d    59
b    25
-     8
Name: 3587367, dtype: int64
3587599
d    65
b    25
-     2
Name: 3587599, dtype: int64
3587714
d    61
b    26
-     5
Name: 3587714, dtype: int64
3587840
d    62
b    21
-     9
Name: 3587840, dtype: int64
3588105
d    61
b    26
-     5
Name: 3588105, dtype: int64
3588444
d    66
b    22
-     4
Name: 3588444, dtype: int64
3588855
d    59
b    26
-     7
Name: 3588855, dtype: int64
3589045
d    60
b    24
-     8
Name: 3589045, dtype: int64
3589173
d    58
b    26
-     8
Name: 3589173, dtype: int64
3589617
d    65
b    22
-     5
Name: 3589617, dtype: int64
3589817
d    63
b    19
-    10
Name: 3589817, dtype: int64
3589837
d    65
b    21
-     6
Name: 3589837, dtype: int64
3589872
d    65
b    19
-     8
Name: 3589872, dtype: int64
3589880
d    65
b    19
-     8
Name: 3589880, dtype: int64
3590029
d    60
b    24
-     8
Name: 3590029, dtype: int64
3590540
d    64
b    21
-     7
Name: 3590540, dtype: int64
3590707
d    62
b    21
-     9
Name: 3590707, dtype: int64
3590792
d    58
b    27
-     7
Name: 3590792, dtype: int64
3590818
d    64
b    21
-     7
Name: 3590818, dtype: int64
3590934
d    69
b    21
-     2
Name: 3590934, dtype: int64
3591012
d    59
b    25
-     8
Name: 3591012, dtype: int64
3591034
d    61
b    21
-    10
Name: 3591034, dtype: int64
3591264
d    61
b    24
-     7
Name: 3591264, dtype: int64
3591385
d    59
b    25
-     8
Name: 3591385, dtype: int64
3591541
d    62
b    23
-     7
Name: 3591541, dtype: int64
3591851
d    62
b    26
-     4
Name: 3591851, dtype: int64
3591913
d    71
b    17
-     4
Name: 3591913, dtype: int64
3591953
d    62
b    18
-    12
Name: 3591953, dtype: int64
3592129
d    63
b    21
-     8
Name: 3592129, dtype: int64
3592138
d    64
b    26
-     2
Name: 3592138, dtype: int64
3592153
d    64
b    23
-     5
Name: 3592153, dtype: int64
3592321
d    66
b    20
-     6
Name: 3592321, dtype: int64
3592547
d    65
b    22
-     5
Name: 3592547, dtype: int64
3592574
d    61
b    22
-     9
Name: 3592574, dtype: int64
3592908
d    60
b    22
-    10
Name: 3592908, dtype: int64
3593155
d    62
b    21
-     9
Name: 3593155, dtype: int64
3593245
d    58
b    23
-    11
Name: 3593245, dtype: int64
3593369
d    60
b    25
-     7
Name: 3593369, dtype: int64
3593509
d    64
b    21
-     7
Name: 3593509, dtype: int64
3593531
d    55
b    21
-    16
Name: 3593531, dtype: int64
3593540
d    61
b    25
-     6
Name: 3593540, dtype: int64
3593546
d    62
b    22
-     8
Name: 3593546, dtype: int64
3593564
d    66
b    23
-     3
Name: 3593564, dtype: int64
3593598
d    67
b    20
-     5
Name: 3593598, dtype: int64
3593691
d    60
b    26
-     6
Name: 3593691, dtype: int64
3593803
d    65
b    25
-     2
Name: 3593803, dtype: int64
3593928
d    59
b    26
-     7
Name: 3593928, dtype: int64
3593963
d    64
b    20
-     8
Name: 3593963, dtype: int64
3594015
d    74
b    18
Name: 3594015, dtype: int64
3594040
d    62
b    25
-     5
Name: 3594040, dtype: int64
3594224
d    68
b    16
-     8
Name: 3594224, dtype: int64
3594254
d    57
b    23
-    12
Name: 3594254, dtype: int64
3594441
d    65
b    21
-     6
Name: 3594441, dtype: int64
3594747
d    68
b    14
-    10
Name: 3594747, dtype: int64
3594782
d    60
b    20
-    12
Name: 3594782, dtype: int64
3594799
d    67
b    21
-     4
Name: 3594799, dtype: int64
3594809
d    63
b    24
-     5
Name: 3594809, dtype: int64
3594819
d    65
b    19
-     8
Name: 3594819, dtype: int64
3594900
d    64
b    25
-     3
Name: 3594900, dtype: int64
3595090
d    59
b    22
-    11
Name: 3595090, dtype: int64
3595142
d    63
b    23
-     6
Name: 3595142, dtype: int64
3595143
d    64
b    26
-     2
Name: 3595143, dtype: int64
3595164
d    66
b    22
-     4
Name: 3595164, dtype: int64
3595305
d    61
b    19
-    12
Name: 3595305, dtype: int64
3595833
d    66
b    20
-     6
Name: 3595833, dtype: int64
3597740
d    59
b    26
-     7
Name: 3597740, dtype: int64
3597781
d    61
b    23
-     8
Name: 3597781, dtype: int64
3597870
d    62
b    23
-     7
Name: 3597870, dtype: int64
3598378
d    61
b    23
-     8
Name: 3598378, dtype: int64
3598426

d    63
b    21
-     8
Name: 3598426, dtype: int64
3599014
d    62
b    21
-     9
Name: 3599014, dtype: int64
3599145
d    61
b    26
-     5
Name: 3599145, dtype: int64
3599160
d    66
b    21
-     5
Name: 3599160, dtype: int64
3599406
d    56
b    25
-    11
Name: 3599406, dtype: int64
3599480
d    72
b    18
-     2
Name: 3599480, dtype: int64
3599498
d    61
b    24
-     7
Name: 3599498, dtype: int64
3599518
d    56
b    24
-    12
Name: 3599518, dtype: int64
3599550
d    60
b    27
-     5
Name: 3599550, dtype: int64
3599653
d    61
b    22
-     9
Name: 3599653, dtype: int64
3599671
d    56
b    22
-    14
Name: 3599671, dtype: int64
3599917
d    64
b    24
-     4
Name: 3599917, dtype: int64
3600114
d    68
b    17
-     7
Name: 3600114, dtype: int64
3600181
d    55
b    30
-     7
Name: 3600181, dtype: int64
3600607
d    59
b    22
-    11
Name: 3600607, dtype: int64
3600752
d    62
b    23
-     7
Name: 3600752, dtype: int64
3601008
d    60
b    25
-     7
Name: 3601008, dtype: int64
3601032
d    67
b    19
-     6
Name: 3601032, dtype: int64
3601226
d    62
b    26
-     4
Name: 3601226, dtype: int64
3601262
d    65
b    21
-     6
Name: 3601262, dtype: int64
3601319
d    61
b    26
-     5
Name: 3601319, dtype: int64
3601554
d    62
b    24
-     6
Name: 3601554, dtype: int64
3601647
d    60
b    21
-    11
Name: 3601647, dtype: int64
3601922
d    60
b    25
-     7
Name: 3601922, dtype: int64
3601946
d    64
b    22
-     6
Name: 3601946, dtype: int64
3602074
d    60
b    25
-     7
Name: 3602074, dtype: int64
3602170
d    67
b    23
-     2
Name: 3602170, dtype: int64
3602354
d    63
b    20
-     9
Name: 3602354, dtype: int64
3602456
d    58
b    29
-     5
Name: 3602456, dtype: int64
3602561
d    60
b    26
-     6
Name: 3602561, dtype: int64
3602808
d    56
b    26
-    10
Name: 3602808, dtype: int64
3602819
d    62
b    21
-     9
Name: 3602819, dtype: int64
3729935
d    56
b    26
-    10
Name: 3729935, dtype: int64
3730120
d    63
b    25
-     4
Name: 3730120, dtype: int64
3730257
d    63
b    24
-     5
Name: 3730257, dtype: int64
3730752
d    61
b    25
-     6
Name: 3730752, dtype: int64
3731395
d    60
b    26
-     6
Name: 3731395, dtype: int64
3731498
d    59
b    24
-     9
Name: 3731498, dtype: int64
3732104
d    68
b    23
-     1
Name: 3732104, dtype: int64
3732556
d    54
b    23
-    15
Name: 3732556, dtype: int64
3733295
d    65
b    19
-     8
Name: 3733295, dtype: int64
3733671
d    61
b    25
-     6
Name: 3733671, dtype: int64
3733932
d    66
b    20
-     6
Name: 3733932, dtype: int64
3734110
d    61
b    22
-     9
Name: 3734110, dtype: int64
3734625
d    65
b    24
-     3
Name: 3734625, dtype: int64
3734980
d    63
b    27
-     2
Name: 3734980, dtype: int64
3735202
d    63
b    23
-     6
Name: 3735202, dtype: int64
3735801
d    55
b    25
-    12
Name: 3735801, dtype: int64
3736043
d    56
b    28
-     8
Name: 3736043, dtype: int64
3736079
d    59
b    19
-    14
Name: 3736079, dtype: int64
3736188
d    57
b    24
-    11
Name: 3736188, dtype: int64
3736398
d    62
b    27
-     3
Name: 3736398, dtype: int64
3736934
d    57
b    27
-     8
Name: 3736934, dtype: int64
3736938
d    67
b    23
-     2
Name: 3736938, dtype: int64
3737392
d    54
b    29
-     9
Name: 3737392, dtype: int64
3737910
d    63
b    21
-     8
Name: 3737910, dtype: int64
3737926
d    62
b    24
-     6
Name: 3737926, dtype: int64
3738583
d    61
b    29
-     2
Name: 3738583, dtype: int64
3739883
d    60
b    23
-     9
Name: 3739883, dtype: int64
3739950
d    65
b    22
-     5
Name: 3739950, dtype: int64
3740050
d    62
b    24
-     6
Name: 3740050, dtype: int64
3740071
d    61
b    21
-    10
Name: 3740071, dtype: int64
3740393
d    58
b    22
-    12
Name: 3740393, dtype: int64
3740845
d    58
b    21
-    13
Name: 3740845, dtype: int64
3741326
d    62
b    22
-     8
Name: 3741326, dtype: int64
3742044
d    63
b    25
-     4
Name: 3742044, dtype: int64
3742142
d    60
b    24
-     8
Name: 3742142, dtype: int64
3742171
d    67
b    22
-     3
Name: 3742171, dtype: int64
3742502
d    71
b    14
-     7
Name: 3742502, dtype: int64
3743006
d    57
b    28
-     7
Name: 3743006, dtype: int64
3744739
d    60
b    26
-     6
Name: 3744739, dtype: int64
3744940
d    54
b    24
-    14
Name: 3744940, dtype: int64
3746020
d    57
b    26
-     9
Name: 3746020, dtype: int64
3746080
d    60
b    25
-     7
Name: 3746080, dtype: int64
3746178
d    58
b    25
-     9
Name: 3746178, dtype: int64
3746369
d    62
b    21
-     9
Name: 3746369, dtype: int64
3746486
d    66
b    22
-     4
Name: 3746486, dtype: int64
3746609
d    60
b    23
-     9
Name: 3746609, dtype: int64
3748001
d    57
b    28
-     7
Name: 3748001, dtype: int64
3748470
d    55
b    25
-    12
Name: 3748470, dtype: int64
3748749
d    65
b    24
-     3
Name: 3748749, dtype: int64
3749293
d    57
b    26
-     9
Name: 3749293, dtype: int64
3749382
d    66
-    14
b    12
Name: 3749382, dtype: int64
3749712
d    58
b    21
-    13
Name: 3749712, dtype: int64
3750517
d    62
b    26
-     4
Name: 3750517, dtype: int64
3882936
d    57
b    29
-     6
Name: 3882936, dtype: int64
3883102
d    66
b    22
-     4
Name: 3883102, dtype: int64
3883120
d    58
b    21
-    13
Name: 3883120, dtype: int64
3884161
d    66
b    23
-     3
Name: 3884161, dtype: int64
3884212
d    62
b    26
-     4
Name: 3884212, dtype: int64
3884458
d    56
b    26
-    10
Name: 3884458, dtype: int64
3884615
d    58
b    27
-     7
Name: 3884615, dtype: int64
3884692
d    61
b    22
-     9
Name: 3884692, dtype: int64
3884765
d    61
b    24
-     7
Name: 3884765, dtype: int64
3885119
d    59
b    25
-     8
Name: 3885119, dtype: int64
3885774
d    59
b    26
-     7
Name: 3885774, dtype: int64
3885984
d    59
b    24
-     9
Name: 3885984, dtype: int64
3886016
d    65
b    22
-     5
Name: 3886016, dtype: int64
3886133
d    66
b    20
-     6
Name: 3886133, dtype: int64
3886338
d    65
b    24
-     3
Name: 3886338, dtype: int64
3886385
d    55
b    22
-    15
Name: 3886385, dtype: int64
3886426
d    60
b    24
-     8
Name: 3886426, dtype: int64
3886452
d    65
b    24
-     3
Name: 3886452, dtype: int64
3886566
d    55
b    28
-     9
Name: 3886566, dtype: int64
3887217
d    67
b    21
-     4
Name: 3887217, dtype: int64
3887270
d    63
b    27
-     2
Name: 3887270, dtype: int64
3887665
d    61
b    26
-     5
Name: 3887665, dtype: int64
3887700
d    61
b    26
-     5
Name: 3887700, dtype: int64
3888047
d    68
b    19
-     5
Name: 3888047, dtype: int64
3889089
d    61
b    27
-     4
Name: 3889089, dtype: int64
3889488
d    63
b    24
-     5
Name: 3889488, dtype: int64
3889533
d    62
b    20
-    10
Name: 3889533, dtype: int64
3889652
d    68
b    20
-     4
Name: 3889652, dtype: int64
3889776
d    65
b    23
-     4
Name: 3889776, dtype: int64
3890051
d    65
b    20
-     7
Name: 3890051, dtype: int64
3890426
d    62
b    22
-     8
Name: 3890426, dtype: int64
3890774
d    55
b    27
-    10
Name: 3890774, dtype: int64
3890830
d    57
b    27
-     8
Name: 3890830, dtype: int64
3891263
d    57
b    27
-     8
Name: 3891263, dtype: int64
3891886
d    63
b    22
-     7
Name: 3891886, dtype: int64
3892011
d    64
b    22
-     6
Name: 3892011, dtype: int64
3892025
d    61
b    24
-     7
Name: 3892025, dtype: int64
3892377
d    70
b    19
-     3
Name: 3892377, dtype: int64
3892601
d    71
b    20
-     1
Name: 3892601, dtype: int64
3892663
d    60
b    26
-     6
Name: 3892663, dtype: int64
3892925
d    59
b    27
-     6
Name: 3892925, dtype: int64
3892980
d    62
b    20
-    10
Name: 3892980, dtype: int64
3893883
d    66
b    20
-     6
Name: 3893883, dtype: int64
3893935
d    57
b    29
-     6
Name: 3893935, dtype: int64
3894001
d    57
b    24
-    11
Name: 3894001, dtype: int64
3894276
d    65
b    20
-     7
Name: 3894276, dtype: int64
3894525
d    67
b    23
-     2
Name: 3894525, dtype: int64
3894739
d    62
b    22
-     8
Name: 3894739, dtype: int64
3895363
d    70
b    19
-     3
Name: 3895363, dtype: int64
3895410
d    60
b    25
-     7
Name: 3895410, dtype: int64
3895495
d    60
b    18
-    14
Name: 3895495, dtype: int64
3895502
d    64
b    27
-     1
Name: 3895502, dtype: int64
3895616
d    65
b    21
-     6
Name: 3895616, dtype: int64
3895861
d    65
b    23
-     4
Name: 3895861, dtype: int64
3895979
d    63
b    22
-     7
Name: 3895979, dtype: int64
3896096
d    60
b    26
-     6
Name: 3896096, dtype: int64
3896241
d    56
b    26
-    10
Name: 3896241, dtype: int64
3896256
d    69
b    21
-     2
Name: 3896256, dtype: int64
3896827
d    63
b    19
-    10
Name: 3896827, dtype: int64
3897376
d    65
b    21
-     6
Name: 3897376, dtype: int64
3897622
d    58
b    23
-    11
Name: 3897622, dtype: int64
3897888
d    62
b    19
-    11
Name: 3897888, dtype: int64
3898689
d    62
b    26
-     4
Name: 3898689, dtype: int64
3898694
d    58
b    25
-     9
Name: 3898694, dtype: int64
3898781
d    67
b    22
-     3
Name: 3898781, dtype: int64
3899423
d    65
b    19
-     8
Name: 3899423, dtype: int64
3899871
d    63
b    24
-     5
Name: 3899871, dtype: int64
3899875
d    56
b    29
-     7
Name: 3899875, dtype: int64
3899939
d    67
b    21
-     4
Name: 3899939, dtype: int64
3900037
d    60
b    27
-     5
Name: 3900037, dtype: int64
3900175
d    63
b    27
-     2
Name: 3900175, dtype: int64
3900386
d    57
b    29
-     6
Name: 3900386, dtype: int64
3900709
d    55
b    25
-    12
Name: 3900709, dtype: int64
3901339
d    72
b    19
-     1
Name: 3901339, dtype: int64
3902025
d    66
b    21
-     5
Name: 3902025, dtype: int64
3902087
d    65
b    20
-     7
Name: 3902087, dtype: int64
3902119
d    65
b    19
-     8
Name: 3902119, dtype: int64
3902235
d    53
b    24
-    15
Name: 3902235, dtype: int64
3902271
d    56
b    26
-    10
Name: 3902271, dtype: int64
3902321
d    63
b    21
-     8
Name: 3902321, dtype: int64
3902343
d    63
b    24
-     5
Name: 3902343, dtype: int64
3902452
d    61
b    24
-     7
Name: 3902452, dtype: int64
3902984
d    56
b    29
-     7
Name: 3902984, dtype: int64
3903250
d    63
b    26
-     3
Name: 3903250, dtype: int64
3903310
d    60
b    28
-     4
Name: 3903310, dtype: int64
3903592
d    62
b    21
-     9
Name: 3903592, dtype: int64
3903601
d    63
b    23
-     6
Name: 3903601, dtype: int64
3903623
d    60
b    25
-     7
Name: 3903623, dtype: int64
3904181
d    60
b    22
-    10
Name: 3904181, dtype: int64
3904485
d    60
b    27
-     5
Name: 3904485, dtype: int64
3905198
d    69
b    20
-     3
Name: 3905198, dtype: int64
3905219
d    60
b    29
-     3
Name: 3905219, dtype: int64
3905317
d    59
b    21
-    12
Name: 3905317, dtype: int64
3905442
d    60
b    25
-     7
Name: 3905442, dtype: int64
3905563
d    56
b    24
-    12
Name: 3905563, dtype: int64
3905898
d    60
b    29
-     3
Name: 3905898, dtype: int64
3908216
d    57
b    19
-    16
Name: 3908216, dtype: int64
3908595
d    64
b    20
-     8
Name: 3908595, dtype: int64
3909663
d    63
-    16
b    13
Name: 3909663, dtype: int64
4099749
d    62
b    24
-     6
Name: 4099749, dtype: int64
4104291
d    62
b    27
-     3
Name: 4104291, dtype: int64
4105136
d    60
b    24
-     8
Name: 4105136, dtype: int64
4105433
d    66
b    21
-     5
Name: 4105433, dtype: int64
4484592
d    61
b    24
-     7
Name: 4484592, dtype: int64
4484783
d    61
b    25
-     6
Name: 4484783, dtype: int64
4485127
d    59
b    22
-    11
Name: 4485127, dtype: int64
4485207
d    61
b    28
-     3
Name: 4485207, dtype: int64
4485382
d    64
b    26
-     2
Name: 4485382, dtype: int64
4485462
d    64
b    21
-     7
Name: 4485462, dtype: int64
4486126
d    62
b    26
-     4
Name: 4486126, dtype: int64
4486226
d    67
b    20
-     5
Name: 4486226, dtype: int64
4486274
d    60
b    28
-     4
Name: 4486274, dtype: int64
4486370
d    65
b    21
-     6
Name: 4486370, dtype: int64
4486499
d    65
b    24
-     3
Name: 4486499, dtype: int64
4486513
d    61
b    23
-     8
Name: 4486513, dtype: int64
4487113
d    61
b    29
-     2
Name: 4487113, dtype: int64
4487447
d    62
b    26
-     4
Name: 4487447, dtype: int64
4487514
d    63
b    27
-     2
Name: 4487514, dtype: int64
4487833
d    60
b    28
-     4
Name: 4487833, dtype: int64
4488087
d    68
b    22
-     2
Name: 4488087, dtype: int64
4488228
d    67
b    21
-     4
Name: 4488228, dtype: int64
4488446
d    65
b    24
-     3
Name: 4488446, dtype: int64
4488535
d    61
b    26
-     5
Name: 4488535, dtype: int64
4488568
d    65
b    20
-     7
Name: 4488568, dtype: int64
4488707
d    65
b    19
-     8
Name: 4488707, dtype: int64
4488757
d    64
b    22
-     6
Name: 4488757, dtype: int64
4488898
d    66
b    22
-     4
Name: 4488898, dtype: int64
4489368
d    70
b    19
-     3
Name: 4489368, dtype: int64
4489405
d    69
b    18
-     5
Name: 4489405, dtype: int64
4489418
d    65
b    26
-     1
Name: 4489418, dtype: int64
4489821
d    55
b    25
-    12
Name: 4489821, dtype: int64
4490832
d    57
b    31
-     4
Name: 4490832, dtype: int64
4491197
d    61
b    26
-     5
Name: 4491197, dtype: int64
4491611
d    71
b    18
-     3
Name: 4491611, dtype: int64
4491843
d    60
b    24
-     8
Name: 4491843, dtype: int64
4491942
d    60
b    28
-     4
Name: 4491942, dtype: int64
4492173
d    67
b    23
-     2
Name: 4492173, dtype: int64
4492240
d    66
b    24
-     2
Name: 4492240, dtype: int64
4492245
d    68
b    21
-     3
Name: 4492245, dtype: int64
4492264
d    64
b    19
-     9
Name: 4492264, dtype: int64
4492354
d    58
b    29
-     5
Name: 4492354, dtype: int64
4492670
d    62
b    24
-     6
Name: 4492670, dtype: int64
4492989
d    66
b    22
-     4
Name: 4492989, dtype: int64
4493121
d    57
b    22
-    13
Name: 4493121, dtype: int64
4493224
d    66
b    20
-     6
Name: 4493224, dtype: int64
4493336
d    60
b    29
-     3
Name: 4493336, dtype: int64
4493650
d    67
b    22
-     3
Name: 4493650, dtype: int64
4493700
d    62
b    23
-     7
Name: 4493700, dtype: int64
4493816
d    67
b    23
-     2
Name: 4493816, dtype: int64
4494023
d    69
b    20
-     3
Name: 4494023, dtype: int64
4494161
d    59
b    23
-    10
Name: 4494161, dtype: int64
4494738
d    68
b    23
-     1
Name: 4494738, dtype: int64
4495056
d    63
b    22
-     7
Name: 4495056, dtype: int64
4495640
d    65
b    21
-     6
Name: 4495640, dtype: int64
4496029
d    72
b    18
-     2
Name: 4496029, dtype: int64
4496153
d    66
b    22
-     4
Name: 4496153, dtype: int64
4496435
d    63
b    23
-     6
Name: 4496435, dtype: int64
4497386
d    67
b    22
-     3
Name: 4497386, dtype: int64
4497526
d    69
b    18
-     5
Name: 4497526, dtype: int64
4497783
d    66
b    22
-     4
Name: 4497783, dtype: int64
4497837
d    65
b    23
-     4
Name: 4497837, dtype: int64
4497878
d    53
b    23
-    16
Name: 4497878, dtype: int64
4498092
d    62
b    23
-     7
Name: 4498092, dtype: int64
4498661
d    62
b    26
-     4
Name: 4498661, dtype: int64
4500011
d    64
b    26
-     2

Name: 4500011, dtype: int64
5035584
d    67
b    22
-     3
Name: 5035584, dtype: int64
5036026
d    64
b    21
-     7
Name: 5036026, dtype: int64
5036878
d    65
b    22
-     5
Name: 5036878, dtype: int64
5037162
d    55
b    24
-    13
Name: 5037162, dtype: int64
5037284
d    64
b    25
-     3
Name: 5037284, dtype: int64
5038094
d    61
b    25
-     6
Name: 5038094, dtype: int64
5038504
d    59
b    27
-     6
Name: 5038504, dtype: int64
5038588
d    66
b    19
-     7
Name: 5038588, dtype: int64
5038645
d    59
b    24
-     9
Name: 5038645, dtype: int64
5039364
d    64
b    25
-     3
Name: 5039364, dtype: int64
5039861
d    67
b    23
-     2
Name: 5039861, dtype: int64
5040484
d    64
b    24
-     4
Name: 5040484, dtype: int64
5040739
d    56
b    23
-    13
Name: 5040739, dtype: int64
5041691
d    59
b    26
-     7
Name: 5041691, dtype: int64
5042065
d    55
b    25
-    12
Name: 5042065, dtype: int64
5042164
d    61
b    23
-     8
Name: 5042164, dtype: int64
5042508
d    63
b    23
-     6
Name: 5042508, dtype: int64
5042645
d    62
b    25
-     5
Name: 5042645, dtype: int64
5043056
d    55
b    26
-    11
Name: 5043056, dtype: int64
5043403
d    65
b    23
-     4
Name: 5043403, dtype: int64
5044319
d    60
b    25
-     7
Name: 5044319, dtype: int64
5044332
d    63
b    24
-     5
Name: 5044332, dtype: int64
5045430
d    60
b    24
-     8
Name: 5045430, dtype: int64
5045643
d    57
b    26
-     9
Name: 5045643, dtype: int64
5045716
d    58
b    24
-    10
Name: 5045716, dtype: int64
5046117
d    58
b    23
-    11
Name: 5046117, dtype: int64
5137819
d    63
b    24
-     5
Name: 5137819, dtype: int64
5137928
d    56
b    22
-    14
Name: 5137928, dtype: int64
5138461
d    57
b    22
-    13
Name: 5138461, dtype: int64
5138530
d    57
b    26
-     9
Name: 5138530, dtype: int64
5138815
d    61
b    22
-     9
Name: 5138815, dtype: int64
5139067
d    67
b    18
-     7
Name: 5139067, dtype: int64
5200026
d    59
b    22
-    11
Name: 5200026, dtype: int64
5200036
d    63
b    27
-     2
Name: 5200036, dtype: int64
5200074
d    66
b    23
-     3
Name: 5200074, dtype: int64
5200371
d    61
b    20
-    11
Name: 5200371, dtype: int64
5200378
d    69
b    19
-     4
Name: 5200378, dtype: int64
5200812
d    67
b    21
-     4
Name: 5200812, dtype: int64
5200845
d    66
b    18
-     8
Name: 5200845, dtype: int64
5200871
d    61
b    26
-     5
Name: 5200871, dtype: int64
5201131
d    62
b    23
-     7
Name: 5201131, dtype: int64
5201185
d    60
b    23
-     9
Name: 5201185, dtype: int64
5201443
d    68
b    20
-     4
Name: 5201443, dtype: int64
5201448
d    58
b    26
-     8
Name: 5201448, dtype: int64
5201534
d    59
b    30
-     3
Name: 5201534, dtype: int64
5201738
d    62
b    23
-     7
Name: 5201738, dtype: int64
5202023
d    62
b    25
-     5
Name: 5202023, dtype: int64
5202037
d    66
b    26
Name: 5202037, dtype: int64
5202164
d    57
b    22
-    13
Name: 5202164, dtype: int64
5202535
d    62
b    24
-     6
Name: 5202535, dtype: int64
5202673
d    59
b    26
-     7
Name: 5202673, dtype: int64
5202753
d    67
b    20
-     5
Name: 5202753, dtype: int64
5202864
d    59
b    26
-     7
Name: 5202864, dtype: int64
5202944
d    60
b    20
-    12
Name: 5202944, dtype: int64
5203072
d    59
b    24
-     9
Name: 5203072, dtype: int64
5203182
d    58
b    23
-    11
Name: 5203182, dtype: int64
5203375
d    51
b    34
-     7
Name: 5203375, dtype: int64
5203583
d    65
b    25
-     2
Name: 5203583, dtype: int64
5203725
d    60
b    27
-     5
Name: 5203725, dtype: int64
5203796
d    65
b    22
-     5
Name: 5203796, dtype: int64
5203910
d    57
b    29
-     6
Name: 5203910, dtype: int64
5203954
d    57
b    27
-     8
Name: 5203954, dtype: int64
5204853
d    63
b    23
-     6
Name: 5204853, dtype: int64
5204859
d    71
b    19
-     2
Name: 5204859, dtype: int64
5204895
d    66
b    23
-     3
Name: 5204895, dtype: int64
5205090
d    59
b    28
-     5
Name: 5205090, dtype: int64
5205130
d    58
b    31
-     3
Name: 5205130, dtype: int64
5205235
d    61
b    20
-    11
Name: 5205235, dtype: int64
5205262
d    57
b    30
-     5
Name: 5205262, dtype: int64
5205288
d    64
b    25
-     3
Name: 5205288, dtype: int64
5206193
d    63
b    28
-     1
Name: 5206193, dtype: int64
5206445
d    68
b    20
-     4
Name: 5206445, dtype: int64
5207356
d    55
b    27
-    10
Name: 5207356, dtype: int64
5207361
d    72
b    20
Name: 5207361, dtype: int64
5207742
d    58
b    24
-    10
Name: 5207742, dtype: int64
5207910
d    65
b    21
-     6
Name: 5207910, dtype: int64
5207965
d    69
b    20
-     3
Name: 5207965, dtype: int64
5207989
d    64
b    22
-     6
Name: 5207989, dtype: int64
5207990
d    63
b    24
-     5
Name: 5207990, dtype: int64
5208403
d    63
b    25
-     4
Name: 5208403, dtype: int64
5208689
d    61
b    26
-     5
Name: 5208689, dtype: int64
5208748
d    68
b    21
-     3
Name: 5208748, dtype: int64
5208784
d    60
b    24
-     8
Name: 5208784, dtype: int64
5208913
d    56
b    23
-    13
Name: 5208913, dtype: int64
5208956
d    64
b    23
-     5
Name: 5208956, dtype: int64
5209467
d    59
b    28
-     5
Name: 5209467, dtype: int64
5209567
d    63
b    20
-     9
Name: 5209567, dtype: int64
5209623
d    57
b    25
-    10
Name: 5209623, dtype: int64
5209639
d    64
b    27
-     1
Name: 5209639, dtype: int64
5209772
d    64
b    22
-     6
Name: 5209772, dtype: int64
5209836
d    65
b    25
-     2
Name: 5209836, dtype: int64
5209878
d    65
b    24
-     3
Name: 5209878, dtype: int64
5209980
d    62
b    24
-     6
Name: 5209980, dtype: int64
5210030
d    55
b    29
-     8
Name: 5210030, dtype: int64
5210163
d    73
b    18
-     1
Name: 5210163, dtype: int64
5210248
d    56
b    25
-    11
Name: 5210248, dtype: int64
5210605
d    64
b    24
-     4
Name: 5210605, dtype: int64
5210708
d    63
b    24
-     5
Name: 5210708, dtype: int64
5210779
d    58
b    28
-     6
Name: 5210779, dtype: int64
5211307
d    69
b    20
-     3
Name: 5211307, dtype: int64
5211449
d    56
b    29
-     7
Name: 5211449, dtype: int64
5211762
d    62
b    23
-     7
Name: 5211762, dtype: int64
5212243
d    64
b    26
-     2
Name: 5212243, dtype: int64
5212347
d    60
b    25
-     7
Name: 5212347, dtype: int64
5212663
d    54
b    22
-    16
Name: 5212663, dtype: int64
5212691
d    55
b    28
-     9
Name: 5212691, dtype: int64
5212759
d    62
b    18
-    12
Name: 5212759, dtype: int64
5212773
d    64
b    26
-     2
Name: 5212773, dtype: int64
5212794
d    69
b    20
-     3
Name: 5212794, dtype: int64
5212985
d    64
b    21
-     7
Name: 5212985, dtype: int64
5213084
d    61
b    24
-     7
Name: 5213084, dtype: int64
5213127
d    67
b    22
-     3
Name: 5213127, dtype: int64
5213193
d    61
b    23
-     8
Name: 5213193, dtype: int64
5214086
d    65
b    24
-     3
Name: 5214086, dtype: int64
5214316
d    65
b    22
-     5
Name: 5214316, dtype: int64
5214424
d    59
b    23
-    10
Name: 5214424, dtype: int64
5214695
d    59
b    21
-    12
Name: 5214695, dtype: int64
5214839
d    62
b    20
-    10
Name: 5214839, dtype: int64
5215028
d    63
b    19
-    10
Name: 5215028, dtype: int64
5215615
d    68
b    23
-     1
Name: 5215615, dtype: int64
5215768
d    60
b    23
-     9
Name: 5215768, dtype: int64
5215916
d    63
b    23
-     6
Name: 5215916, dtype: int64
5215924
d    59
b    26
-     7
Name: 5215924, dtype: int64
5215984
d    64
b    22
-     6
Name: 5215984, dtype: int64
5216277
d    64
b    23
-     5
Name: 5216277, dtype: int64
5216317
d    60
b    22
-    10
Name: 5216317, dtype: int64
5216331
d    62
b    25
-     5
Name: 5216331, dtype: int64
5216370
d    66
b    23
-     3
Name: 5216370, dtype: int64
5216618
d    64
b    26
-     2
Name: 5216618, dtype: int64
5216639
d    62
b    29
-     1
Name: 5216639, dtype: int64
5216764
d    54
b    28
-    10
Name: 5216764, dtype: int64
5216771
d    67
b    22
-     3
Name: 5216771, dtype: int64
5216772
d    69
b    21
-     2
Name: 5216772, dtype: int64
5217117
d    63
b    23
-     6
Name: 5217117, dtype: int64
5217376
d    64
b    25
-     3
Name: 5217376, dtype: int64
5217424
d    57
b    23
-    12
Name: 5217424, dtype: int64
5217811
d    60
b    22
-    10
Name: 5217811, dtype: int64
5217853
d    62
b    26
-     4
Name: 5217853, dtype: int64
5218248
d    67
b    20
-     5
Name: 5218248, dtype: int64
5218352
d    69
b    19
-     4
Name: 5218352, dtype: int64
5218354
d    52
b    31
-     9
Name: 5218354, dtype: int64
5218454
d    58
b    26
-     8
Name: 5218454, dtype: int64
5218535
d    68
b    20
-     4
Name: 5218535, dtype: int64
5218587
d    54
b    23
-    15
Name: 5218587, dtype: int64
5218705
d    63
b    27
-     2
Name: 5218705, dtype: int64
5219271
d    60
b    28
-     4
Name: 5219271, dtype: int64
5219393
d    64
b    24
-     4
Name: 5219393, dtype: int64
5219492
d    64
b    21
-     7
Name: 5219492, dtype: int64
5219557
d    61
b    22
-     9
Name: 5219557, dtype: int64
5219666
d    58
b    24
-    10
Name: 5219666, dtype: int64
5219876
d    65
b    24
-     3
Name: 5219876, dtype: int64
5219914
d    69
b    20
-     3
Name: 5219914, dtype: int64
5220678
d    62
b    22
-     8
Name: 5220678, dtype: int64
5220695
d    57
b    27
-     8
Name: 5220695, dtype: int64
5220736
d    63
b    23
-     6
Name: 5220736, dtype: int64
5220769
d    60
b    24
-     8
Name: 5220769, dtype: int64
5220819
d    61
b    18
-    13
Name: 5220819, dtype: int64
5220828
d    57
b    28
-     7
Name: 5220828, dtype: int64
5221009
d    69
b    21
-     2
Name: 5221009, dtype: int64
5221332
d    58
b    27
-     7
Name: 5221332, dtype: int64
5221365
d    57
b    28
-     7
Name: 5221365, dtype: int64
5221641
d    57
b    26
-     9
Name: 5221641, dtype: int64
5221768
d    63
b    23
-     6
Name: 5221768, dtype: int64
5222070
d    61
b    24
-     7
Name: 5222070, dtype: int64
5222295
d    69
b    21
-     2
Name: 5222295, dtype: int64
5222339
d    59
b    26
-     7
Name: 5222339, dtype: int64
5222434
d    59
b    20
-    13
Name: 5222434, dtype: int64
5222529
d    64
b    20
-     8
Name: 5222529, dtype: int64
5222702
d    66
b    19
-     7
Name: 5222702, dtype: int64
5223194
d    60
b    26
-     6
Name: 5223194, dtype: int64
5223643
d    58
b    23
-    11
Name: 5223643, dtype: int64
5223762
d    59
b    20
-    13
Name: 5223762, dtype: int64
5224396
d    58
b    22
-    12
Name: 5224396, dtype: int64
5224638
d    57
b    28
-     7
Name: 5224638, dtype: int64
5224694
d    59
b    22
-    11
Name: 5224694, dtype: int64
5224976
d    48
b    30
-    14
Name: 5224976, dtype: int64
5225042
d    64
b    23
-     5
Name: 5225042, dtype: int64
5225390
d    68
b    21
-     3
Name: 5225390, dtype: int64
5225497
d    55
b    23
-    14
Name: 5225497, dtype: int64
5225527
d    61
b    24
-     7
Name: 5225527, dtype: int64
5225742
d    63
b    22
-     7
Name: 5225742, dtype: int64
5225946
d    62
b    24
-     6
Name: 5225946, dtype: int64
5226035
d    61
b    27
-     4
Name: 5226035, dtype: int64
5226272
d    58
b    26
-     8
Name: 5226272, dtype: int64
5226301
d    66
b    25
-     1
Name: 5226301, dtype: int64
5226518
d    62
b    24
-     6
Name: 5226518, dtype: int64
5226803
d    60
b    23
-     9
Name: 5226803, dtype: int64
5226962
d    57
b    27
-     8
Name: 5226962, dtype: int64
5226981
d    64
b    21
-     7
Name: 5226981, dtype: int64
5227402
d    51
b    28
-    13
Name: 5227402, dtype: int64
5227478
d    67
b    22
-     3
Name: 5227478, dtype: int64
5227519
d    65
b    21
-     6
Name: 5227519, dtype: int64
5227640
d    56
b    25
-    11
Name: 5227640, dtype: int64
5227648
d    68
b    21
-     3
Name: 5227648, dtype: int64
5227778
d    64
b    25
-     3
Name: 5227778, dtype: int64
5227901
d    61
b    19
-    12
Name: 5227901, dtype: int64
5227984
d    73
b    18
-     1
Name: 5227984, dtype: int64
5228093
d    61
b    24
-     7
Name: 5228093, dtype: int64
5486182
d    54
b    29
-     9
Name: 5486182, dtype: int64
5486275
d    58
b    27
-     7
Name: 5486275, dtype: int64
5486753
d    63
b    24
-     5
Name: 5486753, dtype: int64
5486862
d    64
b    19
-     9
Name: 5486862, dtype: int64
5486899
d    54
b    27
-    11
Name: 5486899, dtype: int64
5486924
d    59
b    26
-     7
Name: 5486924, dtype: int64
5486950
d    60
b    21
-    11
Name: 5486950, dtype: int64
5487156
d    58
b    25
-     9
Name: 5487156, dtype: int64
5487381
d    64
b    22
-     6
Name: 5487381, dtype: int64
5488096
d    61
b    25
-     6
Name: 5488096, dtype: int64
5488220
d    64
b    26
-     2
Name: 5488220, dtype: int64
5488753
d    56
b    26
-    10
Name: 5488753, dtype: int64
5488794
d    62
b    27
-     3
Name: 5488794, dtype: int64
5488860
d    54
b    30
-     8
Name: 5488860, dtype: int64
5489037
d    63
b    22
-     7
Name: 5489037, dtype: int64
5489249
d    69
b    20
-     3
Name: 5489249, dtype: int64
5489456
d    63
b    23
-     6
Name: 5489456, dtype: int64
5492364
d    63
b    25
-     4
Name: 5492364, dtype: int64
5493345
d    71
b    19
-     2
Name: 5493345, dtype: int64
5493550
d    61
b    30
-     1
Name: 5493550, dtype: int64
5493764
d    62
b    20
-    10
Name: 5493764, dtype: int64
5493961
d    72
b    19
-     1
Name: 5493961, dtype: int64
5493976
d    66
b    24
-     2
Name: 5493976, dtype: int64
5493982
d    72
b    18
-     2
Name: 5493982, dtype: int64
5493990
d    68
b    22
-     2
Name: 5493990, dtype: int64
5494052
d    59
b    26
-     7
Name: 5494052, dtype: int64
5494617
d    64
b    23
-     5
Name: 5494617, dtype: int64
5494936
d    68
b    21
-     3
Name: 5494936, dtype: int64
5494970
d    71
b    20
-     1
Name: 5494970, dtype: int64
5495045
d    60
b    24
-     8
Name: 5495045, dtype: int64
5496349
d    62
b    26
-     4
Name: 5496349, dtype: int64
5496422
d    62
b    27
-     3
Name: 5496422, dtype: int64
5498921
d    61
b    26
-     5
Name: 5498921, dtype: int64
5499072
d    66
b    22
-     4
Name: 5499072, dtype: int64
5499749
d    64
b    26
-     2
Name: 5499749, dtype: int64
5499790
d    71
b    19
-     2
Name: 5499790, dtype: int64
5499831
d    56
b    26
-    10
Name: 5499831, dtype: int64
5499874
d    64
b    18
-    10
Name: 5499874, dtype: int64
5500187
d    67
b    22
-     3
Name: 5500187, dtype: int64
5501200
d    63
b    22
-     7
Name: 5501200, dtype: int64
5502583
d    72
b    19
-     1
Name: 5502583, dtype: int64
5502683
d    63
b    23
-     6
Name: 5502683, dtype: int64
5502708
d    68
b    19
-     5
Name: 5502708, dtype: int64
5503529
d    63
b    23
-     6
Name: 5503529, dtype: int64
5503589
d    59
b    23
-    10
Name: 5503589, dtype: int64
5503646
d    66
b    22
-     4
Name: 5503646, dtype: int64
5503992
d    68
b    19
-     5
Name: 5503992, dtype: int64
5504460
d    54
b    24
-    14
Name: 5504460, dtype: int64
5504603
d    66
b    18
-     8

Name: 5504603, dtype: int64
5505046
d    65
b    25
-     2
Name: 5505046, dtype: int64
5505282
d    64
b    22
-     6
Name: 5505282, dtype: int64
5505288
d    65
b    24
-     3
Name: 5505288, dtype: int64
5757149
d    61
b    22
-     9
Name: 5757149, dtype: int64
5757569
d    58
b    25
-     9
Name: 5757569, dtype: int64
5768259
d    67
b    19
-     6
Name: 5768259, dtype: int64
5768627
d    68
b    21
-     3
Name: 5768627, dtype: int64
5792216
d    70
b    20
-     2
Name: 5792216, dtype: int64
5792432
d    70
b    19
-     3
Name: 5792432, dtype: int64
5796307
d    57
b    27
-     8
Name: 5796307, dtype: int64
5798086
d    68
b    22
-     2
Name: 5798086, dtype: int64
5801222
d    66
b    24
-     2
Name: 5801222, dtype: int64
5802569
d    68
b    22
-     2
Name: 5802569, dtype: int64
5802732
d    67
b    20
-     5
Name: 5802732, dtype: int64
5804179
d    66
b    15
-    11
Name: 5804179, dtype: int64
5805218
d    62
b    24
-     6
Name: 5805218, dtype: int64
6209794
d    57
b    22
-    13
Name: 6209794, dtype: int64
6209968
d    58
b    24
-    10
Name: 6209968, dtype: int64
6210180
d    64
b    22
-     6
Name: 6210180, dtype: int64
6211041
d    66
b    22
-     4
Name: 6211041, dtype: int64
6211609
d    64
b    21
-     7
Name: 6211609, dtype: int64
7062495
d    62
b    24
-     6
Name: 7062495, dtype: int64
7069066
d    66
b    22
-     4
Name: 7069066, dtype: int64
7069118
d    65
b    26
-     1
Name: 7069118, dtype: int64
7091185
d    57
b    27
-     8
Name: 7091185, dtype: int64
7093019
d    59
b    24
-     9
Name: 7093019, dtype: int64
7096563
d    61
b    26
-     5
Name: 7096563, dtype: int64
7096724
d    59
b    28
-     5
Name: 7096724, dtype: int64
7096982
d    63
b    26
-     3
Name: 7096982, dtype: int64
7097339
d    58
b    28
-     6
Name: 7097339, dtype: int64
7097965
d    57
b    27
-     8
Name: 7097965, dtype: int64
7098036
d    60
b    23
-     9
Name: 7098036, dtype: int64
7098053
d    57
b    24
-    11
Name: 7098053, dtype: int64
7098072
d    57
b    28
-     7
Name: 7098072, dtype: int64
7098100
d    64
b    24
-     4
Name: 7098100, dtype: int64
7098133
d    54
b    29
-     9
Name: 7098133, dtype: int64
7098138
d    57
b    24
-    11
Name: 7098138, dtype: int64
7099710
d    65
b    21
-     6
Name: 7099710, dtype: int64
7104240
d    64
b    22
-     6
Name: 7104240, dtype: int64
7104362
d    60
b    27
-     5
Name: 7104362, dtype: int64
7104940
d    69
b    19
-     4
Name: 7104940, dtype: int64
7105910
d    64
b    24
-     4
Name: 7105910, dtype: int64
7105941
d    62
b    25
-     5
Name: 7105941, dtype: int64
7357195
d    64
b    23
-     5
Name: 7357195, dtype: int64
7357751
d    56
b    26
-    10
Name: 7357751, dtype: int64
7358093
d    67
b    19
-     6
Name: 7358093, dtype: int64
7358196
d    60
b    29
-     3
Name: 7358196, dtype: int64
7410541
d    65
b    22
-     5
Name: 7410541, dtype: int64
7410803
d    66
b    23
-     3
Name: 7410803, dtype: int64
7410996
d    61
b    23
-     8
Name: 7410996, dtype: int64
7411008
d    65
b    23
-     4
Name: 7411008, dtype: int64
7411180
d    55
b    24
-    13
Name: 7411180, dtype: int64
7411238
d    61
b    29
-     2
Name: 7411238, dtype: int64
7411418
d    67
b    21
-     4
Name: 7411418, dtype: int64
7412192
d    67
b    21
-     4
Name: 7412192, dtype: int64
7414360
d    59
b    24
-     9
Name: 7414360, dtype: int64
7414721
d    67
b    19
-     6
Name: 7414721, dtype: int64
7463730
d    69
b    21
-     2
Name: 7463730, dtype: int64
7463733
d    58
b    25
-     9
Name: 7463733, dtype: int64
7463761
d    65
b    23
-     4
Name: 7463761, dtype: int64
7463814
d    64
b    25
-     3
Name: 7463814, dtype: int64
7463826
d    66
b    18
-     8
Name: 7463826, dtype: int64
7464380
d    58
b    23
-    11
Name: 7464380, dtype: int64
7464881
d    56
b    29
-     7
Name: 7464881, dtype: int64
7493128
d    57
b    27
-     8
Name: 7493128, dtype: int64
16404550
d    59
b    23
-    10
Name: 16404550, dtype: int64
16498174
d    70
b    19
-     3
Name: 16498174, dtype: int64
16501758
d    61
b    24
-     7
Name: 16501758, dtype: int64
24840915
d    69
b    22
-     1
Name: 24840915, dtype: int64
28851700
d    62
b    24
-     6
Name: 28851700, dtype: int64
28851775
d    59
b    25
-     8
Name: 28851775, dtype: int64
28851924
d    63
b    21
-     8
Name: 28851924, dtype: int64
28852582
d    65
b    21
-     6
Name: 28852582, dtype: int64
28853054
d    69
b    22
-     1
Name: 28853054, dtype: int64
28857091
d    63
b    22
-     7
Name: 28857091, dtype: int64
100000043
d    60
b    22
-    10
Name: 100000043, dtype: int64
100000098
d    57
b    24
-    11
Name: 100000098, dtype: int64
100000156
d    60
b    27
-     5
Name: 100000156, dtype: int64
100000202
d    59
b    25
-     8
Name: 100000202, dtype: int64
100000233
d    51
b    31
-    10
Name: 100000233, dtype: int64
100000234
d    59
b    25
-     8
Name: 100000234, dtype: int64
100000235
d    60
b    22
-    10
Name: 100000235, dtype: int64
100000254
d    72
b    19
-     1
Name: 100000254, dtype: int64
100000334
d    57
b    22
-    13
Name: 100000334, dtype: int64
100000390
d    63
b    27
-     2
Name: 100000390, dtype: int64
100000436
d    57
b    27
-     8
Name: 100000436, dtype: int64
100000439
d    50
b    29
-    13
Name: 100000439, dtype: int64
100000504
d    58
b    21
-    13
Name: 100000504, dtype: int64
100000508
d    58
b    28
-     6
Name: 100000508, dtype: int64
100000515
d    55
b    27
-    10
Name: 100000515, dtype: int64
100000625
d    55
b    29
-     8
Name: 100000625, dtype: int64
100000641
d    52
b    28
-    12
Name: 100000641, dtype: int64
100000688
d    65
b    23
-     4
Name: 100000688, dtype: int64
100000729
d    59
b    22
-    11
Name: 100000729, dtype: int64
100000780
d    63
b    19
-    10
Name: 100000780, dtype: int64
100000830
d    62
b    25
-     5
Name: 100000830, dtype: int64
100001020
d    53
b    23
-    16
Name: 100001020, dtype: int64
100001022
d    65
b    22
-     5
Name: 100001022, dtype: int64
100001025
d    55
b    22
-    15
Name: 100001025, dtype: int64
100001035
d    58
b    22
-    12
Name: 100001035, dtype: int64
100001036
d    53
b    26
-    13
Name: 100001036, dtype: int64
100009731
d    61
b    25
-     6
Name: 100009731, dtype: int64

In [77]:
y_val = data_raw["dw8"]
data = data_raw.drop("dw8", axis=1)

In [78]:
for dat in columns:
     numerical = {dat: {"X": 0, "-":0, "a":1, "b": 2, "B": 2, "C":3, "c":3, "D": 4, "d": 4, "h": 5, "H": 5}}
     data.replace(numerical, inplace=True)

In [79]:
data.head()

CloneID,cD7,Xpr122_1050,Xpr181_920,F25439,3341747,3341801,3341818,3341885,3341890,3341894,...,100000688,100000729,100000780,100000830,100001020,100001022,100001025,100001035,100001036,100009731
BSR2,4,4,4,5,4,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,4
BSR3,2,4,4,2,4,4,4,3,4,4,...,4,4,2,2,2,2,2,2,2,4
BSR4,4,2,4,4,4,4,4,3,4,4,...,4,4,4,4,4,4,0,4,4,4
BSR5,4,2,2,4,4,2,4,1,2,4,...,2,2,2,2,4,4,4,4,4,2
BSR6,4,4,4,4,4,4,4,1,4,4,...,4,4,4,2,4,4,4,4,4,2

In [8]:
pred_val = {"-": 0, "a": 1, "b": 2, "h": 3, "c": 4, "d": 5}
pred_val = {"-":"brak_danych"}
y_val.replace(pred_val, inplace=True)

In [9]:
data_prepared = pd.concat([data, y_val], axis=1, sort=False)

In [10]:
data_prepared.head()

,cD7,Xpr122_1050,Xpr181_920,F25439,3341747,3341801,3341818,3341885,3341890,3341894,...,100000729,100000780,100000830,100001020,100001022,100001025,100001035,100001036,100009731,dw8
BSR2,4,4,4,5,4,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,c
BSR3,2,4,4,2,4,4,4,3,4,4,...,4,2,2,2,2,2,2,2,4,b
BSR4,4,2,4,4,4,4,4,3,4,4,...,4,4,4,4,4,0,4,4,4,h
BSR5,4,2,2,4,4,2,4,1,2,4,...,2,2,2,4,4,4,4,4,2,h
BSR6,4,4,4,4,4,4,4,1,4,4,...,4,4,2,4,4,4,4,4,2,h

### Preparation

In [11]:
from sklearn.model_selection import train_test_split

features = len(data_prepared.columns) - 1
y = data_prepared['dw8']
X = data_prepared.drop("dw8", axis= 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [12]:
feature_name = X.columns

### SELECT FROM MODEL

### Random Forest

In [13]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier


embeded_rf_selector = SelectFromModel(RandomForestClassifier(n_estimators=1000), max_features=features)
embeded_rf_selector.fit(X, y)

embeded_rf_support = embeded_rf_selector.get_support()
embeded_rf_feature = X.loc[:,embeded_rf_support].columns.tolist()
print(str(len(embeded_rf_feature)), 'selected features')

1122 selected features

### XGBC

In [14]:
X_a = np.array(X)
y_a = np.array(y_val)

In [15]:
from xgboost import XGBClassifier

xgbc=XGBClassifier(n_estimators=1000)

embeded_xgbc_selector = SelectFromModel(xgbc, max_features=features)
embeded_xgbc_selector.fit(X_a, y_a)

embeded_xgbc_support = embeded_xgbc_selector.get_support()
embeded_xgbc_feature = X.loc[:,embeded_xgbc_support].columns.tolist()
print(str(len(embeded_xgbc_feature)), 'selected features')

315 selected features

### LASSO

In [16]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

embeded_lr_selector = SelectFromModel(LogisticRegression(penalty="l1"), max_features=features)
embeded_lr_selector.fit(X, y)

embeded_lr_support = embeded_lr_selector.get_support()
embeded_lr_feature = X.loc[:,embeded_lr_support].columns.tolist()
print(str(len(embeded_lr_feature)), 'selected features')

/home/jan/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/jan/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

366 selected features

### RFE

In [17]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

rfe_selector = RFE(estimator=LogisticRegression(), n_features_to_select=features, step=10)
rfe_selector.fit(X, y)
rfe_support = rfe_selector.get_support()
rfe_feature = X.loc[:,rfe_support].columns.tolist()
print(str(len(rfe_feature)), 'selected features')

/home/jan/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/jan/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

4167 selected features

### General

In [81]:
my_dict = {'RFE':rfe_support, 'Logistics':embeded_lr_support, 'Random Forest':embeded_rf_support, 
           'XGBC':embeded_xgbc_support}

feature_selection_df = pd.DataFrame.from_dict(my_dict, orient='index').transpose()

feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1)
feature_selection_df["Marker"] = feature_name
feature_selection_df = feature_selection_df.sort_values(['Total','Marker'], ascending=False)
#feature_selection_df.set_index("Marker", inplace=True)
feature_selection_df

       RFE  Logistics  Random Forest   XGBC  Total          Marker
3314  True       True           True   True      4   7415177_7:G>A
3227  True       True           True   True      4  5211717_34:T>G
3182  True       True           True   True      4   5036052_5:T>C
3156  True       True           True   True      4  3908609_61:G>C
3148  True       True           True   True      4  3905469_19:A>G
...    ...        ...            ...    ...    ...             ...
7     True      False          False  False      1         3341885
3319  True      False          False  False      1         3341855
6     True      False          False  False      1         3341818
5     True      False          False  False      1         3341801
4     True      False          False  False      1         3341747

[4167 rows x 6 columns]

In [82]:
selected = feature_selection_df[feature_selection_df['Total'] >= 3]
#selected.to_excel("selected_markers.xlsx", index=False)

In [84]:
selected

       RFE  Logistics  Random Forest  XGBC  Total          Marker
3314  True       True           True  True      4   7415177_7:G>A
3227  True       True           True  True      4  5211717_34:T>G
3182  True       True           True  True      4   5036052_5:T>C
3156  True       True           True  True      4  3908609_61:G>C
3148  True       True           True  True      4  3905469_19:A>G
...    ...        ...            ...   ...    ...             ...
45    True       True          False  True      3         3342737
37    True      False           True  True      3         3342584
26    True      False           True  True      3         3342277
17    True      False           True  True      3         3342068
3320  True      False           True  True      3         3341861

[344 rows x 6 columns]

In [21]:
#selected.to_excel("selected_markers_3.xlsx", index=False)

### TEST

In [22]:
data_prepared.head()

,cD7,Xpr122_1050,Xpr181_920,F25439,3341747,3341801,3341818,3341885,3341890,3341894,...,100000729,100000780,100000830,100001020,100001022,100001025,100001035,100001036,100009731,dw8
BSR2,4,4,4,5,4,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,c
BSR3,2,4,4,2,4,4,4,3,4,4,...,4,2,2,2,2,2,2,2,4,b
BSR4,4,2,4,4,4,4,4,3,4,4,...,4,4,4,4,4,0,4,4,4,h
BSR5,4,2,2,4,4,2,4,1,2,4,...,2,2,2,4,4,4,4,4,2,h
BSR6,4,4,4,4,4,4,4,1,4,4,...,4,4,2,4,4,4,4,4,2,h

In [31]:
selected = list(selected['Marker'])

In [32]:
selected.append("dw8")

In [33]:
data_selected = data_prepared[selected]

In [37]:
data_selected.head()

,7415177_7:G>A,5211717_34:T>G,5036052_5:T>C,3908609_61:G>C,3905469_19:A>G,3749985_47:C>A,3743545_57:C>A,3597710_41:C>G,3597673_50:G>T,3596391_43:G>T,...,3344731,3344580,3343158,3342977,3342737,3342584,3342277,3342068,3341861,dw8
BSR2,5,2,5,2,5,5,5,5,5,2,...,4,4,3,3,0,0,4,3,4,c
BSR3,5,2,5,2,5,2,2,2,2,2,...,4,2,3,3,4,3,2,3,2,b
BSR4,5,5,5,5,5,5,5,5,5,5,...,4,4,3,0,4,3,4,3,4,h
BSR5,2,1,2,1,2,2,2,1,1,1,...,2,4,1,1,2,1,4,1,4,h
BSR6,5,5,5,5,5,5,5,5,5,5,...,4,4,1,1,4,3,4,3,4,h

### Models evaluation using selected data

In [38]:
from sklearn.model_selection import train_test_split
X = data_selected.drop("dw8", axis=1)
y = data_selected['dw8']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [39]:
rfc = RandomForestClassifier(n_estimators=1000)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [40]:
from sklearn.model_selection import cross_val_score

In [43]:
scores = np.mean(cross_val_score(rfc, X_train, y_train, cv=2))
scores

0.7082228116710876

In [44]:
from sklearn.metrics import classification_report

In [50]:
predcited = rfc.predict(X_test)
report = classification_report(y_test, predcited, output_dict=True)
pd.DataFrame(report)

/home/jan/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

,a,b,brak_danych,c,d,h,accuracy,macro avg,weighted avg
precision,0.0,0.750000,0.0,0.0,0.600000,0.826087,0.756757,0.362681,0.653290
recall,0.0,0.857143,0.0,0.0,0.750000,0.950000,0.756757,0.426190,0.756757
f1-score,0.0,0.800000,0.0,0.0,0.666667,0.883721,0.756757,0.391731,0.701110
support,3.0,7.000000,2.0,1.0,4.000000,20.000000,0.756757,37.000000,37.000000